<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>헌법소원의 대상</h3>

<ul>
	<li>헌법재판소법 제68조 제1항에 의한 헌법소원</li>
	<li>헌법재판소법 제68조 제2항에 의한 헌법소원</li>
</ul>

<h4>1. 헌법재판소법 제68조 제1항에 의한 헌법소원</h4>

<p>법 제68조 제1항에서 규정하는 헌법소원심판의 대상이 되는 공권력의 행사 또는 불행사는 헌법소원의 본질상 대한민국 국가기관의 공권력작용을 의미하고 외국이나 국제기관의 공권력작용은 이에 포함되지 아니한다(헌재 1997.9.25. 96헌마159, 판례집9-2,421, 427). 공권력작용은 입법작용, 행정작용 및 사법작용으로 나눌 수 있는 바, 헌법재판소 판례를 중심으로 하여 살펴보면 다음과 같다.</p>

<h5>가.	입법작용</h5>

<h6>1) 법 률</h6>

<p>법 제68조 제1항 본문에 규정된 공권력 가운데는 입법권도 당연히 포함되므로 법률에 대한 헌법 소원도 가능하나 모든 법률이 헌법소원의 대상이 되는 것은 아니고 그 법률이 별도의 구체적 집행 행위를 기다리지 아니 하고 직접적으로, 그리고 현재적으로 헌법상 보장된 기본권을 침해하는 경우에 한정됨을 원칙으로 하며, 같은 조항 단서는 다른 법률에 구제절차가 있는 경우에는 그 절차를 모두 거친 후가 아니면 헌법소원심판을 청구할 수 없도록 규정하고 있으나, 법률자체에 의한 기본권 침해가 문제가 될 때에는 그 법률 자체의 효력을 직접 다투는 것을 소송물로 하여 일반 법원에 소송을 제기하는 길이 없어 구제절차가 있는 경우가 아니므로 다른 구제절차를 거칠 것 없이 바로 헌법소원을 제기할 수 있다(헌재 1990. 6. 25. 89헌마220, 판례집 2, 200, 203). 법률이 헌법소원의 대상이 되려면 현재 시행중인 유효한 것이어야 함이 원칙이나 법률이 일반적 효력을 발생하기 전이라도 공포되어 있는 경우에는 그 법률에 대하여 예외적으로 헌법소원을 제기할 수 있는 경우가 있다 (헌재 1994. 12. 29. 94헌마201, 판례집 6-2, 510, 523). 다만, 법률의 개폐는 입법기관의 소관사항이므로 이를 요구하는 것은 헌법소원심판청구의 대상이 될 수 없다 (헌재 1992. 6. 26. 89헌마132, 판례집 4, 387, 405).</p>

<h6>2) 입법부작위</h6>

<p>넓은 의미의 입법부작위에는 첫째, 입법자가 헌법상 입법의무가 있는 어떤 사항에 관하여 전혀 입법을 하지 아니함으로써 입법행위의 흠결이 있는 경우(즉, 입법권의 불행사)와 둘째, 입법자가 어떤 사항에 관하여 입법은 하였으나 그 입법의 내용범위와 절차 등이 당해 사항을 불완전·불충분 또는 불공정하게 규율함으로써 입법행위에 결함이 있는 경우(즉, 결함이 있는 입법권의 행사)가 있는데, 일반적으로 전자를 "진정입법부작위", 후자를 "부진정입법부작위" 라고 부르고 있다(헌재 1996. 11. 28. 95헌마161, 공보 19, 93).
어떠한 사항을 법규로 규율할 것인가의 여부는 특단의 사정이 없는 한 입법자의 정치적·경제적·사회적 각종 고려하에서 정하여지는 입법정책의 문제이므로, 국민이 국회에 대하여 일정한 입법을 해달라는 청원을 함은 별론으로 하고 법률의 제정을 청구하는 헌법소원은 헌법에서 기본권보장을 위해 법령에 명시적인 입법위임을 하였음에도 입법자가 이를 방치하고 있거나 헌법해석상 특정인에게 구체적인 기본권이 생겨 이를 보장하기 위한 국가의 행위의무 내지 보호의무가 발생하였음이 명백함에도 입법자가 전혀 아무런 입법조치를 취하고 있지 않은 경우(이른바 '진정입법부작위')가 아니면 원칙적으로 인정될 수 없다(헌재 1989. 3. 17. 88헌마1, 판례집 1, 9, 16).</p>

<h5>나.	행정작용</h5>

<p>행정작용에 대한 헌법소원에 있어서는 보충성요건 및 재판소원금지규정 때문에 검사의 불기소처분, 행정입법에 의한 직접적 기본권 침해, 행정(입법)부작위, 권력적 사실행위 등 행정소송에 의하여 권리구제를 받을 수 없거나 행정소송을 거친다 하더라도 구제 받을 수 있는 기대가능성이 없어 보충성원칙의 예외가 인정되는 경우로 제한된다.</p>

<h6>1) 행정입법 : 법규명령·규칙 등</h6>

<dl>
	<dt>㈎ 헌법 제107조 제2항과 행정입법의 심사</dt>
	<dd>헌법 제107조 제2항은 "명령·규칙 또는 처분이 헌법이나 법률에 위반되는 여부가 재판의 전제가 된 경우에는 대법원은 이를 최종적으로 심사할 권한을 가진다" 라고 규정하고 있다. 동 규정에 따르면 행정입법의 심사는 일반적인 재판절차에 의하여 구체적 규범통제의 방법에 의하도록 명시하고 있으므로, 당사자는 구체적 사건의 심판을 위한 선결문제로서 행정입법의 위법성을 주장하여 법원에 대하여 당해 사건에 대한 적용 여부의 판단을 구할 수 있을 뿐 행정 입법 자체의 합법성의 심사를 목적으로 하는 독립한 신청을 제기할 수는 없다(대법원 1994. 4. 26.자 93부32 결정, 공1994, 1705).</dd>
</dl>


<dl>
	<dt>㈏ 헌법소원의 대상이 되는 행정입법</dt>
	<dd>형식적 의미의 법률이 아닌 법규명령 또는 규칙으로 인하여 직접 기본권을 침해당한 피해자는 헌법소원의 심판을 청구할 수 있다. 즉, 법 제68조 제1항 이 규정하고 있는 헌법소원심판의 대상으로서의 공권력이란 입법·사법·행정 등 모든 공권력을 말하는 것이므로 행정부에서 제정한 시행령이나 시행규칙 등은 그것들이 별도의 집행행위를 기다리지 않고 직접 기본권을 침해하는 것일 때에는 모두 헌법소원심판의 대상이 될 수 있는 것이다(헌재 1997. 6. 26. 94헌마52, 판례집 9-1, 659, 667).</dd>
</dl>

<dl>
	<dt>㈐ 행정규칙</dt>
	<dd>행정규칙은 일반적으로 행정조직 내부에서만 효력을 가지는 것이고 대외적인 구속력을 갖는 것이 아니어서 원칙적으로 헌법소원의 대상이 아니다.
그러므로 재기수사의 명령이 있는 사건에 관하여 지방검찰청 검사가 다시 불기소처분을 하고자 하는 경우에 미리 그 명령청의 장의 승인을 얻도록 한 검찰사건사무규칙의 규정은 검찰청 내부의 사무처리지침에 불과한 것일 뿐 법규적 효력을 가진 것이 아니므로 헌법소원의 대상이 아니다(헌재 1991. 7. 8. 91헌마42, 판례집 3, 380, 383).
그러나 법령의 직접적인 위임에 따라 수임행정기관이 그 법령을 시행하는데 필요한 구체적 사항을 정한 것이면, 그 제정형식은 비록 법규명령이 아닌 고시·훈령·예규 등과 같은 행정규칙이더라도 그것이 상위법령의 위임한계를 벗어나지 아니하는 한, 상위법령과 결합하여 대외적인 구속력을 갖는 법규명령으로서 기능하게 된다고 보아야 할 것인바, 청구인이 법령과 예규의 관계규정으로 말미암아 직접 기본권침해를 받았다면, 이에 대하여 바로 헌법소원심판을 청구할 수 있다(헌재 1992. 6. 26. 91헌마25, 판례집4, 444, 449).</dd>
</dl>

<h6>2) 	헌 법재판소는 1998. 7. 16. 선고한 96헌마246 결정에서,</h6>

<p>"삼권분립의 원칙, 법치행정의 원칙을 당연한 전제로 하고 있는 우리 헌법하에서 행정권의 행정입법 등 법집행의무는 헌법적 의무라고 보아야 한다"고 전제하고, "행정명령의 제정 또는 개정의 지체가 위법으로 되어 그에 대한 법적 통제가 가능하기 위하여는, 첫째 행정청에게 시행명령을 제정(개정)할 법적 의무가 있어야 하고, 둘째 상당한 기간이 지났음에도 불구하고, 셋째 명령제정(개정)권이 행사되지 않아야" 하는바, "이 사건과 같이 치과전문의제도의 실시를 법률 및 대통령령이 규정하고 있고 그 실시를 위하여 시행규칙의 개정 등이 행해져야 함에도 불구하고, 행정권이 법률의 시행에 필요한 행정입법을 하지 아니하는 경우에는 행정권에 의하여 입법권이 침해되는 결과가 되기 때문에, 보건복지부장관에게는 헌법에서 유래하는 행정입법의 작위의무가 있다"고 하였다.</p>

<h6>3) 조례</h6>

<p>조례는 지방자치단체가 그 자치입법권에 근거하여 자주적으로 지방의회의 의결을 거쳐 제정한 법규이기 때문에 조례 자체로 인하여 직접 그리고 현재 자기의 기본권을 침해받은 자는 그 권리구제의 수단으로서 조례에 대한 헌법소원을 제기할 수 있다(헌재 1995. 4. 20. 92헌마264등, 판례집 7-1, 564, 571).
다만, 이에 대하여 대법원은 -비록 방론이지만- 조례가 집행행위의 개입없이 그 자체로서 직접 국민의 구체적인 권리의무나 법적 이익에 영향을 미치는 등의 법률상 효과를 발생하는 경우 그 조례는 항고소송의 대상이 되는 행정처분에 해당한다고 판시한 바 있다(대법원 1996.9.20.선고95 누8003 판결, 공1996하, 3210).</p>

<h6>4) 행정계획</h6>

<p>행정계획이란 행정에 관한 전문적·기술적 판단을 기초로 하여 특정한 행정목표를 달성하기 위하여 서로 관련되는 행정수단을 종합·조정함으로써 장래의 일정한 시점에 있어서 일정한 질서를 실현 하기 위한 활동 기준으로 설정된 것을 말한다(대법원 1996. 11. 29. 선고 96누8567 판결, 공1997상, 210).
헌법재판소는, "서울대학교의 「1994학년도 대학입학고사 주요요강」은 교육부가 마련한 대학입시제도 개선안에 따른 것으로서 대학입학방법을 규정한 교육법시행령 제71조의2의 규정이 교육부의 개선안을 뒷받침할 수 있는 내용으로 개정될 것을 전제로 하여 제정된 것이고 위 시행령이 아직 개정되지 아니한 현 시점에서는 법적 효력이 없는 '행정계획 안'이어서 이를 제정한 것은 사실상의 준비행위에 불과하고 이를 발표한 행위는 앞으로 그와 같이 시행될 것이니 미리 그에 대비하라는 일종의 사전안내에 불과하므로 위와 같은 사실상의 준비행위나 사전안내는 행정심판이나 행정 쟁송의 대상이 될 수 있는 행정처분이나 공권력의 행사는 될 수 없다. 그러나 이러한 사실상의 준비행위나 사전안내라도 그 내용이 국민의 기본권에 직접 영향을 미치는 내용이고 앞으로 법령의 뒷받침에 의하여 그대로 실시될 것이 틀림없을 것으로 예상될 수 있는 것일 때에는 그로 인하여 직접적으로 기본권침해를 받는 사람에게는 사실상의 규범작용으로 인한 위험성이 이미 발생하였다고 보아야 하므로 헌법소원의 대상이 되는 공권력에 해당된다"고 하였다(헌재 1992. 10. 1. 92헌마68등, 판례집 4, 659, 668).</p>

<h6>5) 행정관청의 처분</h6>

<dl>
	<dt>㈎ 권력적 사실행위</dt>
	<dd>일반적으로 어떤 행정행위가 헌법소원의 대상이 되는 권력적 사실 행위에 해당하는지의 여부는 당해 행정주체와 상대방과의 관계, 그 사실행위에 대한 상대방의 의사관여 정도·태도, 그 사실행위의 목적·경위, 법령에 의한 명령·강제수단의 발동 가부 등 그 행위가 행하여질 당시의 구체적 사정을 종합적으로 고려하여 개별적으로 판단하여야 한다(헌재 1994. 5. 6. 89헌마35, 판례집 6-1, 462, 485).헌법재판소는 교도소장의 미결수용자의 서신에 대한 검열·지연발송·지연교부행위는 이른바 권력적 사실행위로서 행정심판이나 행정소송의 대상이 된다고 단정하기도 어려울 뿐 아니라 설사 그 대상이 된다고 하더라도 이미 종료된 행위로서 소의 이익이 부정될 가능성이 많아 헌법소원심판을 청구하는 외에 달리 효과적인 구제방법이 있다고 보기 어려우므로 헌법소원의 대상이 된다고 하였다(헌재 1995. 7. 21. 92헌마144, 판례집 7-2, 94, 102).</dd>
</dl>

<dl>
	<dt>㈏ 정부투자기관에 대한 감독작용</dt>
	<dd>경제기획원장관이 정부투자기관에 통보한 1993년도 정부투자기관예산편성공통지침은 각 정부투자기관의 출자자인 정부가 정부투자기업의 경영 합리화와 정부출자의 효율적인 관리를 도모하기 위하여 예산편성에 관한 일반적 기준을 제시하여 출자자로서의 의견을 개진하는 것에 지나지 아니한다고 할 것이고 …… 이러한 예산편성공통지침의 통보행위는 성질상 정부의 그 투자기관에 대한 내부적 감독작용에 해당할 뿐이고 국민에 대하여 구체적으로 어떠한 권리를 설정하거나 의무를 명하는 법률적 규제작용으로서의 공권력작용에 해당한다고 볼 수 없으며, 나아가 위 예산편성 지침에 임금에 관한 부분이 포함되어 있다 하더라도 이는 사용자측이라고 할 수 있는 정부가 그 투자 기관에 대하여 내부적 지표로서 임금에 관한 예산편성의 공통지침을 시달하여 임금협상에 관한 유도적 기준을 제시한 것이지 단체교섭에 직접 개입하거나 이를 강제하는 것이 아니며, 그것을 가리켜 공권력의 행사라고 일컬을 수도 없을 것이므로 위 예산편성공통지침의 통보행위는 헌법 소원의 대상이 되지 아니한다고 하였다(헌재 1993. 11. 25. 92헌마293, 판례집 5-2, 510, 516).</dd>
</dl>

<dl>
	<dt>㈐ 행정권력의 부작위</dt>
	<dd>행정권력의 부작위에 대한 헌법소원의 경우에는, 공권력의 주체에게 헌법에서 유래하는 작위의무가 특별히 구체적으로 규정되어 이에 의거하여 기본권의 주체가 행정행위를 청구할 수 있음에도 공권력의 주체가 그 의무를 해태하는 경우에 허용되는 것이므로 (헌재 1996.6.13. 94헌마118등, 판례집 8-1, 500, 509), 의무위반의 부작위 때문에 피해를 입었다는 단순한 일반적인 부작위 주장만으로서는 족하지 않다고 할 것이므로 기본권의 침해없이 행정행위의 단순한 부작위의 경우는 헌법소원으로서는 부적법하다(헌재 1996. 11. 28. 92헌마237, 판례집 8-2, 600, 606). 또한 형집행정지결정의 취소결정을 한 검사에 대한 이의신청은 형사소송법 제489조에 의한 이의 신청과는 달리 법률상의 근거에 의한 권리행사가 아니라 형의 집행기관인 검사의 직권발동을 촉구 하는 사실상의 진정에 불과하므로 이를 방치하였다고 하여 그것이 곧 헌법소원심판의 대상이 되는 공권력의 불행사라고 보기는 어렵다(헌재 1992. 7. 23. 90헌마212, 판례집 4, 515, 519). 사인(私人)에 의한 기본권침해 상태를 방치하고 있는 공권력의 부작위에 대한 헌법소원은 국가가 그 공권력을 행사하였더라면 사인에 의한 기본권의 침해상태가 제거될 수 있었음에도 불구하고 이를 행사하지 아니함으로써 사인에 의한 기본권침해가 계속되고 있는 경우에 가능하다(헌재 1997. 3. 27. 94헌마277, 판례집 9-1 404, 409).</dd>
</dl>

<dl>
	<dt>㈑ 행정기관 상호간의 내부적 의사결정</dt>
	<dd>헌법재판소는 세무대학장이 인사위원회의 동의를 얻어 재무부장관에게 청구인의 재임용을 추천하였다가 청구인이 전국교직원노동조합 활동을 하고 그 탈퇴약속을 지키지 아니하였다고 하여 이를 일방적으로 철회하고 청구인의 재임용추천을 하지 아니한 '재임용 추천거부행위'와 같은 총·학장의 임용제청이나 그 철회는 행정기관 상호간의 내부적인 의사결정과정일 뿐 행정소송의 대상이 되는 행정처분이라고 볼 수 없다는 것이 대법원의 일관된 판례임을 확인 한 뒤, 위와 같이 세무대학장이 청구인의 조교수 재임용추천을 하지 아니한 공권력 불행사가 헌법소원의 대상이 됨을 전제로 본안판단을 하였다(헌재 1993. 5. 13. 91헌마190, 판례집 5-1, 312, 318).</dd>
</dl>

<dl>
	<dt>㈒ 사법상(私法上)의 행위</dt>
	<dd>공공용지의취득및손실보상에관한특례법에 의한 토지 등의 협의취득에 따르는 보상금의 지급행위는 토지 등의 권리이전에 대한 반대급여의 교부행위에 지나지 아니하므로 사법상의 행위라고 볼 수밖에 없으므로 피청구인의 청구인에 대한 보상금 지급행위는 헌법소원심판의 대상이 되는 공권력의 행사라고 볼 수 없다(헌재 1992. 11. 12. 90헌마160, 판례집 4, 787, 793; 同旨, 1992. 12. 24. 90헌마182, 판례집 4, 942, 949).</dd>
</dl>

<dl>
	<dt>㈓ 법원의 재판을 거친 행정처분</dt>
	<dd>행정소송의 대상이 되는 행정처분의 경우에는 법 제68조 제1항 단서에 의하여 헌법소원을 제기하기에 앞서 행정소송절차를 거치도록 되어 있고, 이러한 경우 행정소송절차에서 선고되어 확정된 판결과 헌법재판소가 헌법소원심판절차에서 선고하게 될 인용결정의 기속력과의 관계, 법원의 재판을 원칙적으로 헌법소원심판의 대상에서 제외한 법 제68조 제1항의 입법취지 등에 비추어 그에 대한 헌법소원심판청구의 적법성이 문제되나, 법원의 판결에 대한 헌법소원이 예외적으로 허용되는 경우에는 그 판결의 대상이 된 행정처분에 대한 헌법소원심판청구도 허용된다(헌재 1997.12.24. 96헌마172등, 판례집 9-2, 842, 865).</dd>
</dl>

<h5>다.	검사의 처분</h5>

<p>헌법재판소는 1989. 4. 비록 당해사건은 범죄의 공소시효의 완성을 이유로 각하하였지만, 검사의 불기소 처분이 자의적으로 행해진 경우에는 형사피해자는 헌법 제27조 제5항의 공판절차에서의 진술권과 제11조의 평등권을 침해당했다고 주장할 수 있다고 판시함으로써 검사의 불기소처분이 헌법소원의 대상이 됨을 밝혔다(헌재 1989.4.17. 88헌마3, 판례집 1, 31, 36). 헌법재판소가 검사의 불기소처분을 헌법소원의 대상에 포함시킨 주된 이유는, 형사소송법상의 재정신청절차가 지극히 제한적으로 규정 되어 있기 때문에 검찰이 공소권을 독점하고 있으면서도 또한 기소편의주의를 채택하고 있는 우리의 법제에서는 검찰의 기소권행사에 대한 유효한 견제수단이 그 동안 존재하지 않았다는데 있다고 할 것이다.</p>

<h6>1) 협의의 불기소처분(혐의없음처분)</h6>

<p>우리나라 법제는 검사에 의한 기소독점주의를 인정하고 있는 한편, 형사 피해자에게는 검사에 의한 공소유지가 제대로 되도록 공판절차에서의 진술권을 헌법이 부여하고 있다(헌법 제27조 제5항). 그리하여 수사검사가 당연히 의심을 갖고 조사하여야 할 중요한 사항에 대하여 수사를 소홀히 하거나, 수사상 형평성을 잃어 자의금지의 원칙에 위배되는 불기소처분(혐의없음처분)을 함으로써 고소인의 평등권과 재판절차진술권을 침해하였음을 인정한 사례로는 1989.7.14. 선고한 89헌 마10 결정(판례집 1, 121) 이래 다수 있었다.
검사의 불기소처분에 대하여 법원에 재정신청을 하였으나 그 신청이 기각되자 같은 사안에 대하여 다시 고소하여 재차 불기소처분이 내려진 경우 재정신청의 대상이 되었던 불기소처분과 헌법소원심판청구의 대상으로 되어 있는 불기소처분은 각 별도의 고소사실에 대한 별개의 처분이라 할 것이므로 후자의 불기소처분에 대한 헌법소원은 적법하다(헌재 1993. 11. 25. 91헌마196, 판례집 5-2, 445, 452). 그러나 검사의 무혐의 불기소처분에 대한 항고가 인용되어 항고청의 재기수사명령이 있었고 이에 따라 처분청인 피청구인이 사건을 재기하여 다시 수사를 한 다음 역시 무혐의 불기소처분을 한 경우에, 원래의 불기소처분은 그 효력을 잃었다고 보아야 할 것이므로 이 부분에 관한 심판청구는 부적법하다(헌재 1992. 12. 24. 91헌마168, 판례집 4, 951, 955).</p>

<h6>2) 기소중지처분</h6>
기 소중지는 가급적 억제되어야 하는 것이어서 이미 피의자신문을 마쳐 그의 진술을 충분히 청취하였거나 또는 피의자신문은 아니하였다고 하더라도 그밖의 증거자료에 의하여 공소제기나 불기소처분 등 종국결정을 하기에 부족함이 없는 경우에는 기소중지처분을 하여서는 아니되고 원칙에 좇아 종국결정을 하여야 하는 것이므로, 검사의 자의적 사건처리로 기소중지라는 중간처분을 하여 수사를 중단하였다면 고소인은 헌법상의 기본권인 평등권·재판절차진술권을 침해당한 자로서 헌법소원을 제기할 수 있다(헌재 1991. 4. 1. 90헌마115, 판례집 3, 175, 180).

<h6>3) 기소유예처분</h6>
검 찰의 수사권이나 공소권이 공권력인 것은 의문의 여지가 없고 수사의 결과에 따라서 행하는 공소의 제기 뿐만 아니고 혐의없음·기소중지·기소유예 등 불기소처분도 공권력의 행사에 해당하는 것이며, 따라서 혐의없음 처분에 대하여 헌법소원심판청구가 인정되는 것과 똑같은 법리로 기소유예처분에 대하여도 헌법소원심판청구가 인정된다(피해자가 헌법소원을 청구한 사례 : 헌재 1991. 4. 1. 90헌마65, 판례집 3, 160, 166). 한편 피의자가 제기한 헌법소원에서도, 원래 기소유예처분이란 공소제기함에 충분한 혐의가 있고 소송조건도 구비되었음에도 불구하고 군검찰관이나 검사가 제반사항을 고려하여 공소를 제기하지 않는다는 내용의 처분인 것으로, 범죄혐의가 없음이 명백한 사안을 놓고 자의적이고 타협적으로 기소유예처분을 했다면 헌법이 금하고 있는 차별적인 공권력의 행사가 되어 그 처분을 받은 자는 헌법 제11조 소정의 평등권의 침해를 이유로 당연히 소원적격(訴願適格)을 갖게 된다고 하였다(헌재 1989. 10. 27. 89헌마56, 판례집 1, 309, 316).

<h6>4) "죄가 안됨" 처분</h6>
' 죄가 안됨' 결정은 피의자에 대하여 소추장애사유가 있어 기소할 수 없다는 내용의 처분으로서 동 결정이 청구인들에게 범죄혐의가 있음을 확정하는 것이 아니므로, 피청구인 검사가 청구인들의 범죄혐의 유무에 불구하고 '죄가 안됨' 결정을 하였다고 하여 이를 청구인들의 기본권을 침해하는 공권력행사라고 할 수 없어 이 부분에 대한 청구는 부적법하다(헌재 1996.11.28. 93헌마229, 판례집 8-2, 610, 617). 그러나 이 경우에도 피해자가 청구하는 경우에는 물론 헌법소원의 대상이 된다.

<h6>5) 기소처분</h6>
검 사의 공소제기가 청구인(피고인)의 기본권을 침해하였는지의 여부는 당해 형사재판절차에 의하여 권리구제가 가능하므로 형사재판을 위한 사전준비행위로서의 기소처분은 독립하여 헌법소원심판의 청구대상이 될 수 없다(헌재 1992. 12. 24. 90헌마158, 판례집 4, 922, 928). 검사의 약식명령청구도 공소제기의 일종이므로 검사의 약식명령청구에 대한 헌법소원심판청구 역시 부적법하다(헌재 1993.6.2. 93헌마104, 판례집 5-1, 431, 434)

<h6>6) 공소취소처분</h6>
검사의 공소취소처분에 따라 법원이 공소기각결정을 하여 동 결정이 확정된 경우에는 설사 검사의 공소취소처분이 다시 취소된다고 하더라도 법원의 공소기각결정이 재심에 의하여 취소되지 아니 하는 한 원래의 기소상태는 회복될 수 없는 것이고, 따라서 공소취소처분의 취소를 구하는 심판 청구는 인용될 경우에도 그 인용결정이 형사소송법 제420조 소정의 재심사유에 해당되지 아니하 므로 결국 원래의 공소제기로 인한 소송계속상태가 회복될 수 없으므로 부적법하다(헌재 1997. 3. 27. 96헌마219, 판례집 9-1, 412, 414).

<h6>7) 진정(내사)종결처분</h6>
내 사(內査)의 대상으로 되는 진정이라 하더라도 진정 그 자체가 법률의 규정에 의하여 법률상의 권리행사로서 인정되는 것이 아니고 진정을 기초로 하여 수사소추기관의 적의처리를 요망하는 의사표시에 지나지 아니한 것인 만큼 진정에 기하여 이루어진 내사사건의 종결처리라는 것은 구속력이 없는 진정사건에 대한 수사기관의 내부적 사건처리방식에 지나지 아니한 것이고, 따라서 그 처리 결과에 대하여 불만이 있으면 따로 고소나 고발을 할 수 있는 것으로서 진정인의 권리행사에 아무런 영향을 미치는 것이 아니므로 이는 헌법소원의 대상이 되는 공권력의 행사라고는 할 수 없다(헌재 1990. 12. 26. 89헌마277, 판례집 2, 474, 480).

<h6>8) 수사재기결정</h6>
검 사의 수사재기결정은 수사기관 내부의 의사결정에 불과하고 피의자의 어떠한 의무를 부과하거나 피의자의 기본권에 직접적이고 구체적인 침해를 가하는 것이 아니어서 재기결정은 헌법소원의 대상이 되는 공권력의 행사라고 할 수 없다(헌재 1996. 2. 29. 96헌마32등, 판례집 8-1, 170, 176).

<h5>라. 사법작용</h5>

<h6>1) 재판</h6>

<p>법 제68조 제1항은 "공권력의 행사 또는 불행사로 인하여 헌법상 보장된 기본권을 침해받은 자는 '법원의 재판을 제외하고는' 헌법재판소에 헌법 소원심판을 청구할 수 있다"고 규정하여 법원의 재판을 헌법소원의 대상에서 제외하였다. 따라서 현행법상 법원의 재판인 판결·결정·명령 자체를 대상으로 하여 헌법소원을 제기한다면 이는 부적법하다(법 제72조 제3항 제1호). 법 제68조 제1항에서 규정하고 있는 "법원의 재판"이라 함은 소송사건을 해결하기 위하여 법원이 행하는 종국적 판단의 표시인 종국결정과 같은 의미로 사용되기도 하나 소송법상으로는 법원이 행하는 공권적 법률판단 또는 의사의 표현을 지칭하는 것이며, 이러한 의미에서는 사건을 종국적 으로 해결하기 위한 종국판결 외에 본안 전 종국판결 및 중간판결이 모두 포함되는 것이고 기타 소송절차의 파생적·부수적인 사항에 대한 공권적 판단도 포함되는 것으로 일반적으로 보고 있다(헌재 1992. 12. 24. 90헌마158, 판례집 4, 922, 928).
또한 헌법재판소의 법률에 대한 위헌결정(변형결정 포함)에 반하는 법원의 재판에 대하여는 헌법 소원심판을 제기할 수 있다고 하겠다. 다만, 위헌으로 결정된 법률(조항)은 그 결정이 있는 날로부터 효력을 상실하므로(법 제47조 제2항), 원칙적으로 동 위헌결정일 이후의 재판이 이에 해당할 것이다(헌재 1998. 4. 30. 92헌마239, 공보 27, 378).</p>

<h6>2) 사법입법</h6>

<p>사법부의 자율적 입법권에 기해 제정되는 대법원규칙의 제정이나 동 규칙제정의 부작위에 대해서도 소원요건을 갖추는 한 다른 공권력에 의한 입법행위 또는 입법부작위와 마찬가지로 헌법소원의 대상이 된다.
그 리하여 (구)법무사법시행규칙 제3조 제1항은 법원행정처장이 법무사를 보충할 필요가 없다고 인정하면 법무사시험을 실시하지 아니해도 된다는 것으로서 상위법인 법무사법 제4조 제1항에 의하여 모든 국민에게 부여된 법무사 자격취득의 기회를 하위법인 시행규칙으로 박탈한 것이어서 평등권과 직업선택의 자유를 침해하였다고 하여 이를 취소하는 의미에서 위헌결정을 한 사례가 있다(헌재 1990. 10. 15. 89헌마 178, 판례집 2, 365, 373).</p>

<h6>3) 재판장의 소송지휘 또는 재판진행</h6>

<p>재판장의 소송지휘권의 행사에 관한 사항은 그 자체가 재판장의 명령으로서 법원의 재판에 해당 하거나, 또는 재판형식이 아닌 권력적 사실행위로 행하여졌다 하더라도 항소심 종국판결이 선고된 이후에는 위 종국판결에 흡수·포함되어 그 불복방법은 위 항소심 판결에 대한 상고에 의해서만 가능하므로 재판장의 변론지휘권의 부당한 행사를 그 대상으로 하는 헌법소원심판청구나 재판장의 소송지휘 또는 재판진행에 관한 헌법 소원심판의 청구는 결국 법원의 재판을 직접 그 대상으로 하여 청구한 경우에 해당하므로 부적법하다(헌재 1992. 6. 26. 89헌마271, 판례집 4, 413, 418).</p>

<h6>4) 재판부작위(재판의 지연)</h6>

<p>법원은 국민의 재판청구권에 근거하여 법령에 정한 국민의 정당한 재판청구행위에 대하여만 재판을 할 의무를 부담하고 법령이 규정하지 아니한 재판청구행위에 대하여는 그 의무가 없다. 따라서 종국판결이 상소기간 경과로 확정된 후, 동 판결선고 전에 청구의 인낙이 있었다는 이유로 하는 기일지정신청은 법령에규정한 바 없고 그 기일지정신청을 인정하는 법리도 없으므로 그러한 기일지정신청은 법원에 대하여 아무런 의미도 부여할 수 없고 법원이 이에 대하여 재판을 하여야 할 의무를 부담하지 않으므로 위 기일지정신청에 대하여 법원이 아무런 재판을 하고 있지않은 데 대한 헌법소원은 헌법에서 유래하는 작위의무가없는 공권력의 불행사에 대한 헌법소원이어서 부적법하다(헌재 1994.6.30.93헌마161, 판례집 6-1,700, 704).</p>

<h6>5) 법원행정처장의 질의회신</h6>

<p>법원행정처장의 민원인에 대한 법령질의회신은 법규나 행정처분과 같은 법적 구속력을 갖는 것이 아니므로 이에 대한 헌법소원심판청구는 부적법하다(헌재 1992. 6. 26. 89헌마132, 판례집 4, 387, 402).</p>

<h5>마. 기타 공권력의 행사가 아닌 것</h5>

<p>감호잔기가 남은 상태에서 가출소하였다가 다시 무기징역형을 선고받아 그 형의 집행 중에 있는 청구인 이, 장래 무기징역에서 유기징역으로 감형되어 그 형의 집행이 종료되면 청구인에 대하여 감호잔기의 집행이 있게 되는지의 여부 및 그 법적 근거에 대하여 한 구문(求問)은 헌법소원의 대상이 되지 아니할 뿐만 아니라 감호잔기에 대한 새로운 집행이 장래에 발생할 경우에 대비한 심판청구이므로 부적법하다 (헌재 1990. 3. 28. 90헌마47, 판례집 2, 46, 47)
그리고 청원사항의 처리결과에 심판서나 재결서에 준하여 이유를 명시할 것까지를 요구하는 것은 청원 권의 보호범위에 포함되지 아니하므로 청원처리 내용이 청원인이 기대하는 바에 미치지 않는다고 하더 라도 헌법소원의 대상이 되는 공권력의 행사 또는 불행사라고는 볼 수 없고(헌재 1997. 7. 16. 93헌마239, 공보 23, 544), 또한 외국정부에 의하여 구금된 일수가 형법 제57조 제1항 소정의 판결 선고 전구 금일수에 해당하여 본형에 산입되는지 여부를 알아보는 심판청구는 결국 법률의 해석문제에 관한 구문(求問)으로서 헌법소원의 대상이 되지 아니하고, 법원에서 올바른 형을 선고할 수 있도록 필요하고 적절한 조치를 취하여 달라는 심판청구 역시 헌법재판소의 권한범위 밖의 청구로서 헌법소원의 대상이 되지 아니한다(헌재 1997. 9. 25. 96헌마159, 판례집 9-2, 421, 428).</p>

<h4>2. 법 제68조 제2항에 의한 헌법소원</h4>

<h5>가.	법 률</h5>

<p>법 제68조 제2항에 의한 헌법소원심판청구의 대상으로서의 법률은 형식적 의미의 법률 및 그와 동일한 효력을 가진 명령이다. 따라서 대통령령인 국가유공자예우등에관한법률시행령 제17조 제1항 규정을 대상으로 한 법 제68조 제2항에 의한 헌법소원심판청구는 부적법하다(헌재 1992. 10. 31. 92헌바42, 판례집 4, 708, 710). 또한 일반법원에 계속된 구체적 사건에 적용될 법률조항에 대하여 위헌심판제청 신청을 한 것이 아니고, 법원의 구속에 관한 구체적 재판의 부당성을 주장하면서 그 재판자체를 위헌 심판제청신청의 대상으로 삼았다면 이는 법률의 위헌여부심판의 제청이 일반법원에서 기각되었음을 전제로 하는 요건을 갖추지 못한 것이다(헌재 1994.9.6. 94헌바36, 판례집 6-2, 334, 337).</p>

<h5>나. '유효'한 법률</h5>

<p>법률은 이미 공포된 것이어야 하고 원칙적으로 위헌심판시를 기준으로 효력을 가지는 법률이어야 한다. 다만, 폐지된 법률이라 하더라도 청구인들의 침해된 법익을 보호하기 위하여 그 위헌여부가 가려져야 할 필요가 있는 경우에는 대상이 될 수 있다는 것이 헌법재판소의 판례이다(헌재 1989.12.18. 89헌마32등, 판례집 1, 343, 347).</p>

<h5>다. '위헌제청신청기각'결정의 대상법률</h5>

<p>법 제68조 제2항에 의한 헌법소원은 법 제41조 제1항에 의한 위헌여부심판의 제청신청을 법원이 각하 또는 기각한 경우에만 당사자가 직접 헌법재판소에 헌법소원의 형태로 심판청구를 할 수 있는 것이므로, 법원의 위헌제청신청기각결정의 대상이 되지 아니한 규정들에 대하여 헌법소원심판청구를 추가한 경우 그 부분에 대한 심판청구는 법 제68조 제2항의 규정에 의한 헌법소원심판의 대상이 되지 아니하여 부적법하다(헌재 1997. 11. 27. 96헌바12, 판례집 9-2, 607, 618).</p>

<h5>라. 헌법의 개별규정</h5>

<p>헌법의 개별규정이 법 제68조 제2항에 의한 헌법소원심판의 대상이 되는지 여부에 관하여 헌법재판 소는, 헌법 제111조 제1항 제1호 및 법 제41조 제1항은 위헌법률심판의 대상에 관하여, 헌법 제111조 제1항 제5호 및 법 제68조 제2항, 제41조 제1항은 헌법소원심판의 대상에 관하여 그것이 법률임을 명문으로 규정하고 있으며, 여기서 위헌심사의 대상이 되는 법률이 국회의 의결을 거친 이른바 형식적 의미의 법률을 의미하는 것에 아무런 의문이 있을 수 없으므로, 헌법의 개별규정 자체는 헌법소원에 의한 위헌심사의 대상이 아니라고 하였다(헌재 1995. 12. 28. 95헌바3, 판례집 7-2, 841, 845).</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>