<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>종국결정</h3>

<ul>
<li>인용결정</li>
<li>심판절차 종료선언</li>
</ul>

<p>재판부가 심리를 마친 때에는 종국결정을 하며, 종국결정은 종국심리에 관여한 재판관의 과반수의 찬성으로 결정한다. 다만, 헌법소원에 대한 인용결정을 하는 경우와 종전에 헌법재판소가 판시한 헌법 또는 법률의 해석 적용에 관한 의견을 변경하는 경우에는 재판관 6인 이상의 찬성이 있어야 한다(법 제23조 제 2항). 종국결정 에는 ① 심판청구가 부적법한 경우에 하는 각하결정, ② 심판청구가 이유없는 경우에 하는 기각(합헌)결정, ③ 심판청구가 이유있는 경우에 하는 인용결정, 그리고 ④ 심판절차종료선언의 4가지가 있다.</p>

<h4>1. 인용결정</h4>

<h5>가. 개 요</h5>

<p>법제68조 제1항의 규정에 의한 통상의 처분(부작위)소원에 대하여 헌법재판소가 인용결정을 하는 때에는 인용결정서의 주문에서 침해된 기본권과 침해의 원인이 된 공권력의 행사 또는 불행사를 특정 하여야 한다 (법 제75조 제2항). 그러나 법령소원을 인용하는 경우에는 주문에 침해된 기본권을 표시 하지 않는데, 그 이유는 법령에 대한 헌법소원은 청구인의 침해된 기본권구제의 면도 있으나 객관적인 헌법질서의 확립이라는 성질이 더 부각되어야 할 것이고, 법 제75조 제2항의 취지가 동조 제3항 내지 제5항과의 관계에서 볼 때 입법권, 즉 법률에 의한 기본권침해의 경우에 부합하는 규정이라고 보여지지 않고, 오히려 동조 제6항이 헌법소원을 인용하여 법률의 위헌을 선고할 경우에는 법 제45조, 제47조의 규정을 준용하도록 하고 있어서 구태여 주문에 침해된 기본권을 표시할 필요까지는 없다고 해석되기 때문이다(헌재 1991. 3. 11. 91헌마21, 판례집 3, 91, 115).</p>

<h5>나.	인용결정의 효력</h5>

<p>헌법소원의 인용결정은 모든 국가기관과 지방자치단체를 기속한다(법 제75조 제1항). 헌법재판소가 공권력의 불행사에 대한 헌법소원을 인용하는 결정을 한 때에는 피청구인은 결정취지에 따라 새로운 처분을 하여야 한다(법 제75조 제4항). 법 제68조 제2항의 규정에 의한 헌법소원 및 법 제68조 제1항의 규정에 의한 법령소원을 인용하는 경우, 그리고 법 제75조 제5항의 규정에 따른 부수적 규범통제의 경우에는 단순위헌결정 뿐만 아니라 헌법불합치, 한정위헌, 한정합헌 등 이른바 "변형결정"의 다양한 유형이 있다. 그리고 이 경우 당사자는 위헌으로 결정된 법령에 근거한 유죄의 확정판결에 대하여 또는 당해 헌법소원과 관련된 소송사건이 이미 확정된 때에는 재심을 청구할 수 있다(법 제75조 제6항, 제7항, 제47조 제3항).</p>

<h4>2. 심판절차종료선언</h4>

<p>각하결정, 기각(합헌)결정, 인용결정 이외에 특별한 결정유형으로 심판절차종료선언이 있다. 본안판단에 들어가지 않는 점에서는 각하결정과 같지만 각하결정과는 다른 성격의 결정인 심판절차종료선언은 청구인의 사망 또는 심판청구의 취하 등으로 심판절차의 종료여부에 관한 다툼이 있는 경우에 절차관계의 종료를 명백히 확인하는 의미에서 하는 결정이다.</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>