<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>행정심판 실무</h3>
<ol>
	<li>행정심판의 의의</li>
	<li>행정심판제도의 개선사항</li>
	<li>행정심판의 종류</li>
	<li>행정심판의 대상</li>
	<li>행정심판청구기간</li>
	<li>행정심판청구절차</li>
	<li>심판청구의 효과</li>
	<li>심판청구 등의 취하</li>
	<li>행정심판의 재결</li>
	<li>행정심판상담</li>
	<li>행정심판위원회 및 전화번호 안내</li>
</ol>

<h4>1. 의의</h4>
<p>행정심판제도는 행정관청으로부터 면허, 허가, 인가 등이 부당하게 취소되거나 영업정지처분을 받은 경우 또는 행정관청에 면허, 허가, 인가 등을 신청하였으나 행정관청이 부당하게 거부한 경우 기타 행정관청 으로부터 잘못되고 억울한 처분을 받은 경우에 행정심판을 청구함으로써 행정기관이 스스로 해결하여 바로잡는 절차를 말한다.</p>

<h4>2. 행정심판제도의 개선사항</h4>
<dl>
	<dt>가. 회의출석 및 구술심리</dt>
	<dd>청구인은 서면으로 신청한 사항 외에 억울한 사정이 있으면 구술심리의 허가를 받아 청구인이 직접 위원회의 회의에 출석하여 발언할 수 있다.</dd>

	<dt>나. 법률전문가에 의한 심리·의결</dt>
	<dd>국무총리행정심판위원회는 법제처에 설치되어 심판청구사건을 처리하고 있는바, 종전에는 각 부, 처, 청의 중앙행정기관장이 처분한 사건만을 심리하였으나, 1996. 4. 1.부터는 특별시장, 광역시장과 도지사가 처분한 사건에 대하여도 심리하고 있다. </dd>

	<dt>다. 처분청·재결청에 청구서 제출</dt>
	<dd>행정심판절차의 간소화와 심판기간을 단축하기 위하여 종전에 필수적인 처분청경유주의를 변경하여 처분을 한 행정관청이나 그 상급관청인 재결청에 선택적으로 청구할 수 있도록 하고 있다. </dd>

	<dt>라. 민간위촉위원이 과반수로 구성</dt>
	<dd>행정심판위원회는 공무원인 위원과 교수 또는 변호사인 민간위촉위원으로 구성되며, 민간위촉위원이 과반수로 구성되어 심판사건을 객관적이고 공정하게 처리 되도록 하고 있다.</dd>
</dl>

<h4>3. 행정심판의 종류</h4>
<p>현행 행정심판법은 행정심판의 종류로서 취소심판·무효등확인심판·의무이행심판의 3가지를 명시하고 있다. 이는 모두 항고쟁송의 성격을 가지며, 그 밖에 특별행정심판·이의심판·당사자쟁송 등은 개별법에서 인정되고 있다. </p>
<dl>
	<dt>가. 항고쟁송</dt>
	<dd>
		<dl>
			<dt>⑴ 취소심판 </dt>
			<dd>행정청의 위법 또는 부당한 처분의 취소·변경을 구하는 행정심판(형성적쟁송)</dd>
			<dt>⑵ 무효등확인심판</dt>
			<dd>행정청의 처분의 효력유무 또는 존재여부에 대한 확인을 구하는 행정심판(준형성적쟁송)</dd>
			<dt>⑶ 의무이행심판</dt>
			<dd>행정청의 위법 또는 부당한 거부처분이나 부작위에 대하여 일정한 처분의 이행을 구하는 행정심판</dd>
		</dl>
	</dd>

	<dt>나. 특별행정심판·이의신청·당사자쟁송 </dt>
	<dd>
		<dl>
			<dt>⑴ 특별행정심판 :</dt>
			<dd>특허심판, 해난심판 등</dd>
			<dt>⑵ 이의신청 :</dt>
			<dd>국세기본법상의 이의신청 등</dd>
			<dt>⑶ 당사자쟁송(재결신청)</dt>
			<dd>토지수용에 있어 기업자의 신청에 의하여 토지수용위원회가 당사자에 갈음하여 재결로서 그 법률 관계를 형성하여 주는 경우 등</dd>
		</dl>
	</dd>

	<dt>다. 사건유형 </dt>
	<dd>국무총리행정심판위원회에 청구되고 있는 행정심판 사건의 유형으로는 다음과 같다. 
		<ol>
			<li>① 건설업면허정지나 취소처분의 취소청구</li>
			<li>② 산림전용부담금 부과처분의 취소청구</li>
			<li>③ 도시계획시설 결정처분의 취소청구</li>
			<li>④ 의사면허자격정지나 취소처분의 취소청구</li>
			<li>⑤ 각종 영업정지처분의 취소청구</li>
			<li>⑥ 운전면허 정지나 취소처분의 취소청구</li>
			<li>⑦ 개인택시 운송사업면허 취소처분의 취소청구</li>
			<li>⑧ 개인택시 운송사업면허 제외처분의 취소청구</li>
			<li>⑨ 과징금부과처분의 취소청구</li>
			<li>⑩ 품목허가나 제조업무 정지처분의 취소청구</li>
			<li>⑪ 법인설립허가신청 반려처분의 취소청구</li>
			<li>⑫ 각종 시험 불합격처분의 취소청구 </li>
		</ol>
	</dd>
</dl>

<h4>5. 행정심판의 대상</h4>
<dl>
	<dt>가. 개괄주의 원칙</dt>
	<dd>행정청의 처분 또는 부작위에 대하여 다른 법률에 특별한 규정이 있는 경우를 제외하고는 행정심판법에 의한 행정심판을 제기할 수 있다.</dd>
	<dt>나. 적용제외 사항</dt>
	<dd>⑴ 대통령의 처분 또는 부작위</dd>
	<dd>⑵ 재결자체에 고유한 위법이 있는 경우 이외의 행정심판의 재결</dd>
</dl>

<h4>행정심판청구기간</h4>
<dl>
	<dt>가. 원 칙</dt>
	<dd>행정심판의 청구는 처분이 있음을 안 날부터 90일 이내에, 처분이 있은 날로부터 180일 이내에 제기하여야 하며, 두 기간 중 어느 하나라도 도과하면 심판청구를 제기하지 못한다. </dd>
	<dt>나. 예 외</dt>
	<dd>⑴ 청구인이 천재·지변·전쟁·사변 그 밖에 불가항력으로 제기기간 내에 심판청구를 할 수 없을 때에는 그 사유가 소멸한 날로부터 14일(국외에서는 30일) 이내에 심판청구를 제기할 수 있다. </dd>
	<dd>⑵ 처분이 있은 날부터 180일 이내에 심판청구를 하지 못할 정당한 사유가 있는 경우에는 180일이 경과 하게 되더라도 심판청구를 제기할 수 있다.</dd>
	<dt>다. 심판청구기간의 불고지 등의 경우 </dt>
	<dd>심판청구기간을 착오로 잘못 고지한 경우에는 그 잘못 고지된 기간 내에, 전혀고지하지 않은 경우에는 처분이 있은 날부터 180일 이내에 심판청구를 할 수 있다. </dd>
</dl>

<h4>6. 행정심판청구절차</h4>
<p>행정심판의 청구는 행정심판청구서 및 행정처분의 위법, 부당성을 설명하는 자료를 작성하여 재결청과 피청구인인 처분청 중 하나를 선택하여 제출함으로써 청구할 수 있다.</p>
<dl>
	<dt>가. 처분청 또는 부작위청에의 제출</dt>
	<dd>처 분청 또는 부작위청이 심판청구서를 접수한 때에는 심판청구가 이유있다고 인정하는 경우에는 당해 심판청구의 취지에 따르는 처분이나 확인을 하고, 지체없이 이를 재결청과 청구인에게 통지하여야 하며, 청구가 이유없다고 인정하는 경우에는 그 접수일로부터 10일 이내에 답변서를 첨부하여 재결청에 송부하여야 하고, 지체없이 그 사실을 청구인에게 통지하여야 한다.</dd>
	<dt>나. 재결청에의 제출</dt>
	<dd>재결청이 직접 심판청구를 받은 때에는 지체없이 그 부본을 피청구인에게 송부하고, 피청구인은 그 부본을 받은 날로부터 10일 이내에 답변서를 재결청에 제출하여야 한다.</dd>
	<dt>다. 행정심판청구서 기재사항</dt>
	<dd>〔예: 서울특별시에 거주하는 시민이 2002년 1월 1일 위법 또는 부당한 사유로 서울특별시 지방경찰 청장으로부터 자동차운전면허를 취소당한 경우〕
		<ol>
			<li>⑴ 청 구 인 : 주소, 우편번호, 성명, 연락처(전화번호)</li>
			<li>⑵ 피청구인 : 서울특별시지방경찰청장</li>
			<li>⑶ 재 결 청 : 경찰청장</li>
			<li>⑷ 처분이 있음을 안 날 : 2002년 1월 1일 (처분서를 받은 날)</li>
			<li>⑸ 청구취지 : 자동차운전면허취소 처분의 취소</li>
			<li>⑹ 청구이유 : 처분의 위법·부당성을 구체적으로 기재</li>
			<li>⑺ 설명자료 : 자동차운전면허취소처분의 위법·부당성을 입증하는 자료 일체 </li>
		</ol>
	</dd>
</dl>

<h4>7. 심판청구의 효과</h4>
<dl>
	<dt>가. 재결청 및 행정심판위원회에 대한 효과</dt>
	<dd>심판청구가 제기되면 재결청은 이를 지체없이 소속 행정심판위원회에 회부하여 심리·의결하도록 하고, 그 의결에 따라 재결할 의무를 진다. 또한 제3자 심판청구의 경우에 처분의 상대방에게 통지할 의무를 진다.</dd>
	<dt>나. 처분에 대한 효과</dt>
	<dd>
		<dl>
			<dt>⑴ 집행부정지의 원칙</dt>
			<dd>행정심판의 남용을 막고, 행정목적의 원활한 수행을 저해하지 않으려는 입법정책적 고려(통설)에서 행정심판의 청구는 처분의 효력, 집행 또는 절차의 속행에 영향을 주지 않음이 원칙이다.</dd>
			<dt>⑵ 집행정지결정의 요건</dt>
			<dd>집행부정지의 원칙을 취하면서도 예외적으로 집행정지의 대상인 처분이 존재하고, 심판청구가 계속(係屬)됨을 전제로 회복하기 어려운 손해예방에 필요하고, 집행정지의 필요성이 절박하여 재결을 기다릴 여유가 없는 경우에는 집행정지를 인정하고 있다. 다만, 집행정지로 인하여 공공복리에 중대한 영향을 미칠 우려가 있는 경우에는 집행정지를 할 수 없다.</dd>
			<dt>⑶ 집행정지결정의 절차</dt>
			<dd>집 행정지의 결정은 당사자의 신청 또는 직권에 의하여 행정심판위원회의 심리·의결을 거쳐 재결청이 행한다. 다만, 위원회의 심리·의결을 거치면 회복하기 어려운 손해가 발생할 우려가 있다고 인정될 때에는 위원장이 직권으로 위원회의 심리·의결에 갈음하는 결정을 할 수 있다. 이 경우 위원장은 위원회에 그 사실을 보고하고 추인을 받아야 하며, 위원회의 추인을 받지 못할 때에는 재결청은 집행정지결정을 취소하여야 한다.</dd>
			<dt>⑷ 집행정지결정의 내용 및 효력</dt>
			<dd>집행정지결정은 처분의 효력이나 그 집행 또는 절차의 속행의 전부 혹은 일부를 정지하는 것을 내용 으로 하며, 이는 당사자인 신청인과 피청구인은 물론 관계행정청과 제3자에게도 미치며, 특별한 규정이 없는 때에는 당해 심판청구에 대한 재결이 확정될 때까지 존속하는 것으로 본다.</dd>
			<dt>⑸ 집행정지결정의 취소</dt>
			<dd>집행정지가 공공복리에 중대한 영향을 미치거나 그 정지사유가 없어진 때에는 재결청은 당사자의 신청 또는 직권에 의하여 당해 집행정지결정을 취소할 수 있다. 이 경우에도 행정심판위원회의 심리·의결을 거쳐야 하며, 위원장이 직권으로 위원회의 심리·의결에 갈음하는 결정을 한 경우에는 이에 대한 위원회의 추인을 받아야 한다. </dd>
		</dl>
	</dd>
</dl>

<h4>8. 심판청구 등의 취하</h4>
<p>청구인 또는 참가인은 재결이 있을 때까지 서면으로 각각 심판청구 또는 참가신청을 취하할 수 있다.</p>

<h4>9. 행정심판의 재결</h4>
<dl>
	<dt>가. 의 의</dt>
	<dd>재결(裁決)이란 심판청구사건에 대한 행정심판위원회의 심리·의결 결과에 따라 재결청이 최종적으로 법적판단을 하는 행위를 말한다.</dd>
	<dt>나. 재결기간</dt>
	<dd>재결기간은 재결청 또는 피청구인인 행정청이 심판청구서를 받은 날로부터 60일 이내에 하여야 하나, 부득이한 사정이 있는 때에는 1차에 한하여 30일의 범위안에서 연장할 수 있다.<br /> 다만, 이 재결기간에는 심판청구가 부적법하여 보정을 명한 경우의 보정기간은 산입하지 않는다.</dd>
	<dt>다.	재결의 종류</dt>
	<dd>각하재결, 기각재결, 사정재결, 인용재결(취소·변경재결, 확인재결, 의무이행재결)</dd>
	<dt>라.	재결의 효력</dt>
	<dd>재결은 행정행위의 하나이므로 그것이 당연무효인 경우를 제외하고는 불가쟁력·공정력·자력집행력을 갖는 이외에 쟁송판단행위의 특성으로서 형성력·불가변력·기속력(구속력)을 가진다. 특히 구속력이 인정되는 인용재결에 대하여 행정관청은 이의를 제기할 수 없으므로 청구인이 확정적으로 구제받게 된다.</dd>
	<dt>마. 재결에 대한 불복</dt>
	<dd>
		<dl>
			<dt>⑴ 재심판청구의 금지</dt>
			<dd>행정심판법상 행정심판의 단계는 단일화되어 있어 재결에 대한 재심판청구는 할 수 없다. 다만, 국세기본법 등의 개별법에서는 다단계의 행정심판을 인정하고 있다.</dd>
			<dt>(2) 재결에 대한 행정소송</dt>
			<dd>재결자체에 고유한 위법이 있을 때에는 재결 그 자체에 대한 취소소송 및 무효등확인소송을 제기할 수 있다(행정소송법 제19조, 제38조).</dd>
		</dl>
	</dd>
</dl>

<h4>10. 행정심판상담</h4>
<p>법제처는 위법 또는 부당한 행정처분으로 피해를 입은 국민들의 권리를 구제하여 주기 위하여 행정심판 상담실을 운영하고 있는바, 행정심판상담실에서는 행정심판의 대상이 무엇인지에서부터 행정심판청구서의 작성에 이르기까지 행정심판과 관련한 모든 사항을 무료로 상담하고 있다. </p>

<h4>11. 행정심판위원회 및 전화번호 안내</h4>
<dl>
	<dt>국무총리행정심판위원회</dt>
	<dd>(02) 724 - 1337∼9</dd>
	<dt>서울특별시행정심판위원회</dt>
	<dd>(02) 731 - 6157, 6557</dd>
	<dt>부산광역시행정심판위원회</dt>
	<dd>(051) 888 - 2212</dd>
	<dt>대구광역시행정심판위원회</dt>
	<dd>(053) 429 - 2137</dd>
	<dt>인천광역시행정심판위원회</dt>
	<dd>(032) 440 - 2292</dd>
	<dt>광주광역시행정심판위원회</dt>
	<dd>(062) 606 - 2132</dd>
	<dt>대전광역시행정심판위원회</dt>
	<dd>(042) 600 - 2152</dd>
	<dt>울산광역시행정심판위원회</dt>
	<dd>(052) 229 - 2132</dd>
	<dt>경기도행정심판위원회</dt>
	<dd>(031) 249 - 2132, 2881</dd>
	<dt>강원도행정심판위원회</dt>
	<dd>(033) 249 - 2132</dd>
	<dt>충청북도행정심판위원회</dt>
	<dd>(043) 220 - 2321∼4</dd>
	<dt>충청남도행정심판위원회</dt>
	<dd>(042) 251 - 2133</dd>
	<dt>전라북도행정심판위원회</dt>
	<dd>(063) 280 - 2132</dd>
	<dt>전라남도행정심판위원회</dt>
	<dd>(062) 607 - 2131</dd>
	<dt>경상북도행정심판위원회</dt>
	<dd>(053) 950 - 2133</dd>
	<dt>경상남도행정심판위원회</dt>
	<dd>(055) 279 - 2133</dd>
	<dt>제주도행정심판위원회</dt>
	<dd>	(064) 710 - 2272 </dd>
</dl>


			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>