<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>행정소송 실무</h3>

<ul>
	<li>의의</li>
	<li>행정소송의 종류 </li>
	<li>관 할</li>
	<li>행정소송과 행정심판의 관계</li>
	<li>제소기간</li>
	<li>소장 작성시 일반적 유의사항</li>
	<li>소송진행상의 일반적 유의사항</li>
	<li>증거신청 방법</li>
	<li>서증의 인부방법과 내용</li>
</ul>

<h4>1. 의의</h4>
<p>행정소송이란 법원이 공법상의 법률관계에 관한 분쟁에 대하여 행하는 재판절차를 말하며, 이는 위법한 행정처분을 정식으로 다투는 소송절차로서 행정쟁송이라는 점에서 행정심판과 같지만 위법성만을 쟁송 으로 한다는 점과 법원의 정식재판절차에 의하여 진행되어야 한다는 점에서 행정심판과 구별된다. 종전에는 행정소송을 제기하려면 반드시 먼저 행정심판을 거치도록 되어 있었으나 1998. 3. 1.부터는 개정된 행정소송법에 따라 원칙적으로 당해 법률에 다른 규정이 있는 경우를 제외하고는 행정심판 제기 유·무 및 전·후에 관계없이 행정소송을 제기할 수 있다.<br />그러므로 당사자의 선택에 따라 행정심판을 청구한 후에 그 결과를 보고 행정소송을 제기하거나 또는 행정심판과 행정소송을 동시에 청구할 수 있으며, 아니면 처음부터 아예 행정심판을 거치지 않고 바로 행정소송을 제기할 수도 있다. 다만, 공무원에 대한 징계 기타 불이익 처분, 토지수용법에 의한 수용재결 처분, 노동위원회의 결정에 대한 불복 등과 같이 필요적으로 행정심판을 거치도록 되어 있는 종류의 소송이라도 변론종결시까지 전치의 요건을 충족하면 그 하자는 치유된다.
그러나 취소소송을 제외한 무효확인 등의 소송과 당사자소송은 행정심판을 거칠 필요가 없다. </p>

<h4>2. 행정소송의 종류 </h4>
<dl>
	<dt>가. 항고소송</dt>
	<dd>⑴ 취소소송 : 행정소송 중 가장 대표되는 소송으로 행정청의 위법한 처분을 취소 또는 변경하는 소송</dd>
	<dd>⑵ 무효등확인소송 : 행정청의 처분 등의 효력유무 또는 존재여부를 확인하는 소송</dd>
	<dd>⑶ 부작위위법확인소송 : 행정청의 부작위가 위법하다는 것을 확인하는 소송</dd>

	<dt>나.	당사자소송</dt>
	<dd>행정청의 처분 등을 원인으로 하는 법률관계에 관한 소송 그 밖의 공법상의 법률관계에 관한 소송으로서 그 법률관계의 한쪽 당사자를 피고로 하는 소송</dd>
	
	<dt>다.	민중소송</dt>
	<dd>국가 또는 공공단체의 기관이 법률에 위반되는 행위를 한 때에 직접 자기의 법률상 이익과 관계없이 그 시정을 구하기 위하여 제기할 수 있는 특수한 소송</dd>

	<dt>라.	기관소송</dt>
	<dd>국가 또는 공공단체의 기관 상호간에 있어서의 그 권한의 존부 또는 그 행사에 관하여 다툼이 있는 때에 이에 대하여 제기 하는 소송 </dd>
</dl>

<h4>3. 관 할</h4>
<p>현행 행정심판법은 행정심판의 종류로서 취소심판·무효등확인심판·의무이행심판의 3가지를 명시하고 있다. 이는 모두 항고쟁송의 성격을 가지며, 그 밖에 특별행정심판·이의심판·당사자쟁송 등은 개별법에서 인정되고 있다.</p>
<dl>
	<dt>가.	토지관할</dt>
	<dd>
		<dl>
			<dt>⑴ 항고소송의 토지관할</dt>
			<dd>
				<dl>
					<dt>㈎ 보통재판적</dt>
					<dd>항고소송의 제1심 관할법원은 피고의 소재지를 관할하는 행정법원이며, 중앙행정기관 또는 그 장이 피고인 경우의 관할법원은 대법원 소재지의 행정법원이다(행정소송법 제9조 제1항). 다만, 행정법원이 설치되지 아니한 지역에 있어서의 행정법원의 권한에 속하는 사건은 행정법원이 설치될 때까지 해당 지방법원의 본원이 관할하도록 되어 있으므로(법률 제4765호 법원조직법중 개정법률 부칙 제2조), 행정법원이 설치된 서울을 제외하고는 피고의 소재지를 관할하는 지방법원 본원이 항고소송의 제1심 관할법원이다.</dd>
					<dt>㈏ 특별재판적</dt>
					<dd>토지의 수용 기타 부동산 또는 특정의 장소에 관계되는 처분 등에 대한 취소소송은 그 부동산 또는 장소의 소재지를 관할하는 행정법원에도 이를 제기할 수 있다(행정소송법 제9조 제2항). 2개 이상의 관할구역에 걸쳐 있을 때에는 어느 구역을 관할하는 법원도 관할을 가진다.
						<p>※ "토지의 수용에 관계되는 처분"이라 함은 토지수용법에 의한 토지수용·사용, 사업인정, 수용 위원회의 재결, 이의재결 등의 처분을 말하며, "기타 부동산에 관계되는 처분"이라 함은 부동산에 관한 권리의 설정·변경을 목적으로 하는 처분, 또는 부동산에 관한 권리행사의 강제·제한·금지를 명하거나 직접 실현하는 처분을 말한다. 광업권·채광권·어업권에 관한 처분, 건축물 철거처분, 토지 구획정리사업으로 인한 환지처분, 토지거래허가에 관한 처분 등이 여기에 속한다. 또한 "특정의 장소에 관한 처분"이라 함은 특정구역에서 일정한 행위를 할 수 있는 권리, 자유를 부여하는 처분 또는 특정구역을 정하여 일정 행위를 제한·금지하는 처분 등을 말하고, 그 예로는 도시계획, 자동차운수사업면허 및 취소, 택지조성사업, 공용재산의 사용허가에 관한 처분 등을 들 수 있다.</p>
					</dd>
				</dl>
			</dd>			
			<dt>⑵ 당사자소송의 토지관할</dt>
			<dd>당사자소송의 재판관할에 관하여는 취소소송에 관한 규정이 준용된다(행정소송법 제40조). 그러므로 피고의 소재지를 관할하는 행정법원에 보통재판적이 있게 되나, 당사자소송은 항고소송의 경우와는 달리 국가·공공단체 기타 권리주체를 피고로 하는 경우로서 국가나 공공단체가 피고인 때 에는 당해 소송과 구체적인 관계가 있는 관계 행정청 소재지를 피고의 소재지로 의제하여 그 행정 청의 소재지를 관할하는 행정법원이 보통재판적을 가지도록 하고 있다(행정소송법 제40조 단서). 이 경우 행정소송법 제9조 제1항 규정이 준용되어, 그 행정청이 중앙행정기관 또는 그 장일 때에는 대법원 소재지의 행정법원이 관할이다. 물론 목적물 소재지의 특별재판적에 관한 행정소송법 제9조 제2항도 준용된다.</dd>

			<dt>⑶ 토지관할의 성질</dt>
			<dd>행정소송법은 제소의 편의를 위하여 항고소송이나 당사자소송의 토지관할에 관하여 전속관할로 규정하지 아니함으로써 임의관할임을 간접적으로 밝히고 있다(1994.1.25. 대법 93누18655). 그러므로 당사자의 합의에 의한 합의관할이나 응소 관할도 생기며, 항소심에서는 관할위반을 주장할 수 없다(민사소송법 제381조). 다만, 행정법원의 역할을 할 수 있는 것은 지방법원 본원 으로서, 지방법원 지원은 비록 합의지원이라 하더라도 행정사건을 다룰 수 없고, 합의관할 등이 생길 여지도 없다 할 것이다.</dd>

			<dt>⑷ 서울행정법원의 관할구역</dt>
			<dd>서울특별시, 의정부시, 동두천시, 구리시, 남양주시, 고양시, 파주시, 양주군, 연천군, 포천군, 가평군, 강원도 철원군</dd>
		</dl>
	</dd>

	<dt>나. 사물관할</dt>
	<dd>행정법원의 심판권은 판사 3인으로 구성된 합의부에서 행한다(법원조직법 제7조 제3항). 합의부는 부장판사 1인과 배석판사 2인으로 구성되며, 부장판사는 그 부의 재판에 있어 재판장이 되고 행정 법원장의 지휘에 의하여 그 부의 사무를 감독한다(법원조직법 제40조의3, 제27조). 행정법원이 설치되지 아니한 지역에서 지방법원 본원이 행정법원 역할을 대신함에 있어서도 행정사건은 합의부 관장사항이라 할 것이다.</dd>

	<dt>다.	심급관할</dt>
	<dd>종래 항고소송과 당사자소송의 1심법원을 고등법원으로 함으로써 행정사건에 대하여 2심제를 택하여 왔으나, 1998.3.1.부터 시행되는 개정 행정소송법은 지방법원급인 행정법원을 1심법원으로 하고 그 항소심을 고등법원, 상고심을 대법원이 담당하도록 함으로써 3심제를 택하였다. 다만 개별법률에서 아래 예시와 같은 행정소송사건의 관할을 고등법원 전속관할로 정한 경우가 있다.
		<p>【 예 시 】</p>
		<ul>
			<li>사용료 등의 부과 징수에 대한 처분 취소(지방자치법 제131조 제5항)</li>
			<li>집회 및 시위의 금지통고 취소 (집회및시위에관한 법률 제9조 제4항)</li>
			<li>청소년보호법 위반에 대한 벌칙 부과처분 취소(청소년보호법 제41조)</li>
			<li>보안관찰처분 취소(보안관찰법 제23조)</li>
			<li>독점규제 및 공정거래 위반에 대한 시정조치 및 과징금 부과처분 취소<br />
			(독점규제및공정거래에관한법률 제55조, 약관의규제에관한법률 제30조의2)</li>
			<li>소비자보호법 위반에 대한 처분취소(소비자보호법 제52조의5)</li>
			<li>하도급거래공정화에관한법률 제27조 제1항</li>
		</ul>
	</dd>

	<dt>라.	민중소송 및 기관소송의 재판관할</dt>
	<dd>민중소송과 기관소송의 재판관할에 관하여는 그 소송을 인정하는 개별법률에 관할에 관한 특별규정을 두고 있다.<br />현행 법규를 보면, 대통령·국회의원·도지사(특별시장·광역시장 포함)의 선거무효 또는 당선무효소송은 대법원, 지방의회의원 또는 자치구·시·군의 장의 선거무효 또는 당선무효소송의 관할은 고등법원으로 되어 있고(공직선거및선거부정방지법 제222조 제1항, 제2항, 제223조 제2항), 국민투표무효소송 (국민투표법 제92조), 지방의회나 교육위원회의 의결무효소송(지방자치법 제98조, 제159조, 지방 교육자치법 제38조), 지방자치단체장·교육장의 주무부장관이나 상급지방자치단체장의 감독처분에 대한 이의소송(지방자치법 제157조, 제157조의2, 지방교육자치법 제50조, 제50조의2)의 관할법원은 대법원으로 되어 있다.</dd>
</dl>

<h4>4. 행정소송과 행정심판의 관계</h4>
<p>행정소송법은 종래 필요적 전치주의를 택하여 원칙적으로 행정심판을 거치지 않으면 항고소송을 제기할 수 없도록 하였으나, 1998.3.1.부터 시행되는 개정 행정소송법은 행정소송에도 3심제를 채택함과 아울러 항고소송에 대하여는 원칙적으로 행정심판을 거치지 않고도 행정소송을 제기할 수 있도록 임의적 전치 주의를 채택하였다.
행정소송은 합의사건이므로 당사자 본인이 직접 소송을 수행하거나 변호사 또는 지배인 등 법률상 인정된 대리인에 의하여서만 소송이 가능하고, 법원의 허가에 의한 소송대리는 불허한다. </p>
<dl>
	<dt>가.	임의적 전치주의(원칙)</dt>
	<dd>행정소송법의 규정에 따라 행정심판을 거칠 것인지 여부가 원고의 선택에 맡겨져 있으므로 행정처분 으로 인하여 권리이익을 침해받은 자는 바로 행정소송을 제기할 수도 있고, 행정심판과 행정소송을 동시에 청구하거나 또는 행정심판을 거쳐 행정소송을 청구할 수도 있다.</dd>

	<dt>나.	필요적 전치주의(예외)</dt>
	<dd>⑴ 행정소송법 제18조 제1항 본문은 원칙적으로 행정심판을 거치지 아니하고도 취소소송을 제기할 수 있도록 하면서 그 단서에서 "다만, 법률에 당해 처분에 대한 행정심판의 재결을 거치지 아니하면 취소소송을 제기할 수 없다는 규정이 있을 때는 그러하지 아니하다."고 규정하여 필요적 전치주의가 적용 되는 사건이 있다.</dd>
	<dd>⑵ 현행법상 필요적 전치주의 적용을 받는 처분
		<ul>
			<li>㈎ 공무원에 대한 징계 기타 불이익처분(국가공무원법 제16조 제2항, 교육공무원법 제53조 제1항, 지방공무원법 제20조의2)</li>
			<li>㈏ 각종 세법상의 처분(국세기본법 제56조 제2항, 지방세법 제78조 제2항, 관세법 제38조의2 제2항)</li>
			<li>㈐ 행정심판재결만이 소송의 대상이 되는 사건(노동위원회의 결정, 토지수용법에 의한 토지수용위원회의 재결 등) </li>
		</ul>
	</dd>
</dl>

<h4>5. 제소기간</h4>
<dl>
	<dt>가.	취소소송</dt>
	<dd>
		<dl>
			<dt>⑴ 행정심판 청구를 하지 않은 경우</dt>
			<dd>처분 등이 있음을 안 날로부터 90일, 처분 등이 있은 날로부터 1년 이내에 제기하여야 한다. 위 두 기간 중 어느 것이나 먼저 도래한 기간 내에 제기 하여야 하고 어느 하나의 기간이라도 경과하게 되면 부적법한 소가 된다.</dd>
			<dt>⑵ 행정심판청구를 한 경우</dt>
			<dd>행정심판재결서정본을 송달받은 날부터 90일, 재결이 있은 날로부터 1년 이내에 소를 제기하여야 한다</dd>
		</dl>
	</dd>
	
	<dt>나. 무효등확인소송</dt>
	<dd>제소기간에 제한이 없다.</dt>

	<dt>다.	부작위위법확인소송</dt>
	<dd>부작위상태가 계속되는 한 언제라도 소를 제기할 수 있다.</dd>

	<dt>라.	필요적 전치주의가 적용되는 소송</dt>
	<dd>
		<dl>
			<dt>⑴ 공무원에 대한 징계 기타 불이익 처분</dt>
			<dd>
				<dl>
					<dt>㈎ 일반공무원
					<dd>소청심사위원회에 심사청구(30일내) → 소송제기(90일내)</dd>
					<dt>㈏ 교원인 공무원</dt>
					<dd>교원징계재심위원회에 재심청구(30일내) → 소송제기(60일내)</dd>
				</dl>
			</dd>
			<dt>⑵ 토지수용법에 의한 수용재결처분</dt>
			<dd>중앙토지수용위원회에 이의재결신청(1월이내) → 소송제기(1월이내)</dd>
			<dt>⑶ 노동위원회의 결정에 대한 불복</dt>
			<dd>중앙노동위원회에 재심신청(10일이내) → 소송제기(15일이내)</dd>
		</dl>
	</dd>
</dl>

<h4>6. 소장 작성시 일반적 유의사항</h4>
<p>소장은 일반적으로 당사자표시와 청구취지, 청구원인 등을 기재하고 증거서류를 첨부한 다음, 정부수입인지 첩부(또는 현금납부)와 송달료를 예납하고 관할법원에 제출하여야 한다. 특히 "청구취지"는 원고의 청구가 받아들여질 경우에 판결의 주문에 해당되기 때문에 기재에 신중을 기해야 한다.<br />소장에 첨부한 증거서류는 그 부본을 소장접수시 제출하거나 변론기일에 상대방에게 교부하여야 한다. 공무원 신분에 관련된 소송이나 조세소송 등은 행정소송을 제기하기 전에 반드시 먼저 행정심판을 거치도록 되어 있으므로 행정심판 제기일자, 행정청의 심판 또는 재결일자, 위 결정 송달일자 등과 같은 전심과 관련된 내용의 주장을 하여야 하고 그에 대한 증거도 제출하여야 한다.</p>

<dl>
	<dt>가. 	당사자 표시방법</dt>
	<dd>
		<dl>
			<dt>⑴ 원고의 표시</dt>
			<dd>
				원고의 표시방법은 원칙적으로 민사소송의 경우와 같다.<br />
				[예] 원고 홍 길 동 (550816-1553710)<br />
				서울 서초구 서초동 1701-1<br />
				(우편번호 137-744, 전화 530-1737, FAX 530-1736)
			</dd>
			<dt>⑵ 피고의 표시</dt>
			<dd>
				<dl>
					<dt>㈎ 처분행정청인 경우 - 당해 행정청만 표시</dt>
					<dd>(예 : 서초세무서장, 법무부장관, 서울특별시장)</dd>
					<dt>㈏ 보통지방행정기관인 경우 - 당해 행정청의 소속 시·도·군 명을 기재</dt>
					<dd>(예 : 서울특별시 서초구청장, 충주시장, 예천군수, 강원도 고성군수, 서산시 지곡면장, 영암군 미암면장)</dd>
					<dt>㈏ 보통지방행정기관인 경우 - 당해 행정청의 소속 시·도·군 명을 기재</dt>
					<dd>(예 : 서울특별시 서초구청장, 충주시장, 예천군수, 강원도 고성군수, 서산시 지곡면장, 영암군 미암면장)</dd>
					<dt>㈐ 특별지방행정기관인 경우 - 당해 행정청의 고유명칭을 기재</dt>
					<dd>(예 : 예산세무서장, 동해경찰서장, 서울남부보훈지청장, 용인교육청 교육장, 강릉영림서 양양관리소장 )</dd>
					<dt>㈑ 공·사법인인 경우 - 대표자 또는 대리인을 기재</dt>
					<dd>(예 : 대한주택공사 사장 홍 길 동)</dd>
					<dt>㈒ 합의제 기관인 경우 - 대표자 또는 대리인을 기재</dt>
					<dd>(예 : 중앙토지수용위원회 대표자 홍 길 동)</dd>
					<dt>㈓ 중앙노동위원회인 경우</dt>
					<dd>(예 : 중앙노동위원회위원장 홍 길 동)</dd>
					<dt>㈔ 의회인 경우</dt>
					<dd>(예 : 대전광역시 대덕구의회 의장 홍 길 동)</dd>
					<dt>㈕ 소송참가의 경우 - 행정소송법 제16조, 제17조</dt>
					<dd>(예 : 「제3자 참가인」, 「참가행정인」)</dd>
				</dl>
			</dd>
		</dl>
	</dd>
	<dt>나.	청구취지의 표시 방법</dt>
	<dd>
		<dl>
			<dt>⑴ 공무원의 신분에 관한 것</dt>
			<dd>「대통령이 1998. 1. 10. 원고에 대하여 한 파면처분을 취소한다.」<br />(* 처분청과 피고가 다른 경우임)</dd>
			<dt>⑵ 공무원연금법상의 처분에 관한 것</dt>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 한 공무원요양신청부결처분을 취소한다.」</dd>
			<dt>⑶ 국가유공자등록에 관한 것</dt>
			<dd>「피고가 1998. 10. 16. 원고에 대하여 한 국가유공자유족등록거부처분을 취소한다.」</dd>
			<dt>⑷ 산업재해보상보험법상의 청구에 관한 것</dt>
			<dd>「피고가 1998. 6. 19. 원고에 대하여 유족보상일시금 및 장의비 지급을 거부한 처분을 취소한다.」</dd>
			<dd>「피고가 1998. 11. 20. 원고에 대하여 한 제4, 5 요추수핵탈출증의 추가상병불승인처분을 취소한다.」</dd>
			<dt>⑸ 각종의 불허가, 반려처분에 관한 것</dt>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 한 건축허가를 거부한 처분(도시 444.1-1753)을 취소한다.」</dd>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 한 문학박사학위신청기각처분을 취소한다.」</dd>
			<dd>「피고가 1998. 10. 31. 원고의 경기 연천군 신서면 대관리 1035 전 21,454㎡에 관한 토지형질변경 허가를 불허한 처분을 취소한다.」</dd>
			<dd>「피고가 1998. 9. 5. 원고들에 대하여 시내버스 한정면허(마을버스)운송사업조합인가를 거부한 처분은 이를 취소한다.」</dd>
			<dt>⑹ 노동관계 행정소송에 관한 것 :</dt>
			<dd>「피고가 1998. 4. 13. 원고와 피고보조참가인 사이의 93부해55 부당해고구제재심신청사건에 관하여 한 재심판정을 취소한다.」</dd>
			<dt>⑺ 각종 면허취소나 영업정지 등 소위 제재처분에 관한 것 :</dt>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 유흥주점 "○○"의 영업정지를 명한 처분을 취소한다.」</dd>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 같은 해 1. 11.부터 같은 해 2. 2. 까지 의료업정지를 명한 처분을 취소한다.」</dd>
			<dd>「피고가 1998. 1. 30. 원고에 대하여 한 별지기재와 같은 내용의 시정명령은 이를 취소한다.」</dd>
			<dd>「피고가 1998. 2. 20. 원고에 대하여 한 자동차운전면허(서울 제1종 대형 1183-045810-10호)의 취소처분을 취소한다.」</dd>
			<dd>「피고가 1998. 12. 17. 원고에 대하여 한 비디오물 대여업자등록 취소처분을 취소한다.」</dd>
			<dt>⑻ 철거나 계고처분에 관한 것 :</dt>
			<dd>「피고가 1998. 1. 10. 원고에 대하여 한 ○○○산 1 임야 내에 있는 분묘 1기에 관한 개장명령 및 행정대집행계고처분을 각 취소한다.」</dd>
			<dt>⑼ 부담금이나 조세 등의 부과처분에 관한 것 :</dt>
			<dd>「피고가 1998. 9. 1. 원고에 대하여 한 종합토지세 금10,000,000원의 부과처분 중 금 5,000,000원을 초과하는 부분을 취소한다.」</dd>
			<dd>「피고가 원고에 대하여 한 별지목록 (1) 기재의 법인세부과처분 중 같은 목록 (2) 기재부분을 취소한다.」</dd>
			<dd>「피고가 1998. 8. 11. 원고에게 한 개발부담금 400,000,000원의 부과처분을 취소한다.」</dd>
		</dl>
	</dd>

	<dt>다.	청구원인 기재방법</dt>
	<dd>청구원인의 기재는 소송상의 청구를 다른 청구와 구별할 수 있을 정도로 주장 책임의 범위내에서 간결·명료하게 기재하여야 한다.</dd>

	 <dt>라.	 첨부서류</dt>
	 <dd>
		⑴ 소가산정에 필요한 서류
		⑵ 소송수행권을 증명하는 서면
		⑶ 인지 및 송달료의 예납을 증명하는 서류소정의 인지를 첩부하거나 납부하고 송달료를 예납한 후 그에 대한 서류를 소장에 첩부하여야 한다.
		⑷ 소장의 부본
		피고의 수에 따른 소장부본 첨부(민사소송규칙 제43조의4)
	</dd>
	<dt>마.	소가의 산정</dt>
	<dd>
		<dl>
			<dt>⑴ 원 칙</dt>
			<dd>㈎ 조세 기타 공법상의 금전, 유가증권 또는 물건의 납부를 명한 처분의 무효 확인 또는 취소를 구하는 소송 - 청구가 인용됨으로써 원고가 납부의무를 면하게 되거나 환급 받게 될 금전, 유가증권 또는 물건가액의 3분의 1(다만, 그 가액이 30억원을 초과하는 경우 이를 30억원으로 본다)<br />(예 : 서초세무서장, 법무부장관, 서울특별시장)</dd>
			<dd>㈏ 체납처분취소의 소송 - 체납처분의 근거가 된 세액을 한도로 한 목적물건가액의 3분의 1. 다만, 그 가액이 30억원을 초과하는 경우 이를 30억원으로 본다.</dd>
			<dd>㈐ 금전지급 청구의 소 - 청구금액</dd>
			<dd>㈑ 위 1 내지 3호에 규정된 것 이외의 소송 - 20,000,100원(비재산권을 목적으로 하는 소송으로 간주)<br />※ 토지의 가액은 개별공시지가에 100분의 30을 곱하여 산정한 금액</dd>

			<dt>⑵ 부동산에 관련한 처분</dt>
			<dd>환지예정지 지정처분이나 토지수용에 관한 사업인정처분과 같은 부동산에관련한 처분은 비재산권을 목적으로 하는 소송으로 보아 2천만 100원으로 한다.</dd>
			
			<dt>⑶ 특수한 소송</dt>
			<dd>부작위위법확인을 구하는 소도 비재산권상의 소로 보아 2천만 100원으로 한다.</dd>

			<dt>⑷ 수개의 청구</dt>
			<dd>
				<dl>
					<dt>㈎ 수개 청구의 주장 이익이 독립한 별개의 것인 때</dt>
					<dd>― 합산하여 소가 산정(민사소송법 제24조 제1항, 민사소송등인지규칙 제19조)</dd>
					<dt>㈏ 수개 청구의 주장 이익이 동일 또는 중복될 때</dt>
					<dd>― 그 중 다액을 소가로 함</dd>
					<dt>㈐ 과실, 손해배상, 위약금 또는 비용의 청구가 소송의 부대목적인 때</dt>
					<dd>― 그 가액은 산입 안함(민사소송법 제24조 제2항)</dd>
				</dl>
			</dd>
		</dl>
	</dd> 
	<dt>바.	인지 및 송달료</dt>
	<dd>
		<dl>
			<dt>⑴ 인지액 계산</dt>
			<dd>
				<dl>
					<dt>㈎ 소장 </dt>
					<dd>
						<table summary="" border="1">
							<caption>인지액 계산</caption>
							<thead>
								<tr>
									<th>소 송 가 액</th>
									<th>산 정 내 역</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="2">{예: (소가가 1천만원인 경우) 10,000,000× (45÷ 1,000)+ 5,000?50,000원}</td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td>소가 1천만원 미만 </td>
									<td>소가× (50÷ 10,000)</td>									
								</tr>
								<tr>
									<td>소가 1천만원 이상 1억원 미만 </td>
									<td>소가× (45÷ 10,000)+ 5,000</td>									
								</tr>
								<tr>
									<td>소가 1억원 이상 10억원 미만</td>
									<td>소가× (40÷ 10,000)+ 55,000</td>									
								</tr>
								<tr>
									<td>소가 10억원 이상</td>
									<td>소가× (35÷ 10,000)+ 555,000</td>									
								</tr>
							</tbody>
						</table>
					</dd>
					<dt>㈏ 항소장 및 상고장</dt>
					<dd>항소장에는 소장 첩부액의 1.5배, 상고장에는 소장 첩부액의 2배</dd>
					<dt>㈐ 인지액 납부방법</dt>
					<dd>① 인지액이 20만원 초과 ― 전액 현금으로 납부</dd>
					<dd>② 인지액이 20만원 이하 ― 현금 또는 수입인지로 납부
						<p>※ 현금납부절차 </p>
						<ol>
							<li>원고 상소인</li>
							<li>인지액 현금납부</li>
							<li>송달료 수납은행</li>
							<li>영수필확인서 및 동 통지서</li>
							<li>법원접수</li>
						</ol>
					</dd>
				</dl>
			</dd>
			<dt>⑵ 송달료</dt>
			<dd>당사자 1인당 1회 기준 송달료 2,260원<br />송달료 = 당사자수 × 2,260원 × 회분)
				<dl>
					<dt>㈎ 송달료 납부방법</dt>
					<dd>소장 및 항소장을 제출할 때에는 반드시 송달료를 수납은행에 납부하고 그 은행으로부터 교부받은 송달료납부서 및 사건번호등록표 각 1통을 소장 등과 함께 제출하여야 한다.</dd>
					<dt>㈏ 적용대상사건 및 당사자 1인당 송달료납부기준 </dt>
					<dd>
						<table summary="" border="1">
							<caption>적용대상사건 및 당사자 1인당 송달료납부기준</caption>
							<thead>
								<tr>
									<th>적용대상사건</th>
									<th>당사자 1인당 납부기준</th>
									<th>수 송 달 자</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>행정제1심사건(구)</td>
									<td>10회</td>
									<td>원고, 피고 등</td>
								</tr>
								<tr>
									<td>행정항소사건(누)</td>
									<td>10회</td>
									<td>항소인, 피항소인등</td>
								</tr>
								<tr>
									<td>행정상고사건(두) </td>
									<td>8회</td>
									<td>상고인, 피상고인</td>
								</tr>
								<tr>
									<td>행정신청사건(아) </td>
									<td>2회</td>
									<td>신청인, 상대방</td>
								</tr>
								<tr>
									<td>행정항고사건(루) </td>
									<td>3회</td>
									<td>항고인, 상대방</td>
								</tr>
								<tr>
									<td>행정재항고사건(무) </td>
									<td>5회</td>
									<td>재항고인, 상대방 </td>
								</tr>
								<tr>
									<td>행정특별항고사건(부) </td>
									<td>3회</td>
									<td>특별항고인, 상대방 </td>
								</tr>
								<tr>
									<td>행정준항고사건(사) </td>
									<td>3회</td>
									<td>항고인, 상대방</td>
								</tr>
							</tbody>
						</table>
					</dd>
				</dl>
			</dd>
		</dl>
	</dd>
	<dt>사.	소장의 접수·심사·배당 및 부본의 송달</dt>
	<dd>소장의 접수·심사·배당 및 부본의 송달절차 등은 기본적으로 민사소송과 동일하다.</dd>
</dl>

<h4>7. 소송진행상의 일반적 유의사항</h4>
<p>원고의 주장을 기재한 준비서면이나 증거서류는 반드시 그 부본을 제출하여야 하며 준비서면은 상대방 에게 송달할 수 있도록 적어도 다음 변론기일 10일 전 까지는 법원에 제출하여야 한다.<br />증거서류는 미리 법원에 제출하거나 또는 변론기일에 법정에서 제출하고 그 부본을 상대방에게 교부하여야 하며 증거서류에 서증의 부호와 번호를 부여하여 제출하고자 하는 서류를 특정시켜야 한다.<br />(예: 갑제1호증­호적등본, 갑제2호증의1­행정심판서 송부, 갑제2호증의2­결정)<br />또한 상대방으로부터 교부 받은 증거서류에 대하여는 원고가 "인부"를 하여야 하는데 증거서류가 많고 복잡하며, 당사자에게 확인할 필요가 있는 경우에는 보통 다음 변론기일까지 검토하여 "인부서"를 서면으로 제출하면 된다.<br />(예: 갑제1호증 호적등본­성립인정, 갑제2호증 확인서­부지)</p>

<h4>8. 증거신청 방법</h4>
<p>증거의 신청은 서면이나 구술로 할 수 있으며, 증거신청서에는 인지를 붙일 필요가 없다. 변론기일 또는 준비절차기일에서 구술로 증거신청을 한 후 채택의 결정이 된 다음 다시 서면으로 증거신청서를 제출하는 것이 일반적이나 그 기일 전에도 서면으로 신청할 수 있다.<br/>증거의 신청을 함에는 증거방법을 구체적으로 특정하여야 하므로 증인신문신청시에는 성명·주소 등으로 증인을 특정하여야 하고, 문서를 제출하여 서증을 신청할 때에는 사본을 함께 제출하여야 한다. 문서제출명령의 신청시에는 문서의 표시, 그 취지 및 소지자 등을 밝혀야 하며, 검증·감정의 신청시에는 검증·감정의 목적을 표시하고 그에 의하여 증명할 사항을 구체적으로 명시하여야 한다. 또한, 증인신청서를 제출할 때 원칙적으로 증인여비를 예납하여야 하나 증인이 여비청구권포기서를 제출할 것을 예정하여 업무의 편의상 당사자가 증인을 직접 대동하고 여비를 직접 지불할 경우에는 신청서에 "증인대동, 여비직불"이라고 표시하고 증인여비를 예납하지 않을 수도 있다. 그러나 이 경우에는 반드시 당사자가 증인에게 증인여비를 직접 지급하고 변론기일에 증인을 대동하여야 한다.</p>

<h4>9. 서증의 인부방법과 내용</h4>
<dl>
	<dt>가.	인부방법</dt>
	<dd>당사자가 제출한 서증은 그 진정성립에 관한 입증의 필요여부를 정하기 위하여 상대방에게 인부를 시키게 된다. 그러므로 제출된 증거서류에 대하여는 반대 당사자가 인부를 하게 되는데 인부는 보통 "성립인정", "부인", "부지" 등 3가지가 가장 기본적인 형태이고, "성립인정 입증취지 부인", "공성부분 인정"과 같은 방법으로 할 수도 있다.<br />서증의 인부는 신중하게 하여야 하며 함부로 부지 또는 부인의 답변을 하여서는 아니되며 또한 고의나 중과실로 진실에 반하여 문서의 진정을 다툴 때에는 50만원 이하의 과태료의 제재가 따른다.</dd>
	<dt>나.	인부내용</dt>
	<dd>
		<dl>
			<dt>(1)성립인정</dt>
			<dd>문서가 거증자가 주장하는 특정인의 의사에 기하여 작성된 것을 말한다. 즉, 제출자가 작성자라고 주장하는 자가 진실로 작성한 것이고, 타인이 위조한 것을 말한다. 일반적으로 공문서는 성립인정 하는 경우가 많다.</dd>
			<dt>(2) 부 인</dt>
			<dd>자기나 대리인의 서명날인 있는 서류 중 모르는 문서일 때 부인이라고 인부하며 "부지"라고 인부해서는 안된다.</dd>
			<dt>(3) 부 지</dt>
			<dd>자 기 이외의 자가 작성한 서류 중 모르는 문서일 때 부지라고 한다. 보통 제3자가 작성한 사문서인 경우가 이에 해당한다. 그러나 모르는 제3자가 작성한 사문서라도 제3자가 작성한 사실을 인정할 수 있을 때에는 "성립인정"할 수도 있다.</dd>
			<dt>(4) 성립인정, 입증취지부인</dt>
			<dd>성립은 인정하면서 입증취지는 다툴 때를 말한다. 즉, 당해 사건과 직접관련이 없는 경우뿐만 아니라 내용이 사실과 다르다고 주장하는 경우가 이에 해당한다.</dd>
			<dt>(5) 공성부분 인정</dt>
			<dd>사문서와 공문서가 병존한 경우 부분적인 인부의 필요성이 있을 때 즉, 내용증명우편에 우체국인이 찍힌 경우 그 부분만을 인정할 때가 이에 해당한다. </dd>
		</dl>
	</dd>
</dl>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>