<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률구조사례</h2>

<p>선진 법률복지 사회를 구현하고자 한결같은 마음으로 국민과 함께 한 공단이 실제 도와드렸던 법률구조사례들을 보실 수 있습니다.</p>

<div>
	<dl>
		<dt>번호</dt>
		<dd>9</dd>
	</dl>

	<dl>
		<dt>파일</dt>
		<dd></dd>
	</dl>

	<dl>
		<dt>제목</dt>
		<dd>차량결함 사고 땐 자동차 회사가 배상책임</dd>
	</dl>

	<dl>
		<dt>날짜</dt>
		<dd>2000-00-00</dd>
	</dl>

	<dl>
		<dt>조회</dt>
		<dd>000</dd>
	</dl>
</div>

<div>
	<p>
		사건명 : 손해배상(기)

		□ 사건개요

		피해자 이모씨는 1995. 2. 경 피고가 제작한 차량을 구입하여 1996. 2. 17.경 경기 양주군
		장흥면 소재 도로를 운행하다가 끼어드는 차량을 피하기 위하여 브레이크를 밟는 순간 차량이 회전하
		며 전도되는 사고를 당하여 허리에 부상을 당하여 장해를 입었고, 같은 해 6. 20.경에도 시내도로를
		운전하고 가다가 정차하고 있는 앞 차량을 들이받아 손해를 입힌 사고가 있었는 바, 이는 차량자체의
		브레이크 계통의 결함으로 인한 사고로 추측되어 그로 인한 손해를 지급 받도록 해달라고 법률구조 신
		청한 것임.

		□ 처리결과

		○ 의뢰인이 사고 후 상대방으로부터 A/S를 수십번 받으면서 자동차에 관한 전문지식이 없었으므로
		사고의 원인이 브레이크 계통의 부품에 결함으로 인한 것이었는지를 처음부터 추측하지 못한 채 차량
		을 수리한 결과로 약 3년간에 걸친 1심 소송에서는 그 인과관계 입증이 어려웠고 패소하고 말았다.
		○ 그러나 공단에서는 이에 불복 항소하여 의뢰인이 당한 사고내용을 면밀히 분석하고 자동차 부품
		의 기능 등을 연구한 결과 차량부품의 하자로 인하여 사고가 발생한 사실을 어렵게 입증하였고 이에
		항소심에서는 승소할 수 있었다.(2000. 11. 24.)
		○ 상대방이 불복하여 상고한 상고심에서도 항소심 판결을 그대로 인용하여 의뢰인이 승소하였다.
		(2001. 3. 23.)

		□ 법적근거

		자동차 회사가 차에 하자가 있는 부품을 장착했다는 과실이 인정될 경우 자동차 사고로 인해 피해
		자가 입은 손해는 자동차 회사가 배상할 의무가 있다. 다만 피해자가 자동차 결함을 알고 있으면서도
		완전한 정비점검을 받지 않은 채 운행하거나 사고 당시 도로상황과 다른 차량 동태를 잘 살피지 않고
		급제동함으로써 사고를 당하게 된 데 대해서는 일정한 과실이 인정된다. 법원은 이번 사건의 경우 피
		해자 과실 정도를 30%로 보고 자동차 회사의 책임을 나머지 70%로 제한했다.

		※ 2002. 7. 1.부터 시행되는 제조물책임법 제3조에 의하면 ①제조업자는 제조물의 결함으로 인하여
		생명·신체 또는 재산에 손해(당해 제조물에 대해서만 발생한 손해를 제외한다)를 입은 자에게 그 손
		해를 배상하여야 한다.고 규정하고 있다.
	</p>
</div>

<div>
	<dl>
		<dt>이전글</dt>
		<dd> 중국 교포의 임금을 지급받게 해 준 사례</dd>
	</dl>

	<dl>
		<dt>다음글</dt>
		<dd> 부도 회사 경매대금 배당, 퇴직금과 국세 순위</dd>
	</dl>
</div>

<ul>
	<li>목록보기</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>