<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>심판청구의 절차</h3>

<ul>
	<li>심판청구서의 제출</li>
	<li>심판청구서의 기재사항</li>
	<li>사건의 접수</li>
	<li>지정재판부 각하</li>
	<li>심판회부</li>
	<li>통지</li>
	<li>서면심리의 원칙</li>
	<li>의견서제출</li>
	<li>증거조사 자료제출요구 등</li>
	<li>심판의 장소 및 공개</li>
</ul>

<h4>1. 심판청구서의 제출</h4>

<p>헌법소원심판청구는 심판사항별로 정하여진 청구서를 헌법재판소에 제출하는 방법에 의하는 것이 원칙 이고, 위헌법률심판에 있어서는 법원의 제청서, 탄핵심판에 있어서는 국회의 소추의결서의 정본으로 이에 갈음한다(법 제26조 제1항). 청구서는 이를 지참하여 제출하거나 우송의 방법으로 제출하여도 무방하다. 다만, 우송의 경우에는 청구기간을 계산함에 있어 우체국에의 접수일을 기준으로 하지 않고 실제로 헌법 재판소에 접수된 날짜를 기준으로 함이 실무이므로 우편제출로 인하여 불의의 피해를 받지 않도록 주의 하여야 한다.</p>

<h4>2. 심판청구서의 기재사항</h4>

<p>심판청구가 부적법하거나 청구서에 기재된 내용이 불명료하여 그 뜻하는 바를 파악하기 힘든 경우 등에는 재판장에 의한 보정명령 또는 석명처분이 발하여지고 이로 인하여 심판 절차가 지연되게 되는 등 신속한 심판진행을 저해하게 되므로 청구서는 간결한 문장으로 정연·명료하게 작성하여야 한다.</p>

<h5>가. 법 제68조 제1항에 의한 헌법소원</h5>

<p>헌법재판소에 헌법소원의 심판을 청구하고자 하는 자는 헌법소원심판청구서를 제출하여야 하는 바 (법 제26조 제1항), 실무상은 지정재판부의 심리를 위하여 부본 3부를 함께 제출하도록 지도하고 있다. 헌법소원심판청구서에 필요적으로 기재하여야 할 사항은 다음과 같다 (법 제71조 제1항).</p>

<h6>1) 청구인 및 대리인의 표시</h6>

<p>청구인의 표시란 청구인의 성명, 주소, 전화번호 등의 기재를 의미하며, 주소와는 별도로 송달 받기 원하는 곳(송달장소)이 있으면 이를 기재할 수 있다. 대리인의 표시란, 법 제25조 제3항에 의하여 선임 된 변호사인 대리인의 성명, 주소(사무소)의 기재를 의미한다. 그리고 대리인의 선임 을 증명하는 서류(위임장)를 첨부하여야 한다. 법 제70조에 의하여 국선대리인이 먼저 선정된 경우에는 (동조 제2항) 국선대리인선정통지서(또는 국선대리인선정결정정본)를 첨부한다.</p>

<h6>2) 침해된 권리</h6>

<p>헌법소원은 헌법상 보장된 기본권을 침해받은 자가 제기하는 것이므로, 침해된 권리는 헌법상 보장된 기본권을 의미한다.</p>

<h6>3) 침해의 원인이 되는 공권력의 행사 또는 불행사</h6>

<p>헌법소원심판을 청구하려면 그 심판청구의 취지나 그 이유에서 침해되었다고 주장하는 자기의 기본권 을 특정하고, 심판청구인이 침해의 원인으로 간주하는 공권력 담당기관의 작위 또는 부작위 등을 특정 하여 밝힘으로써 침해된 기본권을 구제 받을 수 있는 것인지의 여부에 대한 헌법적 판단을 구하여야 한다(헌재 1992. 12. 24. 90헌마158, 판례집 4, 922, 926).</p>

<h6>4) 청구이유</h6>

<p>이는 당해 공권력의 행사 또는 불행사가 기본권을 침해하는 이유 또는 헌법에 위반되는 이유를 말하며, 헌법소원심판청구에 이르게 된 경위도 기재한다.</p>

<h6>5) 기타 필요한 사항</h6>

<p>청구기간의 준수여부, 다른 법률에 의한 구제절차의 이행여부와 그에 관한 소명자료의 첨부를 요한다. 나아가 청구인이 헌법소원에 의하여 달성하려는 목적이 무엇인가를 분명히 하기 위하여 실무상은 청구취지를 기재하도록 요구하고 있다.</p>

<h6>6) 피청구인의 기재여부</h6>

<p>제68조 제1항의 헌법소원에 있어서 피청구인을 기재하지 않더라도 부적법하지는 않으나, 불기소 처분 과 같은 처분에 대한 헌법소원의 경우에는 당해 처분청을, 공권력불행사에 대한 헌법소원의 경우에는 그 행위의무가 있다고 주장하는 공권력기관을 각 피청구인으로 특정하는 것이 바람직 할 것이다(법 제75조 제2∼4항).
헌법재판소는 청구인의 심판청구서에 기재된 피청구인이나 청구취지에 구애됨이 없이 청구인의 주장 요지를 종합적으로 판단하여야 하며 청구인이 주장하는 침해된 기본권과 침해의 원인이 되는 공권력을 직권으로 조사하여 피청구인과 심판대상을 확정하여 판단하여야 한다(헌재 1993. 5. 13. 91헌마190, 판례집 5-1, 312, 320).></p>

<h5>나. 법 제68조 제2항에 의한 헌법소원</h5>

<p>법 제68조 제2항에 의한 헌법소원심판을 청구하고자 하는 자는 심판청구서를 부본 3부와 함께 헌법 재판소에 제출하여야 한다. 동 청구서에는 법 제71조 제2항, 제43조의 규정에 따라 ① 청구인 및 대리 인의 표시, ② 사건 및 당사자의 표시, ③ 위헌이라고 해석되는 법률 또는 법률의 조항, ④ 위헌이라고 해석되는 이유, ⑤ 기타 필요한 사항 등을 기재하여야 한다. 기타 필요한 사항으로는 위헌제청신청서 및 기각결정, 그밖에 당해 사건의 관계문서(소장, 공소장 등) 를 들 수 있다.</p>

<h4>3. 사건의 접수</h4>

<p>헌법소원심판청구서가 제출되면 접수공무원은 표지를 붙여 사건기록을 편성하고, 사건번호와 사건명을 부여하여 사건을 특정하며, 헌법소원사건부에 이를 기재하여 사건을 등록한다(접수내규 제6조). 이때 법 제68조 제1항의 헌법소원은 '헌마', 제68조 제2항의 헌법소원은 '헌바'의 사건부호가 부여된다.</p>

<h4>4. 지정재판부 각하</h4>

<p>헌법재판소에 접수된 헌법소원심판사건은 법 제68조 제1항에 의한 헌법소원과 동조 제2항에 의한 헌법 소원을 불문하고 먼저 지정재판부의 사전심사를 거치게 되는데(법 제72조 제1항), 이러한 사전 심사는 심판청구의 본안에 대한 판단이 아니라 단지 청구요건의 구비여부만을 심사하는 것이다. 다음 각 호의 경우에는 지정재판부 재판관 전원의 일치된 의견에 의한 결정으로 심판청구를 각하한다 (법 제72조 제3항).</p>

<ul>
	<li>1. 다른 법률에 구제절차가 있음에도 불구하고 그 절차를 모두 거치지 아니한 경우</li>
	<li>2. 법원의 재판에 대하여 청구된 경우, 다만, 헌법재판소의 법률에 대한 위헌결정(변형결정 포함)에 반하는 법원의 재판에 대하여는 헌법소원심판을 제기할 수 있으나(헌재 1997. 12. 24. 96헌마172 등, 판례집 9-2, 842), 위헌으로 결정된 법률(조항)은 그 결정이 있는 날로부터 효력을 상실하므로(법 제47조 제2항), 원칙적으로 동 위헌결정일 이후의 재판이 이에 해당할 것이다(헌재 1998. 4. 30. 92 헌마239, 공보 27, 378 참조).</li>
	<li>3. 청구기간이 경과된 경우</li>
	<li>4. 변호사를 대리인으로 선임하지 않고 청구한 경우(그러나 청구인 자신이 변호사의 자격을 가진 자인 때에는 각하사유에 해당되지 않는다)</li>
	<li>5. 기타 헌법소원심판의 청구가 부적법하고 그 흠결을 보정 할 수 없는 경우</li>
</ul>

<p>헌 법소원심판을 청구하려면 그 심판청구의 취지나 그 이유에서 침해되었다고 주장하는 자기의 기본권 을 특정하고, 심판청구인이 침해의 원인으로 간주하는 공권력 담당기관의 작위 또는 부작위 등을 특정 하여 밝힘으로써 침해된 기본권을 구제 받을 수 있는 것인지의 여부에 대한 헌법적 판단을 구하여야 한다(헌재 1992. 12. 24. 90헌마158, 판례집 4, 922, 926).</p>

<h4>5. 심판회부</h4>

<p>지정재판부가 심판청구를 각하하지 아니하는 경우에는 결정으로 그 사건을 전원재판부에 회부하는 결정을 하여야 하는데, 심판청구일로부터 30일이 경과할 때까지 각하결정이 없는 때에는 전원재판부에 회부하는 결정이 있는 것으로 본다(법 제72조 제4항). 그런데 지정재판부 재판장이 심판청구의 보정을 요구하면서 정한 보정기간은 법 제72조 제4항에 정하는 지정재판부의 사전심사 기간에서 제외되고, 재판부 기피신청 으로 인하여 심판절차가 정지된 기간은 지정재판부의 위 사전심사기간에 산입하지 아니한다 (헌재 1993. 10. 29. 93헌 마222, 판례집 5-2, 372, 375).</p>

<h4>6. 통 지</h4>

<p>지정재판부는 헌법소원을 각하하거나 심판회부결정(심판회부간주의 경우에 도 같다)을 한 때에는 그 결정일로부터 14일 이내에 청구인 또는 그 대리인 및 피청구인에게 그 사실을 통지하여야 한다(법 제73조 제1항). 헌법재판소장은 헌법소원이 재판부의 심판에 회부된 때에는 법무부장관, 법 제68조 제2항에 의한 헌법소원심판에 있어서는 청구인이 아닌 당해 사건의 당사자에게 지체없이 그 사실을 통지하여 야 한다 (법 제73조 제2항).</p>

<h4>7. 서면심리원칙</h4>

<p>헌법소원심판은 원칙적으로 서면심리에 의하되 재판부가 필요하다고 인정하는 경우에는 변론을 열 수 있는 것으로 규정하고 있다(법 제30조).</p>

<h4>8. 의견서의 제출</h4>

<p>헌법소원심판에 이해관계가 있는 국가기관 또는 공공단체와 법무부장관은 헌법재판소에 그 심판에 관한 의견서를 제출할 수 있다(법 제74조 제1항). 실무상으로는 이해관계기관에게 심판회부통지서 등을 송부함과 동시에 의견서 제출의 기회를 부여하고 있다.</p>

<h4>9. 증거조사 자료제출요구 등</h4>

<p>재판부는 사건의 심리를 위하여 필요하다고 인정하는 경우에는 당사자의 신청 또는 직권에 의하여 다음의 증거조사를 할 수 있다(법 제31조 제1항).</p>

<ul>
	<li>1. 당사자 본인 또는 증인을 신문하는 일</li>
	<li>2. 당사자 또는 관계인이 소지하는 문서 장부 물건 기타 증거자료의 제출을 요구하고 이를 영치하는 일</li>
	<li>3. 특별한 학식과 경험을 가진 자에게 감정을 명하는 일</li>
	<li>4. 필요한 물건 사람 장소 기타 사물의 성상 또는 상황을 검증하는 일</li>
</ul>

<p>이때 재판장은 필요하다고 인정할 경우에는 재판관 중 1인을 지정하여 위와 같은 증거조사를 하게 할 수 있는데(법 제31조 제2항), 이와 같이 지정된 재판관을 법원의 수명법관(민소 제129조 제1항)과 같이 실무상 수명재판관이라고 부른다. 법 제31조는 지정재판부의 심리에 준용되므로(법 제72조 제5항) 지정재판부에서도 위 증거조사를 할 수 있고 지정재판부 재판장은 수명재판관을 지정하여 그로 하여금 증거조사를 하게 할 수 있다. 또한 재판부는 결정으로 다른 국가기관 또는 공공단체의 기관에 대하여 심판에 필요한 사실을 조회하거나, 기록의 송부나 자료의 제출을 요구할 수 있다. 다만, 재판 소추 또는 범죄수사가 진행중인 사건의 기록에 대하여는 송부를 요구할 수 없다(법 제32조).</p>

<h4>10. 심판의 장소 및 공개</h4>

<p>심판의 변론과 종국결정의 선고는 심판정에서 행한다. 다만, 헌법재판소장이 필요하다고 인정하는 경우에는 심판정 외의 장소에서 이를 할 수 있다(법 제33조). 지정재판부의 결정이나 신청사건의 결정은 심판정에서 선고하는 방법에 의하지 아니하고 결정문(정본)을 송달하여 고지한다. 심판의 변론과 결정의 선고는 공개 한다. 다만, 서면심리와 평의는 공개하지 아니하며, 국가의 안전보장, 안녕질서 또는 선량한 풍속을 해할 염려가 있는 때에는 결정으로 변론을 공개하지 아니할 수 있다(법 제34조, 법원조직법 제57조 제1항 단서). 헌법재판소의 심판정에는 대심판정과 소심판정이 있는데, 대심판정은 전원 재판부의 변론, 종국결정의 선고 등의 경우에 사용하고, 소심판정은 수명재판관에 의한 준비절차, 증거조사(법 제31조 제2항) 또는 지정재판부의 증거조사(법 제72조 제5항) 등에 사용된다.</p>