			<ul>
				<li><a href=""><img src="/images/include/quick/klquick_imgMenu01.gif" width="56" height="48" alt="공단이용안내" /></a></li>
				<li><a href=""><img src="/images/include/quick/klquick_imgMenu02.gif" width="56" height="50" alt="사이버상담" /></a></li>
				<li><a href=""><img src="/images/include/quick/klquick_imgMenu03.gif" width="56" height="50" alt="나의사건검색" /></a></li>
				<li><a href=""><img src="/images/include/quick/klquick_imgMenu04.gif" width="56" height="50" alt="서식/상담사례" /></a></li>
				<li><a href=""><img src="/images/include/quick/klquick_imgMenu05.gif" width="56" height="50" alt="사무소안내" /></a></li>
			</ul>