<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>대상자별 도움정보 &gt; 선원</title>
	<link rel="stylesheet" type="text/css" href="/css/kl_law.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	    -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"><img src="/images/common/klcomm_imgSubVisual03.jpg" width="865" height="128" alt="가족처럼 따뜻하게 친구처럼 편안하게 대한법률구조공단의 약속입니다," /></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1><img src="/images/common/contitle/conTit030402.gif" width="150" height="25" alt="대상자별 도움정보" /></h1>

				<div id="freelawAidInfor">
					<div class="freelawAidInfor-t">
						<ul class="freelawAidInfor-b">
							<li>
								<ul>
									<li><a href="/law/lawAid04002.html">소년/소녀가장</a></li>
									<li><a href="/law/lawAid04002002.html">생활보장수급자</a></li>
									<li><a href="/law/lawAid04002003.html">장애인</a></li>
									<li><a href="/law/lawAid04002004.html">국가보훈대상자</a></li>
									<li><a href="/law/lawAid04002005.html">농어민</a></li>
									<li><a href="/law/lawAid04002006.html">임금체불근로자</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><a href="/law/lawAid04002010.html">소상공자영업자</a></li>
									<li><a href="/law/lawAid04002007.html">가정폭력 성폭력 피해여성</a></li>
									<li><a href="/law/lawAid04002008.html">한부모가족</a></li>
									<li><a href="/law/lawAid04002009.html">범죄피해자</a></li>							
									<li><a href="/law/lawAid04002011.html">담배소매인</a></li>
									<li class="currP">선원</li>
								</ul>
							</li>
							<li>
								<ul class="noBd">
									<li><a href="/law/lawAid04002013.html">기타영세민</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<h2 class="styleH2-type2">선원</h2>
				<p id="descFreeAid" class="iconFreeAid12">선원 무료법률구조란 공단이 경제적으로 어렵거나 법을 모르기 때문에 법의 보호를 충분히 받지 못하는 선원에 대하여 법률상담, 무료법률구조, 기타 각종 법률적 지원을 해주는 사업입니다.<br /><br />이를 위해 한국선원복지고용센터가 공단에 법률구조사업비를 지원하고, 공단은 선원법상의 임금?퇴직금 체불 및 재해보상 사고와 관련된 피해 선원에 대해 2008. 1. 1.부터 무료로 소송 등을 지원해 주고 있습니다.</p>

				<h3 class="styleH3-type2">지원대상</h3>
				<ul class="list-btype02">
					<li>선원법상 임금 및 퇴직금이 체불된 피해 선원</li>
					<li>선원법상 재해보상 사고 관련 피해를 입고 보상을 받지 못한 선원</li>
				</ul>

				<h3 class="styleH3-type2">대상자 증빙서류</h3>
				<dl class="list-btype02">
					<dt class="strong">임금 및 퇴직금이 체불된 경우</dt>
					<dd>해양수산부(지방 해양수산청)발행 무료법률구조신청용 임금 및 퇴직금 체불 금품확인서, 신분증, 인장, 법인등기부등본(사업주가 법인일 때) 등지법시행규칙 제9조의 2)</dd>
					<dt>재해보상 사고의 경우</dt>
					<dd>선원수첩, 선원신분증명서, 선박소유자가 발급한 신원보증서, 근로계약서, 취업규칙, 임금대장 등</dd>
				</dl>

				<h3 class="styleH3-type2">무료법률구조 범위</h3>
				<p class="descTitle2">체불임금·퇴직금 및 재해보상 사고 관련 소송대리</p>

				<h3 class="styleH3-type2">법률구조 신청서류</h3>
				<ul class="list2-btype02">
					<li>대상자 증빙서류</li>
					<li>체불금품확인원 및 진단서 등 재해보상 소명 서류</li>
				</ul>

				<h3 class="styleH3-type2">지원기관</h3>
				<p class="descTitle2">한국선원복지고용센터(<a href="http://www.koswec.or.kr" target="_blank" title="새창으로 열립니다.">www.koswec.or.kr</a>) 복지사업팀 ☎ 051-465-2151~2 </p>

				<h3 class="styleH3-type2">사건처리절차</h3>
				<p class="descTitle2"><img src="/images/law/kllaw_imgProcessing1.gif" width="625" height="310" longdesc="lawDescProcessing.html" alt="사건처리 절차" /></p>
				<p class="descTitle2">법률구조를 받고자 하는 분은 공단 소정양식의 법률구조신청서와 함께 본인의 주민등록등본과 법률구조대상자임을 소명할 자료, 그리고 주장사실을 입증할 자료를 해당지역의 공단사무실에 제출하면 됩니다.<br />법률구조신청서가 접수되면 공단에서는 즉시 사실조사에 착수하며 사실조사 과정에서 미비된 서류를 보완하도록 하기도 합니다.</p>

				<p class="descTitle2">공단은 사실조사가 일정단계에 이르면 당사자에게 분쟁에 대한 법률적인 문제점과 그 해결방법을 제시하여 당사자간에 원만히 화해를 이룰 수 있도록 권유하고, 이러한 노력에도 불구하고 화해가 성립하지 않을 경우에는 구조의 타당성, 승소가능성, 집행가능성을 심사하여 '소송'을 할 것인지 여부를 결정합니다. 그리고 소송을 하기로 결정된 사건은 공단 소속변호사나 공익법무관이 소송을 수행하게 됩니다.</p>

				<h3 class="styleH3-type2">기타</h3>
				<p class="descTitle2">무료법률구조사업이란 농협, 수협, 신한은행, KT&amp;G, 여성가족부, 노동부, 중소기업청, 국무총리 복권위원회와 각각 협약을 맺고 동 협약에 따라 이들 기관이 공단에 출연한 적립금을 재원으로 하여 각각 농업인, 어업인, 축산인, 도시영세민, 담배소매인, 가정폭력으로 인한 피해여성, 범죄피해자, 체불근로자, 소상공자영업자 등에게 무료로 법률구조를 해주는 사업입니다.</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>