<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>대상자별 도움정보 &gt; 가정폭력 &middot; 성폭력 피해여성</title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_law.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	    -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"><img src="/Images/common/klcomm_imgSubVisual03.jpg" width="865" height="128" alt="가족처럼 따뜻하게 친구처럼 편안하게 대한법률구조공단의 약속입니다," /></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1><img src="/Images/common/contitle/conTit030402.gif" width="150" height="25" alt="대상자별 도움정보" /></h1>

				<div id="freelawAidInfor">
					<div class="freelawAidInfor-t">
						<ul class="freelawAidInfor-b">
							<li>
								<ul>
									<li><a href="/klac/law/lawAid04002.html">소년/소녀가장</a></li>
									<li><a href="/klac/law/lawAid04002002.html">생활보장수급자</a></li>
									<li><a href="/klac/law/lawAid04002003.html">장애인</a></li>
									<li><a href="/klac/law/lawAid04002004.html">국가보훈대상자</a></li>
									<li><a href="/klac/law/lawAid04002005.html">농어민</a></li>
									<li><a href="/klac/law/lawAid04002006.html">임금체불근로자</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><a href="/klac/law/lawAid04002010.html">소상공자영업자</a></li>
									<li class="currP">가정폭력 성폭력 피해여성</li>
									<li><a href="/klac/law/lawAid04002008.html">한부모가족</a></li>
									<li><a href="/klac/law/lawAid04002009.html">범죄피해자</a></li>							
									<li><a href="/klac/law/lawAid04002011.html">담배소매인</a></li>
									<li><a href="/klac/law/lawAid04002012.html">선원</a></li>
								</ul>
							</li>
							<li>
								<ul class="noBd">
									<li><a href="/klac/law/lawAid04002013.html">기타영세민</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<h2 class="styleH2-type2">가정폭력 성폭력 피해여성</h2>
				<p id="descFreeAid" class="iconFreeAid7">가정폭력, 성폭력 피해여성 무료법률구조란 공단이 가종폭력 또는 성폭력으로 피해를 입은 여성(국내 거주 외국인여성 포함) 및 13세 미만 남아가 가정폭력 또는 성폭력 관련 민·가사 사건 청구를 할 경우 무료로 법률구조를 해 드리는 사업입니다.<br /><br />
				급격한 사회변화 등으로 가정폭력 등, 여성 및 13세 미만의 남아에 대한 폭력의 피해가 증가하고 있음에도 대부분의 피해여성 등은 여성 및 아동폭력에 대한 사회적 무관심, 낮은 사회·경제적인 지위로 인한 법률지식의 부족 및 무자력, 소송에 따른 시간적 여유 부족 등으로 자신의 권익을 지키지 못하는 인권 사각지대에 놓여 있습니다.<br /><br />
				이에 공단은 이들에 대하여 무료로 법률구조를 하여 줌으로써 기본적 인권을 옹호하고 여성 및 아동권익을 신장하고자 여성가족부와 협약을 체결하고 2003. 1. 1.부터 가정폭력 피해여성, 2007. 2. 1.부터 성폭력 피해여성 2008. 3. 1.부터 가정폭력·성폭력 피해 13세 미만 남아에 대하여 민·가사 소송대리 등의 무료법률구조를 실시하고 있다.</p>

				<h3 class="styleH3-type2">지원대상</h3>
				<ul class="list-btype02">
					<li>가정폭력 &middot; 성폭력 피해여성</li>
					<li>가정폭력 &middot; 성폭력 피해 13세 미만 남아 </li>
				</ul>

				<h3 class="styleH3-type2">대상자 증빙서류</h3>
				<p class="descTitle2">다음의 서류 중 해당서류 하나 이상을 제출하시면 됩니다.</p>
				<ul class="list-btype02">
					<li>여성폭력관련 상담소 및 시설에서 확인한 가정폭력 등 피해상담 사실 확인서</li>
					<li>진단서(가정폭력 상해임을 증명할 수 있는 2주 이상의 상해진단서, 진단서 또는 소견서)</li>
					<li>고소장사본 및 수사기관에서 발행한 고소장 접수증명서</li>
				</ul>

				<h3 class="styleH3-type2">무료법률구조 범위</h3>
				<ul class="list-btype02">
					<li>가정폭력·성폭력관련 민사사건 청구</li>
					<li>가정폭력·성폭력관련 가사 사건 청구</li>
				</ul>

				<h3 class="styleH3-type2">법률구조 신청서류</h3>
				<ul class="list-btype02">
					<li>주민등록등본</li>
					<li>가족관계등록부</li>
					<li>
						<dl>
							<dt>주장사실 입증자료</dt>
							<dd>(가정폭력·성폭력)피해상담사실확인서
								<p>* 가정폭력방지및피해자보호등에관한법률에 의해 설치된 상담소 또는 시설, 여성부 또는 기타 법률에 의해 가정폭력피해여성 보호를 위해 설치된 상담소 또는 시설 등에서 확인</p>
							</dd>
							<dd>진단서(가정, 성폭력에 의한 상해임을 증명할 수 있는 2주 이상의 상해진단서, 진단서 또는 소견서) </dd>
							<dd>고소장사본 및 고소장접수증명서</dd>
							<dd>그 외 피해사실을 입증할 수 있는 서류</dd>
						</dl>
					</li>
				</ul>

				<h3 class="styleH3-type2">법률구조실적</h3>
				<p class="alignR">(단위 : 건, 억원)</p>
				<table summary="법률구조실적 년도별 실적" width="630" class="tab-layout2 lawtype2">
					<thead>
						<tr>
							<th colspan="3" scope="col" class="noBd-left">구분</th>
							<th scope="col">2003</th>
							<th scope="col">2004</th>
							<th scope="col">2005</th>
							<th scope="col">2006</th>
							<th scope="col">2007</th>
							<th scope="col" class="noBd-right">계</th>
						</tr>
					</thead>
					<tbody class="alignC">
						<tr>
							<td rowspan="3" class="noBd-left">가정폭력 &middot; 성폭력<br />피해여성</td>
							<td rowspan="2">민사 등 </td>
							<td>건</td>
							<td>2,271</td>
							<td>2,711</td>
							<td>2,612</td>
							<td>2,675</td>
							<td>3,154</td>
							<td class="noBd-right strong">13,423</td>
						</tr>
						<tr>
							<td class="noBd-left">금액</td>
							<td>900</td>
							<td>1,119</td>
							<td>1,073</td>
							<td>1,070</td>
							<td>1,216</td>
							<td class="noBd-right strong">5,378</td>
						</tr>
						<tr>
							<td class="noBd-left">형사</td>
							<td>건</td>
							<td>5</td>
							<td>11</td>
							<td>0</td>
							<td>2</td>
							<td>2</td>
							<td class="noBd-right strong">20</td>
						</tr>
					</tbody>
				</table>

				<h3 class="styleH3-type2">지원기관</h3>
				<ul class="list2-btype02">
					<li>여성부(<a href="http://www.mogef.go.kr" target="_blank" title="새창으로 열립니다.">www.mogef.go.kr</a>)</li>
					<li>담당부서 : 권익증진국 인권보호과 ☎ 2075-4668</li>
				</ul>

				<h3 class="styleH3-type2">사건처리절차</h3>
				<p class="descTitle2">법률구조를 받고자 하는 분은 공단 소정양식의 법률구조신청서와 함께 본인의 주민등록등본과 법률구조대상자임을 소명할 자료, 그리고 주장사실을 입증할 자료를 해당지역의 공단사무실에 제출하면 됩니다.<br />법률구조신청서가 접수되면 공단에서는 즉시 사실조사에 착수하며 사실조사 과정에서 미비된 서류를 보완하도록 하기도 합니다.</p>

				<p class="descTitle2">공단은 사실조사가 일정단계에 이르면 당사자에게 분쟁에 대한 법률적인 문제점과 그 해결방법을 제시하여 당사자간에 원만히 화해를 이룰 수 있도록 권유하고, 이러한 노력에도 불구하고 화해가 성립하지 않을 경우에는 구조의 타당성, 승소가능성, 집행가능성을 심사하여 '소송'을 할 것인지 여부를 결정합니다. 그리고 소송을 하기로 결정된 사건은 공단 소속변호사나 공익법무관이 소송을 수행하게 됩니다.</p>

				<h3 class="styleH3-type2">기타</h3>
				<p class="descTitle2">무료법률구조사업이란 농협, 수협, 신한은행, KT&amp;G, 여성가족부, 노동부, 중소기업청, 국무총리 복권위원회와 각각 협약을 맺고 동 협약에 따라 이들 기관이 공단에 출연한 적립금을 재원으로 하여 각각 농업인, 어업인, 축산인, 도시영세민, 담배소매인, 가정폭력으로 인한 피해여성, 범죄피해자, 체불근로자, 소상공자영업자 등에게 무료로 법률구조를 해주는 사업입니다.</p>
				<p class="alignR">(2008. 3. 1.기준)</p>
				<table summary="출연기관, 대상자, 누적출연금, 사업개시일" width="630" class="tab-layout2 lawtype2">
					<caption>무료법률구조사업 출연상황</caption>
					<colgroup span="4">
						<col width="20%" />
						<col width="40%" />
						<col width="20%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col" class="noBd-left">출연기관</th>
							<th scope="col">대상자</th>
							<th scope="col">누적출연금</th>
							<th scope="col" class="noBd-right">사업개시일</th>
						</tr>
					</thead>
					<tbody class="alignC">
						<tr>
							<td class="noBd-left">여성부</td>
							<td>가정폭력·성폭력으로 인한 피해를 입은 여성 (국내거주 외국인 여성 포함)</td>
							<td>37억 2천만</td>
							<td class="noBd-right">2003.1.1</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>