<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조 신청절차 및 구비서류</title>
	<link rel="stylesheet" type="text/css" href="/css/kl_law.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	  -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"><img src="/images/common/klcomm_imgSubVisual03.jpg" width="865" height="128" alt="가족처럼 따뜻하게 친구처럼 편안하게 대한법률구조공단의 약속입니다," /></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1><img src="/images/common/contitle/conTit0301.gif" width="150" height="25" alt="공단이용안내" /></h1>

				<ul id="commTabnavi">
					<li><a href="/law/lawAid01.html" onmouseover="jsTabnaviSwap(1,event);" onfocus="jsTabnaviSwap(1,event);" onmouseout="jsTabnaviSwap(1,event);" onblur="jsTabnaviSwap(1,event);"><img src="/images/tabMenu/kltab_law0101_off.gif" width="95" height="30" alt="대한법률구조공단" id="tabImg1" /></a></li>
					<li><a href="/law/lawAid01002.html" onmouseover="jsTabnaviSwap(2,event);" onfocus="jsTabnaviSwap(2,event);" onmouseout="jsTabnaviSwap(2,event);" onblur="jsTabnaviSwap(2,event);"><img src="/images/tabMenu/kltab_law0102_off.gif" width="81" height="30" alt="공단이 하는 일" id="tabImg2" /></a></li>
					<li><a href="/law/lawAid01003.html" onmouseover="jsTabnaviSwap(3,event);" onfocus="jsTabnaviSwap(3,event);" onmouseout="jsTabnaviSwap(3,event);" onblur="jsTabnaviSwap(3,event);"><img src="/images/tabMenu/kltab_law0103_off.gif" width="160" height="30" alt="공단의 도움을 받을 수 있는 경우" id="tabImg3" /></a></li>
					<li><a href="/law/lawAid01004.html" onmouseover="jsTabnaviSwap(4,event);" onfocus="jsTabnaviSwap(4,event);" onmouseout="jsTabnaviSwap(4,event);" onblur="jsTabnaviSwap(4,event);"><img src="/images/tabMenu/kltab_law0104_off.gif" width="155" height="30" alt="비용은 걱정하지 않아도 되는지" id="tabImg4" /></a></li>
					<li class="noMg"><img src="/images/tabMenu/kltab_law0105_on.gif" width="155" height="30" alt="법률구조 신청절차 및 구비서류" id="tabImg5" /></li>
				</ul>				

				<h2 class="styleH2-type2">법률구조 신청절차 및 구비서류</h2>

				<p class="descTitle">먼저 공단사무실을 방문하여 상담을 하셔야 합니다. 공단사무실을 방문할 때는 본인이 가지고 있는 관련 서류를 모두 가지고 오시는 것이 좋습니다.</p>

				<p class="descTitle">법률구조를 해야 할 사안인지 판단하기 위하여 공단은 법률구조신청서와 함께 주민등론등본, 법률구조대상자소명자료, 주장사실 입증자료를 추가로 요구하기도 합니다. 그리고 이러한 서류를 기초로 법률구조의 타당성, 승소가능성과 소송의 실익 등을 검토한 후 법률구조여부를 결정합니다.</p>

				<p class="descTitle">법률구조를 하기로 결정된 사안은 공단에서 소송진행 등 모든 법률적인 문제를 맡아 처리하여 줍니다.</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>