<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<title>법률구조공단</title>
</head>
<body>
	<h1>신청사건 처리절차</h1>

	<h2>민사, 가사사건등 처리절차</h2>
	<p>법률상담 후 법률구조 사건 접수를 하고 사건조사를 한 후 화해를 권유한다. 화해가 성립되면 사건이 종결, 화해불성립시는 소송구조여부를 결정한다. 기각이 결정되면 사건이 종결, 소송구조결정시는 재판을 진행한다. 승소시 비용을 상환하고 사건을 종결, 패소시 사건이 종결된다.(상소심구조 여부검토)</p>

	<h2>형사사건 처리절차</h2>
	<p>법률상담 후 법률구조 사건 접수를 하고 사건조사를 한 후 소송구조여부를 결정한다. 소송구조결정시 사건이 종결될 때까지 변호활동을 한다. 기각결정시는 사건종결된다.</p>
</body>
</html>