<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>공단배너안내</h2>

<p>배너위에 클릭하시면 다운 받으실수 있습니다.</p>


<ul>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION 로고,텍스트 배너이미지(184*53)</li>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION 로고, 텍스트, 배경이미지 배너이미지(184*53)</li>
	<li>가족처럼 따듯하게 친구처럼 편안하게 대한법률구조공단 KOREA LEGAL AID CORPORATION 배너이미지(186*55)</li>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION 배너이미지(184*41)</li>
</ul>

<p>배너를 달기를 원하는 HTML의 위치에 아래 소스(Source)를 복사하시면, 배너가 삽입됩니다.</p>

<ul>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION 로고,텍스트 배너이미지<br/>소스(Source)<code><a href="http://www.klac.or.kr" target="_blank"><img src="http://www.klac.or.kr/helper/images/banner1.gif"></a></code></li>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION 로고, 텍스트, 배경이미지 배너이미지<br/>소스(Source)<code><a href="http://www.klac.or.kr" target="_blank"><img src="http://www.klac.or.kr/helper/images/banner2.gif"></a></code></li>
	<li>가족처럼 따듯하게 친구처럼 편안하게 대한법률구조공단 KOREA LEGAL AID CORPORATION 배너이미지<br/>소스(Source)<code><a href="http://www.klac.or.kr" target="_blank"><img src="http://www.klac.or.kr/helper/images/banner3.gif"></a></code></li>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION<br/>소스(Source)<code><a href="http://www.klac.or.kr" target="_blank"><img src="http://www.klac.or.kr/helper/images/banner4.gif"></a></code></li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>