<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>관련사이트</h1>

<h2>법률관련 공공기관</h2>

<p>국가기관 및 국내외의 유관기관 사이트를 보실 수 있습니다.</p>

<p>다음에 소개되는 사이트에 게재된 법률정보 등은 대한법률구조공단에서 그 내용을 공식적으로 인정하는 것은 아님을 밝힙니다. 또한 아래에서 소개하는 법률관련 사이트가 누락되었거나 주소가 변경되었을 경우, 또는 새로 개설되었을 경우 공단으로 메일을 보내주시면 감사하겠습니다.</p>

<ul>
	<li>대법원</li>
	<li>헌법재판소</li>
	<li>법무부</li>
	<li>대검찰청</li>
	<li>대한변호사협회</li>
	<li>법제처</li>
	<li>KICJP한국형사정책연구원</li>
	<li>국민고충처리위원회</li>
	<li>서울변호사회</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>