<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_cyber.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	    -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>상담실</h1>

<ul>
	<li>상담안내</li>
	<li>상담신청</li>
	<li>유사사례찾기</li>
</ul>

<h2 class="styleH2-type1">법률상담 FAQ</h2>

<h3 class="styleH3-type1">2. 빌련준 돈을 못 받았는데 사기죄로 고소할 수 있나요?</h3>

<ul>
	<li>1. 입금을 못 받았는데 어떻게 해야 하나요?</li>
	<li>2. 빌려준 돈을 못 받았는데 사기죄로 고소할 수 있나요?</li>
	<li>3. 빌려준 돈을 못 받았는데 어떻게 해야 하나요?</li>
	<li>4. 이혼하고 싶은데 어떻게 해야 하나요?</li>
	<li>5. 집주인이 임차보증금을 돌려주지 않을 때는 어떻게 해야 하나요?</li>
	<li>6. 임차인이 집을 비워주지 않으면 어떻게 하나요?</li>
	<li>7. 저는 상가임대차보호법의 적용대상인가요?</li>
</ul>

<p>귀하는 돈을 갚지 않는 상대방을 사기죄로 고소할 수 있는지 문의하셨습니다.</p>

<p>사기죄는 타인을 기망하여 착오에 빠지게 하고 기망에 빠진 그 타인의 처분행위로 재산적 이득을 얻음으로써 성립하는 죄입니다(형법 제347조). 이 경우의 기망이라 함은 널리 재산상의 거래관계에 있어서 서로 지켜야 할 신의성실의 의무를 져버리는 것을 말합니다.</p>

<p>빌려준 돈을 갚지 않을 경우에 사기죄가 성립되는가에 관하여 판례를 보면 "차용금 편취에 의한 사기죄의 성립여부는 차용당시를 기준으로 판단하여야 하므로, 피고인이 차용당시에는 변제할 의사와 능력이 있었다면 그 후에 차용사실을 전면 부인하면서 변제를 거부한다고 하더라도 이는 단순한 민사상의 채무불이행에 불과할 뿐 형사상 사기죄가 성립한다고 할 수 없고, 한편 사기죄의 주관적 구성요건인 편취의 고의의 존부는 피고인이 자백하지 아니하는 한 범행 전후의 피고인의 재력, 환경, 범행의 내용, 거래의 이행과정, 피해자와의 관계 등과 같은 객관적인 사정을 종합하여 판단하여야 한다."라고 하였습니다(대법원 1996.3.26. 95도3034).</p>

<p>따라서 상대방이 당초부터 변제할 의사나 능력 없이 금전을 차용하였다는 것을 밝힐만한 객관적 사정이 있어야 사기죄가 성립할 것입니다. 그러할 가능성이 충분히 있다면 고소하여 수사기관의 판단을 받도록 할 필요가 있겠으나, 그렇지 않다면 형사적으로는 문제가 되지 않고 다만 민사적으로 대여금반환청구소송을 통하여 해결하여야 할 것입니다.</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>