<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>칭찬합시다</h2>

<table border="1">	
	<tr>
		<td rowspan="2">질문</td>
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>질문날짜</td>
		<td>조회</td>
	</tr>
	<tr>
		<td>12</td>
		<td>xxxxx xxx xxx x xxxx</td>
		<td>홍길동</td>
		<td>08.11.19</td>
		<td>20</td>
	</tr>
	<tr>
		<td colspan="6">zzzzzz ddddddddd ddddd aa zzzzzz e</td>
	</tr>
</table>

<table border="1">	
	<tr>
		<td rowspan="2">질문</td>
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>질문날짜</td>
		<td>조회</td>
	</tr>
	<tr>
		<td>12</td>
		<td>xxxxx xxx xxx x xxxx</td>
		<td>홍길동</td>
		<td>08.11.19</td>
		<td>20</td>
	</tr>
	<tr>
		<td colspan="6">zzzzzz ddddddddd ddddd aa zzzzzz e</td>
	</tr>
</table>

<dl>
	<dt>이전글</dt>
	<dd>xxx xxxx x x </dd>
	<dt>다음글</dt>
	<dd>x x x x xxxxx xxx </dd>
</dl>

<ul>
	<li><a href="">목록보기</a></li>
	<li><a href="">수정하기</a></li>
	<li><a href="">삭제하기</a></li>
	<li><a href="">글쓰기</a></li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>