<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>절차안내</h2>

<ul>
	<li>개념</li>
	<li>업무처리절차</li>
	<li>사전공표 대상정보</li>
	<li>비공개 대상정보 세부기준표</li>
	<li>정보공개방법</li>
	<li>불복구제 절차</li>
	<li>수수료 안내</li>
</ul>

<h3>비공개 대상정보 세부기준표</h3>

<h4>1. 다른 법률 또는 법률이 위임한 명령에 의하여 비밀 또는 비공개사항으로 규정된 정보</h4>

<table summary="비밀 또는 비공개사항으로 규정된 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="6">공통</td>
			<td>공가공무원법 제60조에 의하여 직무상 알게 된 비밀</td>
			<td rowspan="6">전 부서</td>
		</tr>
		<tr>
			<td>형사소송법 제47조에 의하여 공판개정전 소송에 관한 서류</td>
		</tr>
		<tr>
			<td>통계법 제33조의 규정에 의하여 통계작성을 위하여 수집된 개인 또는 법인이나 단체의 비밀에 속하는 자료</td>
		</tr>
		<tr>
			<td>국세기본법 제81조의10 규정에 의하여 납세자가 제출한 자료, 국세의 부과 또는 징수목적으로 취득한 자료</td>
		</tr>
		<tr>
			<td>민원사무처리에 관한 법률 제26조의 의하여 민원사무처리와 관련된 정보에 대하여 민원인의 이익을 침해하는 정보</td>
		</tr>
		<tr>
			<td>그밖에 법률 또는 법률에 의한 명령에 의하여 개별적&middot;구체적으로 비밀 또는 비공개하도록 규정된 정보(&quot;법률에 의한 명령&quot;은 내부지침&middot;예규&middot;훈령&middot;지시 등 &quot;비법규사항&quot;을 제외함)</td>
		</tr>
		<tr>
			<td>총무</td>
			<td>국가정보보안기본지침에 의해 작성, 보유, 관리하는 정보</td>
			<td>운영총괄팀</td>
		</tr>
		<tr>
			<td>감사</td>
			<td>공직자윤리법 제14조 및 제14조의3의 규정에 의한 재산등록의무자의 재산등록사항, 금융거래자료. 단 법률에 의해 공개하도록 규정한 사항은 제외한다.</td>
			<td>감사실</td>
		</tr>
	</tbody>
</table>

<h4>2. 국가안전보장&middot;국방&middot;통일&middot;외교관계 등에 관한 사항으로서 공개될 경우 국가의 중대한 이익을 현저히 해할 우려가 있다고 인정되는 정보 : 해당사항 없음.</h4>

<h4>3. 공개될 경우 국민의 생명&middot;신체 및 재산의 보호에 현저한 지장을 초래할 우려가 있다고 인정되는 정보</h4>

<table summary="공개될 경우 국민의 생명&middot;신체 및 재산의 보호에 현저한 지장을 초래할 우려가 있다고 인정되는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="6">공통</td>
			<td>건축물 등의 경비위탁 내용</td>
			<td rowspan="5">운영총괄팀</td>
		</tr>
		<tr>
			<td>위험물의 저장위치</td>
		</tr>
		<tr>
			<td>보유중인 독극물의 종류</td>
		</tr>
		<tr>
			<td>방재, 방범에 방해가 되는 정보</td>
		</tr>
		<tr>
			<td>사람의 생명&middot;생활&middot;지위 등이 위협받는 정보</td>
		</tr>
		<tr>
			<td>법률구조업무와 관련하여 취득한 수사관계 조회사항, 범죄의 피의자, 참고인, 위법&middot;부정행위 등의 통보자 관련 정보</td>
			<td>전 부서</td>
		</tr>
	</tbody>
</table>

<h4>4. 진행중인 재판에 관련된 정보와 범죄의 예방, 수사, 공소의 제기 및 유지, 형의 집행, 교정, 보안처분에 관한 사항으로서 공개될 경우 그 직무수행을 현저히 곤란하게 하거나 형사 피고인의 공정한 재판을 받을 권리를 침해한다고 인정할 만한 상당한 이유가 있는 정보</h4>

<table summary="진행중인 재판에 관련된 정보와 범죄의 예방, 수사, 공소의 제기 및 유지, 형의 집행, 교정, 보안처분에 관한 사항으로서 공개될 경우 그 직무수행을 현저히 곤란하게 하거나 형사 피고인의 공정한 재판을 받을 권리를 침해한다고 인정할 만한 상당한 이유가 있는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="9">공통</td>
			<td>무기&middot;화약&middot;마약&middot;독극물 등의 제조&middot;운반&middot;관리체제에 관한 사항</td>
			<td rowspan="9">전 부서</td>
		</tr>
		<tr>
			<td>범죄목표가 되는 시설 등의 설계도&middot;구조&middot;경비에 관한 정보</td>
		</tr>
		<tr>
			<td>법률구조 접수 사건으로 소송, 비송사건 등 명칭에 불문하고 진행 중이거나, 보존중인  사건 기록</td>
		</tr>
		<tr>
			<td>피의자 신문조서</td>
		</tr>
		<tr>
			<td>마약사범 등의 수사방법 또는 수사내용이 기록된 조서</td>
		</tr>
		<tr>
			<td>임직원 등의 범죄사건 관련 진정, 내사 사건 처리 관련사항</td>
		</tr>
		<tr>
			<td>수형자의 신분기록, 심사자료에 관한 사항 </td>
		</tr>
		<tr>
			<td>피의자가 관련내용을 알 경우 법정에서 자신의 범죄를 부인하기 위한 방어자료로 활용 또는 증거인멸 가능성이 있는 사항</td>
		</tr>
		<tr>
			<td>진행 중인 재판과 직접, 구체적으로 관련되는 정보로서 공개될 경우 재판의 심리 또는 재판결과에 영향을 미칠 구체적인 위험성이 있는 정보</td>
		</tr>
	</tbody>
</table>

<h4>5. 감사&middot;감독&middot;검사&middot;시험&middot;규제&middot;입찰계약&middot;기술개발&middot;인사관리&middot;의사결정과정 또는 내부검토과정에 있는 사항 등으로서 공개될 경우 업무의 공정한 수행이나 연구&middot;개발에 현저한 지장을 초래한다고 인정할 만한 상당한 이유가 있는 정보</h4>

<table summary="감사&middot;감독&middot;검사&middot;시험&middot;규제&middot;입찰계약&middot;기술개발&middot;인사관리&middot;의사결정과정 또는 내부검토과정에 있는 사항 등으로서 공개될 경우 업무의 공정한 수행이나 연구&middot;개발에 현저한 지장을 초래한다고 인정할 만한 상당한 이유가 있는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="4">공통</td>
			<td>국민의 오해나 혼란을 초래할 수 있는 공단 내부의 심의?협의?조사 등의 자료(내부심의중인 안건 또는 미확인자료)</td>
			<td rowspan="4">전 부서</td>
		</tr>
		<tr>
			<td>청구인 등 특정인에게 부당한 이익 또는 불이익을 주는 정보</td>
		</tr>
		<tr>
			<td>공단 내부적으로 검토과정중인 사항으로 공개될 경우 업무의 공정성 수행에 현저한 지장을 초래하는 정보
				<ul>
					<li>1. 법령&middot;훈령&middot;고시&middot;지침&middot;규정 등 제&middot;개정과 주요 정책결정 사항으로써 관 계기관의 협의 등 진행중인 사항</li>
					<li>2. 관계기관 협의사항 및 진행중인 사항</li>
					<li>3. 기관의 직제 개정 검토중인 사항</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>인사위원회, 정보공개심의회 등 정책결정 관련 회의 등에 관한 사항으로서 다음 각 호에 해당하는 사항
				<ul>
					<li>1. 회의의 내용이 대부분 개인의 신상, 재산 등 사행활의 비밀과 관련되어 있는 정보</li>
					<li>2. 회의의 내용이 공개로 인하여 외부의 부당한 압력 등 업무의 공정한 수행을 저해할 우려가 있는 정보</li>
					<li>3. 참석자의 심리적 부담으로 인하여 솔직하고 자유로운 의사교환이 이루어질 수 없다고 인정되는 정보</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<table summary="감사&middot;감독&middot;검사&middot;시험&middot;규제&middot;입찰계약&middot;기술개발&middot;인사관리&middot;의사결정과정 또는 내부검토과정에 있는 사항 등으로서 공개될 경우 업무의 공정한 수행이나 연구&middot;개발에 현저한 지장을 초래한다고 인정할 만한 상당한 이유가 있는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>공통</td>
			<td>임직원이 직무수행과 관련하여 연구&middot;검토한 사항으로서 기관의 공식적인 의사로 볼 수 없는 정보</td>
			<td>전 부서</td>
		</tr>
		<tr>
			<td rowspan="9">총무</td>
			<td>임직원의 채용시험에 관한 사항으로서 시험출제위원명단, 시험출제관리, 면접위원명단, 시험시행에 관한 내부계획, 채점 및 합격자 결정과정 등 시험의 적정한 실시 또는 판정에 지장을 줄 우려가 있는 정보</td>
			<td rowspan="5">운영총괄팀</td>
		</tr>
		<tr>
			<td>직원등의 임면, 복무, 급여, 연수 등의 인사에 관한 개인정보</td>
		</tr>
		<tr>
			<td>직원의 근무성적평가에 관한 정보</td>
		</tr>
		<tr>
			<td>인사위원회의 회의록 등 심사내용</td>
		</tr>
		<tr>
			<td>기타 임직원 인사에 관한 사항으로서 내부 검토?협의?결정 등 공개될 경우 내부 인사기밀이 노출되거나, 외부의 부당한 개입으로 인한 인사의 공정성을 저해할 수 있는 정보</td>
		</tr>
		<tr>
			<td>입찰관련 입찰예정자의 경영&middot;업무&middot;평가결과를 기재한 사항</td>
			<td rowspan="4">재무회계팀</td>
		</tr>
		<tr>
			<td>입찰참가신청서, 첨부서류, 유자격자 명부</td>
		</tr>
		<tr>
			<td>입찰예정가격을 예측할 수 있는 단가, 계약완료 전에 입찰자를 식별할 수 있는 정보 등 공정한 계약을 저해할 수 있는 정보</td>
		</tr>
		<tr>
			<td>설계&middot;시공자에게 불이익을 줄 우려가 있는 정보(설계?시공상의 노하우, 설계도등)</td>
		</tr>
		<tr>
			<td rowspan="4">감사</td>
			<td>불시감사, 직무감찰계획 등에 관한 사항으로서 대상, 시기 방법 등 공개될 경우 제보자의 신분노출 및 증거인멸 등 감사 등의 목적이 실현될 수 없다고 인정되는 정보</td>
			<td rowspan="4">감사실</td>
		</tr>
		<tr>
			<td>감사 등의 결과 및 결과에 따른 조치요구사항</td>
		</tr>
		<tr>
			<td>처분 또는 개선조치에 관한 사항 등</td>
		</tr>
		<tr>
			<td>문답서, 확인서 등 조사활동 중 생산된 문서, 개인 비위자료 등 조사결과 처분지시서, 비리신고 및 처리서류 등 공개될 경우 공정한 업무수행을 저해할 수 있는 정보</td>
		</tr>
	</tbody>
</table>

<h4>6. 당해 정보에 포함되어 있는 이름&middot;주민등록번호 등 개인의 사생활의 비밀 또는 자유를 침해할 우려가 있다고 인정되는 정보. 단 정보공개법 제9조 제1항 제6호의 단서에 해당되는 개인에 관한 정보는 제외한다.</h4>

<table summary="개인의 사생활의 비밀 또는 자유를 침해할 우려가 있다고 인정되어 제외되는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="6">공통</td>
			<td>개인신상정보에 관한 사항으로 공개될 경우 개인 사생활의 침해우려가 있는 정보
				<ul>
					<li>1. 이름, 주민등록번호, 계좌번호 등</li>
					<li>2. 개인명예를 손상시킬 수 있는 사항</li>
					<li>3. 건강진단표</li>
					<li>4. 범죄사실 조회 및 결과</li>
					<li>5. 개인 신상정보를 삭제해도 해당 개인을 인식할 수 있는 사항 </li>
				</ul>
				단, 필요시 예외적으로 문서전체 비공개 가능
			</td>
			<td rowspan="6">전 부서</td>
		</tr>
		<tr>
			<td>진정&middot;탄원&middot;질의 등 각종 민원을 제기한 개인 등의 인적사항. 이 경우 민원내용 또는 처리결과의 공개만으로 당해 민원인의 식별이 가능한 경우 그 민원내용과 민원인이 비공개를 요청한 민원 등을 포함한다. 다만, 민원인이 본인의 인적사항이나 민원내용 등의 공개에 동의하는 경우에는 제외한다.</td>
		</tr>
		<tr>
			<td>특정 임직원의 집 주소, 전화번호, 학력, 주민등록번호, 사회경력 등 공적업무수행과 관련이 없는 정보. 단, 특정 임직원을 식별할 수 없도록 통계목적 등으로 활용되는 경우는 제외한다.</td>
		</tr>
		<tr>
			<td>인사기록카드, 채용후보자 명부, 교육훈련관리, 징계심의&middot;의결&middot;결정통지, 신원조회, 퇴직사실 확인, 유공자 포상 등 인사관리과정에서 생산&middot;취득한 임직원의 개인에 관한 사항으로서 공개될 경우 임직원의 명예&middot;신용&middot;경제적 이익 등 사생활을 침해할 수 있는 정보, 단, 특정 임직원을 식별할 수 없도록 통계목적 등으로 활용되는 경우는 제외한다.</td>
		</tr>
		<tr>
			<td>시험원서&middot;답안지 등에 포함되어 있는 수험생의 성적&middot;학력&middot;주소 등 개인정보</td>
		</tr>
		<tr>
			<td>그밖에 공공기관의 개인정보보호에 관한 법령 등 다른 법령에 개인정보의 공개여부에 대해 규정된 경우 그 법령에 따른다.</td>
		</tr>
	</tbody>
</table>

<h4>7. 법인, 단체 또는 개인의 영업상 비밀에 관한 사항으로서 공개될 경우 법인 등의 정당한 이익을 현저히 해할 우려가 있다고 인정되는 정보</h4>

<table summary="공개될 경우 법인 등의 정당한 이익을 현저히 해할 우려가 있다고 인정되어 제외되는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="4">공통</td>
			<td>법인, 단체 또는 개인(이하 &quot;법인 등&quot;이라 한다)의 경영영업에 관한 정보
				<ul>
					<li>1. 법인 등 사업자 등록번호, 계좌번호 등</li>
					<li>2. 법인 등 신상정보를 삭제해도 해당 법인 등을 인식할 수 있는 사항</li>
					<li>3. 공개 시 저작권 도용 또는 분쟁 야기 가능성이 높은 사항</li>
				</ul>
			</td>
			<td rowspan="4">전 부서</td>
		</tr>
		<tr>
			<td>국가보조금 지원을 받는 민간단체 또는 정부가 허가한 비영리 사단법인 관련사항 중 그 단체의 자금&middot;인사 등 내부관리에 관한 정보</td>
		</tr>
		<tr>
			<td>각종 용역수행 제안업체가 제출한 사항으로서 당해 업체의 기존기술&middot;신공법&middot;시공실적&middot;내부관리 등에 관한 정보</td>
		</tr>
		<tr>
			<td>각종 용역수행 제안업체에 대한 기술평가 결과 등 특정업체의 정당한 이익을 침해할 우려가 있다고 인정되는 정보</td>
		</tr>
	</tbody>
</table>

<h4>8. 공개될 경우 부동산투기&middot;매점매석 등으로 특정인에게 이익 또는 불이익을 줄 우려가 있다고 인정되는 정보.</h4>

<table summary="공개될 경우 부동산투기&middot;매점매석 등으로 특정인에게 이익 또는 불이익을 줄 우려가 있다고 인정되어 제외되는 정보 업무,관리부서">
	<thead>
		<tr>
			<th>구분</th>
			<th>업무</th>
			<th>관리부서</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3">총무</td>
			<td>공공기관 지방이전과 관련하여 수집된 부동산 관련 정보로서 공개될 경우 특정인에게 이익 또는 불이익을 줄 우려가 있다고 인정되는 정보</td>
			<td>운영총괄팀</td>
		</tr>
		<tr>
			<td>공유재산 매각공고 전의 관련 정보</td>
			<td rowspan="2">재무회계팀</td>
		</tr>
		<tr>
			<td>용지매수계약서, 설계단가표, 각종 개발계획 등 관련 정보</td>
		</tr>
	</tbody>
</table>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>