<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<!-- type별 분기	type=01 -->
<h2>민원/불친절 신고</h2>

<p>이용하시는데 편리하고 친절한 대한법률구조공단이 되도록 최선을 다 하겠습니다.</p>

<p>공단을 이용하는 과장에서 불친절하거나 불편한 사례가 있으면 아래형식에 의해서 의견을 올려 주시기 바랍니다. 그리고 의견을 게시할 때에는 게시자의 성명, 주민등록번호, 전화번호, E-mail, 주소를 정확히 입력하셔야 하며 이것은 사실확인 및 답변회신을 위하여 꼭 필요한 내용입니다. 답변은 게시자의 E-mail, 전화 또는 우편으로 회신되며 게시판에서 주민등록번호를 입력하면 처리과정을 확인하실 수 있습니다. 여기에 게시되는 내용은 공단 감사실에서만 열람할 수 있으므로 게시자 및 게시내용에 대하여는 절대 비밀이 보장됩니다.</p>

<p>불친절 기타 불편한 사례가 있으면 즉시 바로 잡도록 하겠습니다.</p>

<ul>
	<li><a href="" title="">신고하기</a></li>
	<li><a href="" title="">민원처리상황조회</a></li>
</ul>

<!-- type별 분기	type=02 -->
<h2>부조리신고센터</h2>

<p>깨끗하고 투명한 조직문화 건설에 최선을 다하겠습니다.<br/>
신고하실 때에는 신고자의 성명, 주민등록번호, 전화번호, E-mail 및 주소를 정확히 입력하셔야 하며 이것은 사실확인 및 답변회신을 위하여 꼭 필요한 내용입니다. 답변은 신고자의  E-mail, 전화 또는 우편으로 회신되며 게시판에서는 주민등록번호를 입력하시면 처리과장을 확인하실 수 있습니다.</p>

<h3>이용안내</h3>

<p>대한법률구조공단 부조리 신고센터입니다.<br/>
부조리 신고센터로 신고되는 내용은 공단 감사실에서 전담 처리하고, 신고자 및 신고내용에 대하여는 절대 비밀이 보장됩니다.</p>

<h3>신고대상</h3>

<p>대한법률구조공단에서는 소속 직원의 직무와 관련한 금품수수 등의 부조리 또는 개인 비리에 대한 신고를 받습니다.</p>

<h3>유의사항</h3>

<p>신고내용이 대한법률구조공단 직원의 직무와 관련한 금품수수 등의 부조리 또는 개인 비리가 아닌 내용이거나 신고자가 익명(가명), 허위주소, 허위전화번호 등일 경우에는 신고내용에 관계없이 별도의 사실확인 또는 조사절차나 신고내용에 대한 회신없이 종결처리함을 알려드립니다.</p>

<ul>
	<li><a href="" title="">신고하기</a></li>
	<li><a href="" title="">민원처리상황조회</a></li>
</ul>
<!-- type별 분기 //end -->


			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>