<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>고객서비스 헌장</h1>

<p>대한법률구조공단은 경제적으로 어렵거나 법을 모르기 때문에 법의 보호를 충분히 받지 못하는 고객들에게 질 높은 법률서비스를 제공해 드릴 것을 약속하며 다음과 같이 실천하겠습니다.</p>

<ul>
	<li>고객의 기본적 인권보호와 법률복지의 증진을 위하여 최선을 다하겠습니다.</li>
	<li>고객의 법률문제에 대하여 정확, 신속, 친절한 서비스를 제공 하겠습니다 .</li>
	<li>고객의 입장에서 생각하고 행동하겠습니다.</li>
	<li>고객의 요구에 앞선 서비스를 제공함으로써 고객의 신뢰와 사랑을 받는 공단이 되겠습니다.</li>
</ul>

<p>※ 위의 목표를 달성하기 위하여 서비스 이행표준을 설정하고 이를 실천할 것을 약속드립니다.</p>


<h2>고객서비스 이행표준</h2>

<h3>Ⅰ. 법률상담/법률구조</h3>

<h4>1. 법률상담</h4>

<ul>
	<li>모든 상담은 서비스기준에 따라 최대한 신속하게 제공해 드리겠습니다.</li>
	<li>모든 상담은 정확하고 친절하게 제공해 드리겠습니다.</li>
	<li>담당자가 자리를 비운 경우, 다른 직원이 고객의 인적사항과 용건을 메모했다가담당자가 직접 고객에게 전화를 드리도록 하겠습니다.</li>
	<li>모든 상담은 우리공단에서 직접 하는 것을 원칙으로 하되, 다른 전문 기관에서 처리하는 것이 고객에게 도움이 된다고 판단 될 때에는 해당 전문기관을 안내하여 드리겠습니다.</li>
</ul>

<h4>2. 법률구조</h4>

<ul>
	<li>구조결정은 서비스기준에 따라 최대한 신속하고 공정하게 결정 하겠습니다.</li>
	<li>구조결정된 사건에 대하여 성의있는 변호활동 등으로 고객의 권익을 보호해 드리겠습니다.</li>
	<li>공정성 확보를 위하여 처리결과에 대하여 이의신청 절차를 마련하고 잘못이 있으면 시정하겠습니다.</li>
</ul>

<h4>3. 업무처리기준</h4>

<table summary="업무처리기준 민원명, 종류, 규정차리시간, 서비스 기준, 비고">
	<thead>
		<tr>
			<th>민원명</th>
			<th>종류</th>
			<th>규정상 처리기간</th>
			<th>서비스기준</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="4">법률상담</td>
			<td>면접</td>
			<td>-</td>
			<td>접수순서에 따라 즉시</td>
			<td></td>
		</tr>
		<tr>
			<td>전화</td>
			<td>-</td>
			<td>연결순서에 따라 즉시</td>
			<td></td>
		</tr>
		<tr>
			<td>서신</td>
			<td>-</td>
			<td>15일</td>
			<td></td>
		</tr>
		<tr>
			<td>사이버</td>
			<td>-</td>
			<td>5일</td>
			<td></td>
		</tr>
		<tr>
			<td rowspan="5">민·가사사건 등 법률구조</td>
			<td rowspan="2">구조여부결정</td>
			<td rowspan="2">30일</td>
			<td>15일</td>
			<td>일반·단순사건</td>
		</tr>
		<tr>
			<td>30일</td>
			<td>합의가 필요하거나 사실관계조사가 필요한 사건</td>
		</tr>
		<tr>
			<td>소제기<br/></td>
			<td>30일</td>
			<td>10일</td>
			<td></td>
		</tr>
		<tr>
			<td>사건진행상황 중간통지</td>
			<td>-</td>
			<td>7일</td>
			<td>변론기일 기준</td>
		</tr>
		<tr>
			<td>이의신청</td>
			<td>60일</td>
			<td>60일</td>
			<td></td>
		</tr>
		<tr>
			<td rowspan="2">형사법률구조</td>
			<td>구조여부결정</td>
			<td>15일</td>
			<td>10일</td>
			<td>구 속 사 건</td>
		</tr>
		<tr>
			<td>15일</td>
			<td>불구속사건</td>
		</tr>
		<tr>
			<td>이의신청</td>
			<td>7일</td>
			<td>7일</td>
			<td></td>
		</tr>
		<tr>
			<td rowspan="3">법률구조 관련민원</td>
			<td>진정, 탄원, 청원, 질의</td>
			<td>20일</td>
			<td>20일</td>
			<td></td>
		</tr>
		<tr>
			<td>이의신청·건의</td>
			<td>15일</td>
			<td>15일</td>
			<td></td>
		</tr>
		<tr>
			<td>민원 및 법률구조관련 접수증명 등 발급, 기록복사 신청 등</td>
			<td>즉시</td>
			<td>즉시</td>
			<td></td>
		</tr>
	</tbody>
</table>

<h3>2. 우리의 자세</h3>

<h4>Ⅰ. 내방하시는 경우</h4>

<ul>
	<li>우리는 방문하시는 고객에게 항상 밝은 미소로 맞이하겠습니다.</li>
	<li>우리는 실명으로 항상 고객에게 책임 있게 응대하겠습니다.</li>
	<li>내방고객이 1시간 이상 기다리지 않도록 최선을 다하겠습니다.</li>
	<li>고객창구는 항상 청결한 상태를 유지하여 고객이 이용하시는데 불편이 없도록 하겠습니다.</li>
</ul>

<h4>Ⅱ. 전화하시는 경우</h4>

<ul>
	<li>전화는 벨이 3번 울리기 전에 신속하게 받겠습니다.</li>
	<li>친절하고 명랑한 목소리로 인사, 소속과 이름을 정확히 밝히겠습니다.</li>
	<li>전화를 받을 때 고객의 목소리에 주의 깊게 경청하겠습니다.</li>
	<li>전화를 다른 사람에게 바꾸어야 할 때는 양해를 구한 후 연결 하겠습니다.</li>
</ul>

<h4>Ⅲ. 인터넷을 이용하시는 경우</h4>

<ul>
	<li>인터넷으로 법률상담을 신청하신 경우 5일 이내 답변하도록 하겠습니다.</li>
	<li>인터넷으로 사건진행상황과 관련된 다양한 정보를 제공해 드리겠습니다.</li>
	<li>인터넷으로 국민여러분의 제안을 받아 성실히 답변해 드리겠습니다.</li>
</ul>

<h3>3. 잘못된 서비스 시정 및 보상조치</h3>

<ul>
	<li>서비스에 불편하거나 불친절한 사례가 있는 경우에는 연락을 주시면 즉시 시정하고 그 결과를 알려 드리겠습니다.</li>
	<li>잘못을 반복하는 담당자에게는 교육을 실시하고 나아가 인사에 반영하는 등 불이익을 주어다시는 잘못을 하지 않도록 하겠습니다.</li>
	<li>공단직원의 명백한 잘못으로 동일 건에 대하여 두번 이상 방문하셨을 경우 즉시 사실 확인을 거쳐 우선적으로 처리하고 교통비(5,000원)를 보상해 드리겠습니다.</li>
	<li>특별히 유능하거나 친절하다고 느낀 직원이 있으면 연락하여 주시기 바랍니다.</li>
	<li>모범사례로 삼아 모든 직원이 더욱 잘할 수 있도록 하겠습니다..</li>
</ul>

<h3>Ⅳ. 고객참여 및 의견제시</h3>

<ul>
	<li>공단의 발전에 대한 의견이 있으면 우편·전화·인터넷 등을 이용하여 의견을 제시하여 주시기바랍니다. 업무에 최대한 반영하고 처리결과를 알려 드리겠습니다.</li>
	<li>의견제출, 신고 또는 연락하실 곳
		<ul>
			<li>전화번호 : 02-3482-0635 Fax : 02-3482-6556</li>
			<li>인터넷 홈페이지(www.klac.or.kr) 고객참여광장</li>
			<li>(137-884) 서울 서초구 서초동 1703-10 대한법률구조공단 혁신행정팀</li>
		</ul>
	</li>
</ul>

<h3>Ⅴ. 서비스 평가</h3>

<ul>
	<li>고객에게 약속한 이행성과를 정기적으로 측정하여 평가하겠습니다.
		<ul>
			<li>설문조사 : 매년 10∼11월 중</li>
			<li>전화·면접조사 : 수시</li>
		</ul>
	</li>
	<li>위 평가결과를 공표하고 다시 업무에 반영하여 개선하도록 하겠습니다.</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>