<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>경영공시</h1>

<p>대한법률구조공단은 투명하고 효율적인 경영을 위해 노력합니다.<br/>
본 경영공시에서는 경영에 대한 정보제공 및 경영의 투명성을 제고하기 위하여 일반현황 및 관련법령, 사업계획 및 추진실적 등의 자료를 보실 수 있습니다.</p>

<h2>담당부서</h2>

<h3>공단 본부 혁신행정팀</h3>

<ul>
	<li>전화 : 02-3482-0635 ~ 6</li>
	<li>E-Mail : zpilqa15@klac.or.kr</li>
</ul>

<h2>설립근거 및 연혁</h2>

<h3>설립근거</h3>

<p>법률구조법 제 8 조</p>

<h3>연혁</h3>
<dl>
	<dt>1972. 07. 01</dt>
	<dd>대한법률구조협회 설립</dd>
	<dt>1987. 09. 01</dt>
	<dd>대한법률구조공단 설립</dd>
	<dt>1991. 10. 01</dt>
	<dd>본부 야간·휴일상담 실시</dd>
	<dt>1993. 05. 01</dt>
	<dd>전화자동법률상담『700 - 2080』ARS법률정보제공서비스</dd>
	<dt>1993. 06. 08</dt>
	<dd>ddC통신을 이용한 법률서비스 제공(천리안, 하이텔 등)</dd>
	<dt>1996. 04. 01</dt>
	<dd>국번 없이『132』법률상담전용전화 개통(서울)</dd>
	<dt>1996. 06. 01</dt>
	<dd>형사법률구조 실시</dd>
	<dt>1996. 07. 01</dt>
	<dd>농·어민 무료법률구조 실시</dd>
	<dt>1997. 05. 01</dt>
	<dd>국번 없이『132』대상지역 확대 (대전, 대구, 부산, 광주)</dd>
	<dt>1997. 10. 01</dt>
	<dd>도시영세민 무료법률구조 실시</dd>
	<dt>1999. 02. 01</dt>
	<dd>담배소매인 무료법률구조 실시</dd>
	<dt>1999. 07. 01</dt>
	<dd>『132』ARS·FAX에 의한 법률정보제공(서울)</dd>
	<dt>2000. 04. 01</dt>
	<dd>검찰 고소·고발사건에 대한 법률구조 실시</dd>
	<dt>2000. 05. 01</dt>
	<dd>『132』ARS 대상지역 확대 (대전, 대구, 부산, 광주)</dd>
	<dt>2000. 06. 01</dt>
	<dd>인터넷 홈페이지 법률상담 실시</dd>
	<dt>2000. 07. 01</dt>
	<dd>행정소송, 헌법소원사건에 대하여 법률구조 실시</dd>
	<dt>2000. 12. 01</dt>
	<dd>사이버 상담실 본격 가동 (공익법무관 전담 : 7인)</dd>
	<dt>2001. 01. 01</dt>
	<dd>대국민 법률복지 증진을 위하여 변호사보수비용을 평균 50% 하향조정 시행</dd>
	<dt>2001. 04. 01</dt>
	<dd>
		<ul>
			<li>법률구조사업의 발전 방안을 마련하기 위하여「공단발전연구기획단」설치·운영</li>
			<li>농·어촌지역 법률복지 증진을 위하여 시·군법원 소재 지역에 직원 파견</li>
			<li>정기 출장상담 및 법률구조 신청 접수</li>
		</ul>
	</dd>
	<dt>2001. 07. 01</dt>
	<dd>대국민 법률상담 편의 제공을 위하여『132 ARS』상담사례를 416사례에서 661사례로 추가</dd>
	<dt>2002. 01. 01</dt>
	<dd>법률상담사례 2,000건, 법률서식 1,664건 등 총 5,220여건의 법률정보를 D/B화하여 인터넷서비스 제공</dd>
	<dt>2002. 04. 01</dt>
	<dd>모자가정에 대한 무료법률구조 실시</dd>
	<dt>2002. 07. 01</dt>
	<dd>민사사건 대상자에 민사소송법에 의하여 법원으로부터 소송구조결정을 받은 사건의 피구조자를 추가행정사건중 당사자소송사건, 민중소송사건 및 기관 소송사건까지 대상사건 확대민사소송법 개정 및 민사 집행법 개정으로 『132 ARS』상담사례를661사례에서 665사례로 추가</dd>
	<dt>2003. 01. 01</dt>
	<dd>가정폭력·성폭력·성매매 피해여성 무료법률구조 실시</dd>
	<dt>2003. 04.15</dt>
	<dd>월평균 수입 150만원 이하의 국내거주 외국인에 대한 민·가사 등 법률구조 확대 실시</dd>
	<dt>2003. 06.16</dt>
	<dd>교도소 등 수용시설에 대한 출장상담 실시</dd>
	<dt>2003. 06.19</dt>
	<dd>부자가정에 대한 무료법률구조 실시</dd>
	<dt>2004. 01. 01</dt>
	<dd>
		<ul>
			<li>월평균수입 170만원 이하의 국민으로 대상자 확대</li>
			<li>월평균수입 170만원 이하의 국내거주 외국인에 대해서도 내국인과 동일한 수준으로 법률구조 확대 실시</li>
			<li>형사재심사건, 행정심판사건까지 대상사건 확대(단, 행정심판사건은 국무총리행정심판위원회 및 각 시·도 행정심판위원회 사건)</li>
		</ul>
	</dd>
	<dt>2005. 01. 01</dt>
	<dd>	
		<ul>
			<li>월 평균수입 200만원 이하의 국민으로 법률구조대상자 확대(국내거주 외국인 포함)</li>
			<li>국내거주 북한 이탈주민에 대한 법률구조확대</li>
			<li>가정폭력등 피해여성 무료법률구조사업 중 성폭력·성매매 피해여성은 사업대상에서 제외</li>
		</ul>
	</dd>
	<dt>2005. 07. 01</dt>
	<dd>	
		<ul>
			<li>임금체불근로자에 대한 무료법률구조 실시</li>
			<li>국내거주 북한이탈주민에 대한 무료법률구조 실시</li>
			<li>사회연대은행지원수혜자에 대한 무료법률구조 실시</li>
		</ul>
	</dd>
	<dt>2005. 09. 01</dt>
	<dd>소상공자영업자에 대한 무료법률구조 실시</dd>
	<dt>2006. 01. 01</dt>
	<dd>
		<ul>
			<li>월평균 수입 220원 이하의 국민(국내거주 외국인 포함)으로 법률구조대상자 확대</li>
			<li>참전유공자에 대한 무료법률구조 실시</li>
			<li>법률구조대상 범죄피해자에 대한 무료법률구조 실시</li>
		</ul>
	</dd>
	<dt>2006. 05. 01</dt>
	<dd>
		<ul>
			<li>5·18 민주유공자에 대한 무료법률구조 실시</li>
			<li>개인회생 및 파산·면책 신청대상자로 법률구조대상자 확대</li>
		</ul>
	</dd>
	<dt>2006. 05. 08</dt>
	<dd>『개인회생·파산지원센터』 대국민 서비스 개시</dd>
	<dt>2007. 01. 01</dt>
	<dd>
		<ul>
			<li>월평균 수입 240원 이하의 국민(국내거주 외국인 포함)으로 법률구조대상자 확대</li>
			<li>성폭력피해여성 및 한부모가정에 대한 무료법률구조 실시</li>
		</ul>
	</dd>
	<dt>2007. 06. 01</dt>
	<dd>『132법률상담센터』를 통한 법률상담 실시</dd>
	<dt>2008. 01. 01</dt>
	<dd>선원법상의 임금·퇴직금 체불 및 재해보상 사고와 관련된 피해선원에 대한 무료법률구조 실시</dd>
	<dt>2008. 03. 01</dt>
	<dd>13세 미만 남아 성폭력피해자 무료법률구조 실시</dd>
	<dt>2008. 06. 20</dt>
	<dd>제9대 정홍원 이사장 취임</dd>
	<dt>2008. 07. 01</dt>
	<dd>법률구조대상자 확대- 월평균수입 260만원 이하의 국민 및 국내거주 외국인</dd>
</dl>

<h3>설립목적 및 사업</h3>

<h4>설립목적 및 사업</h4>

<p>경제적으로 어렵거나 법을 모르기 때문에 법의 보호를 충분히 받지 못하는 국민들에게 법률상담,변호사 또는 공익법무관에 의한 소송대리, 형사변호, 기타 법률사무에 관한 각종 지원을 하여 줌으로써 국민의 기본적 인권을 옹호하고 나아가 법률복지 증진에 이바지하기 위하여 설립</p>

<h4>사업</h4>

<ul>
	<li>법률상담 (전화, 서신, 면접, 인터넷 등)</li>
	<li>소송대리 (민·가사, 형사, 행정, 헌법소원사건)</li>
	<li>법률구조제도에 관한 조사·연구</li>
	<li>준법생활화풍토를 조성하기 위한 계몽사업</li>
	<li>기타 공단의 목적달성에 필요한 사업</li>
</ul>

<h3>조직 및 인원</h3>

<h4>조직현황</h4>

<ul>
	<li>본부 3부 3실 8팀(서울 서초구 서초동 1703-10)</li>
	<li>18개 지 부(전국 지방검찰청 단위)</li>
	<li>38개 출장소(전국 지방검찰청 지청 단위)</li>
</ul>

<h4>조직도</h4>
<ul>
	<li>이사장
		<ul>
			<li>비서실</li>
			<li>이사회</li>
			<li>감사(비)
				<ul>
					<li>감사실</li>
				</ul>
			</li>
			<li>사무총장
				<ul>
					<li>총무부
						<ul>
							<li>운영총괄팀</li>
							<li>재무회계팀</li>
						</ul>
					</li>
					<li>기획부
						<ul>
							<li>혁신행정팀</li>
							<li>재정기획팀</li>
							<li>정보전략팀</li>
						</ul>
					</li>
					<li>구조부
						<ul>
							<li>법무관리팀</li>
							<li>구조총괄팀</li>
							<li>사이버상담팀</li>
						</ul>
					</li>
					<li>홍보실</li>
					<li>지부장
						<ul>
							<li>구조부</li>
							<li>고객지원부(팀)</li>
							<li>출장소장
								<ul>
									<li>구조부(팀)</li>
									<li>고객지원팀</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>중앙법률구조심사위원회</li>
		</ul>
	</li>
</ul>
<p>※ 단, 서울중앙지부는 구조부에 구조1팀, 구조2팀, 구조3팀을 두고, 고객지원부에 행정지원팀, 구조지원팀을 둠.</p>

<h4>임&middot;직원 현황</h4>

<table summary="">
	<thead>
		<tr>
			<th>구분</th>
			<th>정원</th>
			<th>현원</th>
			<th>결원</th>
			<th>비고</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="5">※ 공익법무관 : 113명<br/>※ 총 인 원 : 619명(현원 506명+공익법무관 113명)</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>총원</td>
			<td>593</td>
			<td>506</td>
			<td>87</td>
			<td rowspan="5">비상임 이사 9명, 비상임감사 1명<br/>계약직 11명 포함</td>
		</tr>
		<tr>
			<td>임원</td>
			<td>2</td>
			<td>2</td>
			<td>-</td>
		</tr>
		<tr>
			<td>변호사</td>
			<td>101</td>
			<td>41</td>
			<td>60</td>
		</tr>
		<tr>
			<td>일반직</td>
			<td>352</td>
			<td>330</td>
			<td>22</td>
		</tr>
		<tr>
			<td>서무직</td>
			<td>138</td>
			<td>133</td>
			<td>5</td>
		</tr>
	</tbody>
</table>


<h4>직급별 인원현황(단위: 명)</h4>

<table summary="">
	<thead>
		<tr>
			<th>구분</th>
			<th>임원</th>
			<th>변호사</th>
			<th>1급</th>
			<th>2급</th>
			<th>3급</th>
			<th>4급</th>
			<th>5급</th>
			<th>6급</th>
			<th>7급</th>
			<th>서무직</th>
			<th>계약직</th>
			<th>합계</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="13">※임원 중 비상임 이사·감사 10명 제외, ( )은 계약직</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>인원</td>
			<td>2</td>
			<td>41(25)</td>
			<td>0</td>
			<td>2</td>
			<td>5(1)</td>
			<td>28</td>
			<td>69</td>
			<td>121</td>
			<td>105</td>
			<td>115</td>
			<td>133(17)</td>
			<td>506</td>
		</tr>
	</tbody>
</table>

<h4>최근 3년간 변동추이</h4>

<table summary="">
	<thead>
		<tr>
			<th rowspan="2">구 분 </th>
			<th colspan="2">총 원</th>
			<th colspan="2">임 원</th>
			<th colspan="2">변호사</th>
			<th colspan="2">일반직</th>
			<th colspan="2">서무직</th>
		</tr>
		<tr>
			<th>정원</th>
			<th>현원</th>
			<th>정원</th>
			<th>현원</th>
			<th>정원</th>
			<th>현원</th>
			<th>정원</th>
			<th>현원</th>
			<th>정원</th>
			<th>현원</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>'05.12.31</td>
			<td>561</td>
			<td>451</td>
			<td>2</td>
			<td>2</td>
			<td>99</td>
			<td>33</td>
			<td>340</td>
			<td>297</td>
			<td>120</td>
			<td>119</td>
		</tr>
		<tr>
			<td>'06.12.31</td>
			<td>561</td>
			<td>491</td>
			<td>2</td>
			<td>2</td>
			<td>99</td>
			<td>41</td>
			<td>340</td>
			<td>321</td>
			<td>120</td>
			<td>127</td>
		</tr>
		<tr>
			<td>'07.12.31</td>
			<td>593</td>
			<td>506</td>
			<td>2</td>
			<td>2</td>
			<td>101</td>
			<td>41</td>
			<td>352</td>
			<td>330</td>
			<td>138</td>
			<td>133</td>
		</tr>
	</tbody>
</table>

<h3>임원현황 및 선임방법</h3>

<h4>임원현황</h4>

<table summary="">
	<thead>
		<tr>
			<th>구분</th>
			<th>정원</th>
			<th>현원</th>
			<th>결원</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>임원</td>
			<td>2</td>
			<td>2</td>
			<td>-</td>
			<td>비상임 이사 9명, 비상임감사 1명</td>
		</tr>
	</tbody>
</table>

<h4>임원 선임방법</h4>

<h5>이 사 장 : 공개모집</h5>

<p>법무부 산하단체장 후보추천위원회 구성 · 운영 규정</p>

<h5>사무총장 : 법무부장관이 임명한 이사 중에서 이사장이 임명</h5>

<p>법률구조법 제13조 제2항, 정관 제9조 제2, 3항</p>

<h3>사업성과 및 혁신실적</h3>

<ul>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h3>공공기관 통합 공시시스템「알리오」입력자료</h3>

<p>2007년도 자료</p>

<h4>외부감사결과 	</h4>

<ul>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>법무부 감사결과</h4>

<ul>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>이사회 회의록</h4>

<ul>
	<li>2003년도 자료</li>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>내부감사결과</h4>

<ul>
	<li>2003년도 자료</li>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>결산감사결과</h4>

<ul>
	<li>2003년도 자료</li>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>결산서</h4>

<ul>
	<li>2004년도 자료</li>
	<li>2005년도 자료</li>
	<li>2006년도 자료</li>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>

<h4>연간 출연·증여내역</h4>

<ul>
	<li>2006년도 자료</li>
	<li>2007년도 자료</li>
</ul>


			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>