				<h1><!-- img  alt="sub Title" --></h1>
				<ul id="">
				<!-- loop depth1 //start -->
					<!-- if() //2depth가 있다면 -->
					<li><a href="" onclick="" onkeypress="" title="<%%>"><img src="" width="" height="" alt="<%%>" /></a>	
						<div class="depthTW-top" id="">
							<div class="depthTW-mid">
								<ul class="depthTW-btm">
								<!-- loop depth2 //start -->
									<li><a href=""><!-- text --></a></li>
								<!-- loop depth2 //end -->
								</ul>
							</div>
						</div>
					</li>
					<!-- else if //2depth가 없다면 -->
					<li><a href="" title="<%%>"><img src="" width="" height="" alt="<%%>" /></a></li>
					<!-- end if -->
				<!-- loop depth1 //end -->
				</ul>