<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>검색도움말</h2>

<h3>검색대상자료</h3>

<form>
	<fieldset>
	<legend>검색대상자료</legend>
	<input type="checkbox" value="02" name="p_item1" id="p_item1"/>
	<label for="p_item1">법률상담사례</label>
	<input type="checkbox" value="07" name="p_item2" id="p_item2"/>
	<label for="p_item2">법률서식</label>
	<input type="checkbox" value="04" name="p_item3" id="p_item3"/>
	<label for="p_item3">법과생활</label>
	<input type="checkbox" value="05" name="p_item4" id="p_item4"/>
	<label for="p_item4">재외동포용 법가 생활</label>
	<input type="checkbox" value="01" name="p_item6" id="p_item5"/>
	<label for="p_item5">방송상담자료</label>
	<label for="query">검색어 입력</label>
	<input type="text" name="query" id="query"/>
	<input type="image" alt="SEARCH"/>
	</fieldset>
</form>

<h3>검색조건</h3>

<ul>
	<li>AND 조건 : ' '(공백) 또는 '*' </li>
	<li>OR 조건 : '/' </li>
	<li>NOT 조건 : '-'</li>
	<li>검색 대상 자료를 선택하지 않으면 모든 자료에 대해 검색합니다.</li>
	<li>예 : '법'은 포함되고, '민사' 또는 '형사'도 포함되고, '가사'는 포함되지 않은 자료를 조회하고자 하는 경우
		<ul>
			<li>법*(민사/형사)*-가사</li>
			<li>법 (민사/형사) -가사</li>
			<li>법&lt;AND&gt;(민사&lt;OR&gt;형사)&lt;AND&gt;&lt;NOT&gt;가사</li>
		</ul>
	</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>