<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_cyber.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	    -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>상담실</h1>

<ul>
	<li>상담안내</li>
	<li>상담신청</li>
	<li>유사사례찾기</li>
</ul>

<h2 class="styleH2-type1">법률상담 FAQ</h2>

<h3 class="styleH3-type1">3. 빌련준 돈을 못 받았는데 어떻게 해야 하나요?</h3>

<ul>
	<li>1. 입금을 못 받았는데 어떻게 해야 하나요?</li>
	<li>2. 빌려준 돈을 못 받았는데 사기죄로 고소할 수 있나요?</li>
	<li>3. 빌려준 돈을 못 받았는데 어떻게 해야 하나요?</li>
	<li>4. 이혼하고 싶은데 어떻게 해야 하나요?</li>
	<li>5. 집주인이 임차보증금을 돌려주지 않을 때는 어떻게 해야 하나요?</li>
	<li>6. 임차인이 집을 비워주지 않으면 어떻게 하나요?</li>
	<li>7. 저는 상가임대차보호법의 적용대상인가요?</li>
</ul>

<p>귀하는 빌려준 돈을 돌려받을 수 있는 방법에 대하여 문의하셨습니다. 만약 상대방이 의도적으로 돈을 갚지 않고 있는 상황이라면 법적절차를 통하여 귀하의 권리를 주장할 필요가 있다고 생각합니다.</p>

<p>법적 절차를 통하여 빌려준 돈을 받기 위해서는 채무자를 상대로 민사소송을 제기하여야 합니다. 또한 정식의 소송 이외에도 지급명령이라는 간편한 제도가 있기 때문에 적극 활용할 필요가 있다고 생각합니다.</p>

<p>지급명령제도란 당사자간에 금전의 지급을 내용으로 하는 채권채무관계가 있는 경우에 당사자가 법원에 직접 출석하지 않고 집행권원을 확보할 수 있는 방법으로서 독촉절차라고도 합니다. 독촉절차에서는 법원이 분쟁당사자를 심문함이 없이 지급명령을 신청한 채권자가 제출한 서류만을 심사하고 지급명령을 발령하는 약식의 분쟁해결절차로서 채무자가 이의신청을 하면 통상의 소송절차로 이행되지만, 만일 이의신청을 하지 아니하여 지급명령이 확정되면 채권자는 확정된 지급명령에 기하여 강제집행을 신청하여 신속하게 자신의 채권을 변제 받을 수 있으므로 신속한 분쟁해결이 가능합니다. 독촉절차는 한 마디로 말해서 채권자가 법정에 나오지 않고서도 신속하고 적은 소송비용으로 민사분쟁을 해결할 수 있다는데 그 절차적 장점이 있지만, 상대방이 지급명령에 대하여 이의신청을 하면 결국은 통상의 소송절차로 옮겨지는 잠정적 분쟁해결절차의 구조를 가지고 있습니다.</p>

<p>또한 지급명령이나 정식의 소송을 제기하기 이전에 상대방이 재산을 다른 곳으로 빼돌리지 못하도록 상대방의 재산을 찾아 가압류를 해 둘 필요도 있을 것입니다.</p>

<p>다 만, 법적 절차를 통해서 귀하의 권리를 인정받기 위해서는 귀하가 상대방에게 돈을 빌려주었다는 것을 입증할만한 증거가 있어야 합니다. 차용증이 있다면 충분한 증거가 되겠지만 만약 차용증과 같은 직접증거가 없는 경우라면 돈을 빌려주었음을 인정할만한 다른 간접증거나 증인이 필요할 수 있으며, 증거가 전혀 없는 경우라면 상대방에게 차용증이나 각서를 다시 써 줄 것을 요구하여 증거를 새로이 만들 필요도 있을 것입니다.</p>

<p>지급명령 또는 소장 및 가압류신청서의 서식에 대해서는 본 공단 홈페이지 서식란을 참조하시거나 가까운 공단을 방문하시어 안내를 받으시기 바랍니다.</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>