#include ("/admin/include/searchheader.vm")
<div id="title">
	<h1>메뉴 관리</h1>
</div>
		
<div id="tree" class="ifrmbox40">
	<iframe id="tree" name="tree" src="/common/tree/tree.do?type=3&target=menuList&src=/admin/menu/menuList.do" height="300" scrolling="auto" frameborder="0" width="100%">
	</iframe>
</div>
<div id="list" class="ifrmbox60">
	<iframe id="menuList" name="menuList" src="menuList.do" height="300" scrolling="auto" frameborder="0" width="100%">
	</iframe>
</div>
#include ("/admin/include/searchfooter.vm")