<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률서식</h2>

<p>급변하는 사회속에서 예상치 못하게 부딪히게 되는 각종 분쟁. 법률서식은 국민의 권리구제를 위한 좋은 길잡이가 될 것입니다.</p>

<h3>국선대리인 제도</h3>


<ul>
	<li>의의 및 신청절차</li>
	<li>국선대리인예정자 명부</li>
	<li>국선대리인의 선정</li>
	<li>선정의 취소 및 재선정</li>
	<li>국선대리인에 대한 보수지급</li>
</ul>

<h4>1. 의의 및 신청절차</h4>

<p>헌법재판소법 제70조에서는 국선대리인제도를 두어 헌법소원심판청구에서 변호사를 대리인으로 선임할 자력이 없는 경우에는 당사자의 신청에 의하여 국고에서 그 보수를 지급하는 국선대리인을 선정해 주도록 하고 있으므로, 국선대리인의 선임을 원하는 자는 헌법소원사유를 명시한 국선대리인선임신청서를 제출 하여야 하고, 이 경우 변호사를 대리인으로 선임할 자력이 없다는 소명자료를 첨부하여야 한다(국선규칙 제4조).
헌법재판소는 이 규정에 따라 종래 영세민증명서, 기초생활보장수급자, 지방세미과세증명서 등 객관적인 무자력 소명서면을 제출받아 신청인의 무자력여부를 판단하여 왔으나, 점차 무자력 소명요건을 완화하여 대리인을 선임할 자력이 없다는 신청인의 진술이나 채무증명서, 경매통지서 등의 서면으로도 무자력 소명이 되는 경우도 있도록 하였고, 1997. 11. 18.자로 개정된 국선규칙(1998.1.1.시행) 제4조 제1항에서는 법 제70조 제1항에서 규정한 변호사를 대리인으로 선임할 자력이 없는 자의 기준을 다음과 같이 예시하고 있다.</p>

<ul>
	<li>1.월평균수입이 100만원 미만인 자</li>
	<li>2. 6급 이하 공무원</li>
	<li>3. 기초생활보장수급자</li>
	<li>4. 국가유공자등예우및지원에관한법률에 의한 국가유공자와 그 유족 또는 가족</li>
	<li>5. 위 각 항에는 해당하지 아니하나, 청구인이나 그 가족의 경제능력에 비추어 보아 변호사를 대리인으로 선임하는 것을 기대하기 어려운 경우</li>
</ul>

<h4>2. 국선대리인예정자 명부</h4>

<p>헌법재판소는 매년 연말까지 다음 연도의 국선대리인으로 예정한 변호사를 일괄 등재한 국선대리인예정자 명부를 작성한다(국선내규 제2조).</p>

<h4>3. 국선대리인의 선정</h4>

<p>국선대리인은 대한민국에 사무소를 둔 변호사 중에서 이를 선정하는데(국선 규칙 제2조), 국선대리인의 선정은 대한변호사협회의 추천을 받아 헌법재판소장이 매년 정하는 국선대리인예정자명부에 등록된 변호사 중에 서 순차로 균등하게 행함을 원칙으로 하되, 다만 청구인의 거주지 등을 고려하여 명부외의 변호사를 국선대 리인으로 선정할 수 있다(국선내규 제3조 제1항). 국선대리인은 청구인마다 1인을 선정하는 것이 원칙이나, 사건의 특수성에 비추어 필요하다고 인정할 때에는 1인의 청구인에게 수인의 국선대리인을 선정할 수 있다 (국선규칙 제3조 제1항). 또한 청구인 수인간에 이해가 상반되지 아니한 때에는 그 수인의 청구인을 위하여 동일한 국선대리인을 선정할 수 있다(국선규칙 제3조 제2항).</p>

<h4>4. 선정의 취소 및 재선정</h4>

<h5>가.	필요적 취소사유</h5>

<p>헌법재판소는 ① 청구인에게 변호사가 선임된 때 ② 국선대리인이 변호사법에 규정한 자격을 상실한 때 ③ 헌법재판소가 제7조의 규정에 의하여 국선대리인의 사임을 허가한 때에는 국선대리인의 선정을 취소하여야 한다(국선규칙 제6조 제1항).</p>

<h5>나.	임의적 취소사유</h5>

<p>헌법재판소는 국선대리인이 그 직무를 수행하지 아니하거나 기타 상당한 이유가 있는 때에는 선정을
취소할 수 있다(국선규칙 제6조 제2항).</p>

<h5>다.	재선정 및 통지</h5>

<p>헌법재판소가 청구인에게 변호사가 선임된 때 이외의 사유로 국선대리인의 선정을 취소한 때에는 지체 없이 다른 국선대리인을 선정하여야 한다(국선규칙 제6조 제3항). 국선대리인의 선정을 취소하거나 개임한 때에는 지체없이 그 뜻을 당해 국선대리인과 청구인에게 서면으로 통지하여야 한다(국선규칙 제6조 제4항).</p>

<h4>5. 국선대리인에 대한 보수지급</h4>

<p>국선대리인으로 선정된 변호사에게는 본안사건의 종료 후에 매년 예산의 범위 안에서 심판에 관한 서류의 제출, 변론기일 또는 증거조사기일에의 참석 등의 사항을 참작하여 보수가 지급된다(국선규칙 제9조). 국선대리인이 심판청구인을 면담하거나 변론, 증거조사 또는 검증을 위하여 출석하였을 때에는 매회 15만원을 지급한다. 다만, 면담에 대한 보수지급은 1회에 한하되 국선대리인으로 선정된 자는 청구인을 면담한 것으로 본다.</p>

<p>재판장은 국선대리인이 심판청구서, 증거자료, 준비서면 기타 심판에 관한 서류를 제출하였을 때에는 위의 출석을 한 것으로 보아 보수를 지급할 수 있다. 재판장은 사건의 난이, 국선대리인이 수행한 직무의 내용, 청구인의 수, 기록의 등사나 청구인의 면담 등에 지출한 비용 또는 기타 사항을 참작하여 보수합계를 최고 150만원의 범위 안에서 15만원 단위로 증액할 수 있다(1994. 1. 20.자, 국선 대리인보수 지급에 관한헌법재판소재판관회의의결).</p>

<p>국선대리인이 선정된 사건이 종결되었을 때에는 참여사무관은 즉시 「국선대리인보수지급의뢰서」1통을 작성하여 재판장에게 제출하여야 하고, 동 의뢰서를 제출받은 재판장은 지체없이 보수를 결정하여 기재하고 날인한 후 이를 참여사무관에게 교부하며, 국선대리인 보수지급의뢰서를 교부받은 참여사무관은 그 의뢰서 에 붙어 있는 영수증에 국선대리인의 거래은행계좌· 주소 등을 확인·기재하여 지체없이 이를 경리담당자에게 인계하여야 한다.</p>

<p>동의뢰서를 인계받은 경리담당자는 동 의뢰서에 기재된 그 국선대리인의 거래은행계좌에 지체없이 보수를 입금하여야 한다. 다만, 국선대리인이 직접 보수의 수령을 원하는 때에는 영수증의 해당란에 서명 또는 날인을 받고 직접 이를 지급할 수 있다(국선내규 제4조).</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>