<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>각국의 법률구조 제도</h2>

<h3>한국</h3>

<p>우리나라에서는 법률분쟁을 해결함에 있어 경제적&middot;법률적 약자를 지원해 주기 위하여 국가적 차원에서 여러 제도를 시행하고 있으며, 대한법률구조공단과 같은 기관들이 법률구조업무를 중추적으로 수행하고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>독일</h3>

<p>독일의 법률구조는 재판절차에서와 재판외 절차에서의 공적구조제도로 대별할 수 있다. 재판절차의 구조제도로서는 형사재판절차에서의 필요적 변호제도와 그 외의 재판절차에서 생기는 비용에 대한 구조제도를 두고 있고, 재판외 절차에서의 구조제도로서 법률자문구조제도를 두고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>프랑스</h3>

<p>역사와 전통에 기반을 두고 프랑스 사법제도와 함께 발전되어 온 프랑스의 법률구조제도는 변호사의 자유선임권과 소송구조기각결정에 대한 불복수단의 제도화를 특징으로 하고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>스웨덴</h3>

<p>1919년 무료법률구조법을 제정한 스웨덴은 사회복지시책의 일환으로 국가에서 법률구조제도를 운영하며 법률상담, 일반법률구조, 형사국선변호&middot;고소인변호제도를 운영하고 있다.</p>

<h3>미국</h3>

<p>미국에서의 법률구조제도는 민사법률구조제도와 형사법률구조제도가 각기 다르게 발전&middot;운영되고 있다. 형사 법률구조제도는 형사 피고인의 '변호인의 조력을 받을 권리'에 대한 연방 법원의 판결에 의해 발전되어 모든 형사 피고인이 변호인의 조력을 받을 수 있는 단계에 이르렀다.</p>

<p>첨부파일 다운로드</p>

<h3>영국</h3>

<p>영국은 2조원이 넘는 법률구조비용의 지원과 국선변호제도를 따로 운영하고 않고 형사법률구조에 통합하여 일원화한 점이 특징이다. 1989년부터 법률구조위원회가 변호사회로부터 법률구조 업무를 인수하여 활동하고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>호주</h3>

<p>호주의 법률구조제도는 연방정부의 지속적인 관심과 지원으로 발전하여 아동복지, 피해자 보상, 난민신청, 차별, 배심원의 심리, 환경 등 모든 법률문제를 망라하여 다루고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>뉴질랜드</h3>

<p>정부가 법률구조를 위해 법률구조위원회에 자금을 지원해 주면 위원회는 이 돈을 지부 및 소원회에 배분함으로써 법률구조의 실무는 지부, 출장소에서 법률구조 허가라는 제도를 통해 이루어진다.</p>

<p>첨부파일 다운로드</p>

<h3>캐나다</h3>

<p>캐나다는 연방제의 특성으로 통일된 시스템이 아닌 각 주마다의 고유한 법률구조제도를 마련하고 이를 발전시키고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>일본</h3>

<p>전후에 조직적으로 연구&middot;발전되어 온 일본의 법률구조제도는 정부의 지원과 기부금 확충을 통해 법률구조사업을 실시하고 있다.</p>

<p>첨부파일 다운로드</p>

<h3>싱가포르</h3>

<p>싱가포르의 법률구조지원을 받기 위해서는 싱가포르 시민이나 영구거주자이어야 하며, 반드시 자산테스트를 받아 그의 재산상황을 확인받은 자여야만 한다.</p>

<p>첨부파일 다운로드</p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>