<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type1">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>법률상담사례</h2>

<p>공단이 지난 19년동안 전국의 사무소에서 상담하고 소송을 수행했던 실제 사례들과 예상가능한 사항들을 바탕으로 구성한 법률상담사례입니다. 각 사례에는 최근 제개정된 법령과 최신판례를 반영하고 있습니다.</p>

<form>
	<fieldset>
		<label for="search">SEARCH</label>
		<input type="text" id="search" title="검색어 입력"/>
		<input type="images" alt="검색하기"/>
	</fieldset>
</form>

<p>분류를 선택하세요</p>

<h3>어음 · 수표</h3>

<ul>
	<li>발 행</li>
	<li>배서 · 양도</li>
	<li>제시와 지급</li>
	<li>인수거절 또는 지급거절로 인한 소구</li>
	<li>변 조</li>
	<li>시 효</li>
	<li>이득상환청구권</li>
	<li>기 타</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>