<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<p>대한법률구조공단이 인재를 모십니다.<br/>
공단은 국민에게 헌신하는 봉사정신, 창조와 신뢰를 바탕으로 한 미래지향적인 인재를 소중히 합니다.</p>

<h2>채용정보</h2>


<h3>1. 직원의 업무 소개</h3>

<h4>1. 직원의 신분</h4>

<p>공단직원의 신분은 공단 정관 및 인사규칙에 의해 보장되고 있으며, 법률구조법 제32조는 공단 임원 및 직원은 형법 기타의 법률의 규정에 의한 벌칙의 적용에 있어서는 이를 공무원으로 본다고 규정하고 있습니다.</p>

<h4>2. 직원의 구분</h4>

<p>공단의 직원은 변호사, 일반직, 서무직 및 계약직으로 구분하며, 일반직은 1급 내지 7급, 서무직은 1급 내지 5급으로 분류되어 있습니다.</p>

<h4>3. 직원의 업무</h4>

<p>일반(계약)직 직원은 법률상담, 법률구조신청사건 접수 및 조사 기타 행정업무를 수행하고, 변호사는 위 사건의 소송대리업무를 주로 수행하며, 서무(계약)직 직원은 위 각 업무에 대한 보조업무를 수행하고 있습니다.</p>

<h3>2. 인사제도 소개</h3>


<h4>1. 인사위원회</h4>

<p>직원의 인사에 관한 중요사항을 심의하기 위하여 인사위원회를 두고 있습니다.</p>

<ul>
	<li>구 성 : 위원장 1인과 3인 이상 5인 이내의 위원 및 간사 1인</li>
	<li>의결사항
		<ul>
			<li>가. 직원의 신규채용, 승진임용, 강임, 직권면직 및 정년에 관한 사항</li>
			<li>나. 직원의 포상 및 징계에 관한 사항</li>
			<li>다. 제 규정에서 인사위원회에 부의하도록 규정된 사항</li>
			<li>라. 기타 인사에 관하여 중요하다고 인정하는 사항</li>
		</ul>
	</li>
</ul>

<h4>2. 신규채용</h4>

<h5>가. 공개채용과 특별채용</h5>

<ul>
	<li>(1) 직원(변호사 제외)의 신규채용은 공개경쟁시험에 의하되 필요하다고 인정할 때에는 특별채용시험에 의할 수 있으며, 공개경쟁시험은 필기시험, 면접시험 또는 실기시험에 의하고 특별채용시험은 서류심사와 면접시험의 방법으로 실시합니다.</li>
	<li>(2) 변호사의 경우는 서류심사와 면접시험의 방법으로 실시합니다.</li>
</ul>

<h5>나. 공개경쟁채용시험 합격자의 등록</h5>

<ul>
	<li>(1) 공개경쟁채용시험 합격자(신규채용 후보자)는 공단에서 정하는 바에 따라 채용 후보자 등록을 하여야 합니다.</li>
	<li>(2) 채용후보자명부의 유효기간은 2년이며, 신규채용 후보자가 등록을 하지 아니하는 경우에는 임용될 의사가 없는 것으로 봅니다.</li>
</ul>

<h5>다. 채용후보자의 자격상실</h5>

<p>채용후보자가 신규임용에 불응하거나, 채용후보자로서 받아야 하는 교육훈련에 불응한 때, 채용후보자가 교육·훈련 결과 불합격 판정을 받았을 때에는 채용후보자 자격을 상실시킬 수 있습니다.</p>

<h5>라. 특별채용</h5>

<p>공개경쟁시험에 의하여 임용하는 것이 부적당한 경우로서 동종직무에 관한 자격증 소지자를 임용하는 경우, 외국어에 능통한 자를 임용하는 경우, 연고지 기타 지역적 특수성을 고려하여 일정한 지역에 거주하는 자를 그 지역에 소재하는 기관에 임용하고자 하는 경우 등에는 특별채용할 수 있습니다.</p>

<h4>3. 승진제도</h4>

<p>직원을 승진 임용할 때에는 동일직종의 바로 하위직급에 재직하는 직원을 임용하되, 근무평정·현직급 근무년수·포상·징계 등을 종합 평가하여 작성한 승진후보자명부를 기초로 하여 위원회의 의결을 거치게 됩니다.</p>

<ul>
	<li>일반직 5급에의 승진임용은 승진시험(필기시험) 또는 위원회의 승진심사를 거쳐야 한다.</li>
	<li>승진소요 최저기간
		<ul>
			<li>일반직 7급 - 1년 이상 · 일반직 6급 - 2년 이상 · 일반직 5급 - 2년 6월 이상</li>
			<li>일반직 4급 - 3년 이상 · 일반직 3급 이상 - 2년 이상</li>
			<li>서무직 5급, 4급 - 1년 이상 ·서무직 3급, 2급 - 1년 6월 이상</li>
		</ul>
	</li>
</ul>

<p>특별승진임용 － 직무수행능력이 탁월하여 공단의 발전에 현저한 공헌을 한 자에 대하여 위원회의 의결을 거쳐 특별승진임용 할 수 있습니다.</p>

<h3>Ⅲ. 일반직 7급 공개채용시험 실시 요강</h3>


<h4>1. 채용 방법</h4>

<p>공개경쟁채용 또는 특별채용시험 실시</p>

<h4>2. 채용공고 방법</h4>

<p>공단 인터넷 홈페이지(www.klac.or.kr)또는 일간신문공고</p>

<h4>3. 응시자격 및 근무지역</h4>

<ul>
	<li>응시자격 － 일반직 7급 최종시험일이 속하는 연도에 만20세 이상 만30세 이하에 해당하는자(제대군인에 대하여 최대 3년까지 응시연령 연장됨)
		<ul>
			<li>※ 학력 및 경력제한 없음</li>
			<li>※ 국가공무원법 제33조 제1항 각 호에 의한 결격사유가 없으며 병역법에 의한 병역기피 사실이 없는 자</li>
			<li>※ 남녀구분 없음</li>
		</ul>
	</li>
	<li>근무지역 － 서울 등 전국</li>
</ul>

<h4>4. 전형방법</h4>

<ul>
	<li>1차 : 서류전형</li>
	<li>2차 : 필기시험</li>
	<li>3차 : 면접시험</li>
</ul>

<h4>5. 응시원서 교부 및 접수 장소</h4>

<p>공단 본부 및 각 지부에서 접수함</p>

<h4>6. 서류전형 : 공단 소정의 서류전형기준에 의함</h4>

<h4>7. 필기시험</h4>

<ul>
	<li>시험과목(4과목, 객관식, 각25문씩) : 민법, 형법, 민사소송법(민사집행법 포함), 형사소송법
		<ul>
			<li>※ 2006년부터는 영어과목을 토익, 텝스 또는 토플 성적으로 대체됨 - TOEIC 700점 이상,TEPS 625점 이상, TOEFL CBT 197점 이상, TOEFL PBT 530점 이상</li>
		</ul>
	</li>
	<li>출제위원 : 현직 교수, 판·검사, 변호사 중에서 위촉</li>
	<li>서류전형 합격자에 한하여 응시할 수 있음</li>
</ul>

<h4>8. 응시자 제출서류</h4>

<ul>
	<li>응시원서(공단 소정양식, 반명함판사진 2매 첩부) － 1통</li>
	<li>자필이력서(이력서양식에 의함, 사진 첩부) － 1통</li>
	<li>주민등록표 초본(남자에 한함) － 1통</li>
	<li>취업보호·지원대상자 증명서, 자격증사본(해당자에 한함) － 1통</li>
	<li>영어능력검정시험 성적표 － 1통</li>
	<li>응시수수료 : 5000원(응시원서 접수시 납부)</li>
</ul>


<h4>9. 연도별 공개채용시험 실시현황 및 향후 계획</h4>

<table summary="연도별 공개채용시험 실시현황">
	<thead>
		<tr>
			<th>필기시험일</th>
			<th>시험과목</th>
			<th>응시인원</th>
			<th>서류전형 합격</th>
			<th>최종합격</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>'00.02.27</td>
			<td>영어, 민법, 형법, 민소법, 형소법</td>
			<td>1.028</td>
			<td>961</td>
			<td>83</td>
			<td></td>
		</tr>
		<tr>
			<td>'01.11.18</td>
			<td>영어, 민법, 형법, 민소법, 형소법</td>
			<td>340</td>
			<td>340</td>
			<td>21</td>
			<td></td>
		</tr>
		<tr>
			<td>'02.12.15</td>
			<td>영어, 민법, 형법, 민소법, 형소법</td>
			<td>1.518</td>
			<td>1,516</td>
			<td>25</td>
			<td></td>
		</tr>
		<tr>
			<td>'04.07.18</td>
			<td>영어, 민법, 형법, 민소법, 형소법</td>
			<td>1.918</td>
			<td>1,918</td>
			<td>28</td>
			<td></td>
		</tr>
		<tr>
			<td>'06,04,02</td>
			<td>민법, 형법, 민소법, 형소법</td>
			<td>585</td>
			<td>585</td>
			<td>40</td>
			<td></td>
		</tr>
	</tbody>
</table>


<h4>10. 기 타</h4>

<ul>
	<li>보수수준 : 국가공무원 공안직 7급 보수수준</li>
	<li>여성합격자가 채용예정인원의 10%에 미달되는 경우 필기시험 만점의 3%까지 가산</li>
	<li>국가유공자등예우및지원에관한법률 제29조 및 독립유공자예우에관한법률 제16조에 의한 취업보호대상자, 5.18민주유공자예우에관한법률 제20조에 의한 취업지원대상자는 필기시험 만점의 10%, 국가기술자격법령에 의한 통신 정보처리분야 사무관리분야 자격증 소지자는 필기시험만점의 3%~0.5%를 가산</li>
	<li>기타 자세한 사항은 공단 본부 운영총괄팀 (서울 서초구 서초동 1703-10, ☏ 02－3482－0546～7)로 문의하기 바랍니다.</li>
</ul>

<p>※위의 사항은 공단사정에 의하여 일부 변경될 수도 있습니다 </p>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>