<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>연혁</h2>

<ul>
	<li>2000년-현재</li>
	<li>1990년</li>
	<li>1980년-1979년</li>
</ul>

<h3>1990년</h3>

<h4>1999</h4>

12. 23  	 	조흥은행과 도시영세민무료법률구조사업 협약 변경 - 기금 확대 출연(100억원→500억원)
12. 20 	본부 및 서울지부 청사 취득 - 서울 서초구 서초동 1703-10(지상 5층 지하 2층)
09. 20 	검찰 고소·고발 이첩 민사사건 법률구조 시범실시 - 광주지부, 서부(직), 경주(출)
07. 24 	법무부 장관 공단 순시 - 고소·고발사건 중 불기소사건 공단 이첩처리 등 공단 활성화 방안 지시
07. 01 	형사법률구조 대상사건 및 대상자 범위 확대 실시
- 기소전 구속사건으로까지 대상사건 확대(생활보호대상자, 소년소녀가장)
- 형사사건법률구조대상자를 공판절차에 회부된 사건, 소년부에 송치된 사건에 대해서는 민·가사 법률구조 대상자와 동일하게 확대
- 국선변호사건 취급
07. 01 	『132』ARS(36회선) 및 FAX(4회선) 상담 실시(본부) - 주택임대차 등 396사례
02. 10 	직제개편 - 본부(2실4부9과), 상담부폐지, 구조1 2부개편, 법무관리실→과로 조정
02. 01 	담배소매인 무료법률구조사업 실시(승소가액 5천만원이하) 본부, 지부 및 출장소 법률구조심사회 폐지
01. 01 	민·가사 법률구조대상자 범위 확대 실시
- 월수입 130만원 이하 근로자 및 영세상인
- 도시영세민 무료법률구조 대상자 범위 제한 (승소가액 5천만원이하)

<h4>1998</h4>

12. 30  	 	한국담배인삼공사와 담배소매인 무료법률구조사업 협약 체결
10. 17 	상담사례집 제4권『알아두면 힘이 되는 힘이 되는 생활법률』발행 - 상담사례 900건 수록
10. 08 	직제개편 본부 (3실 4부 9과), 상임감사 폐지 총무과→행정실, 정원조정 562→558명
10. 01 	포항출장소 신설 - 본부, 12개 지부, 5개 직할출장소, 35개출장소
03. 01 	울산지부 승격 - 본부, 13개 지부, 5개 직할출장소, 34개출장소

<h4>1997</h4>

<ul>
	<li>12. 20 본부 청사이전 - 강남구 도곡동 418-4 한방빌딩</li>
	<li>10. 01 도시영세민무료법률구조사업 실시</li>
	<li>10. 01 교과서에 법률구조제도 수록
		<ul>
			<li>- 초등학교 6학년 2학기 『사회과탐구』</li>
			<li>- 중학교 3학년 1학기 『사회』</li>
			<li>- 고등학교 교과서 및 교사용지도지침서 『정치』</li>
		</ul>
	</li>
	<li>09. 22 제5대 심상명 이사장 취임</li>
	<li>09. 08 조흥은행과 도시영세민 무료법률구조사업 협약 체결</li>
	<li>09. 06 베트남 항공기 추락사고 유족지원 무료법률상담 실시</li>
	<li>09. 05 창설 10주년 세미나 개최
		<ul>
			<li>- 주제 : 21세기를 향한 법률구조제도의 발전방향</li>
			<li>- 발표자 : 송상현(서울대교수) 등 3명</li>
		</ul>
	</li>
	<li>08. 30 각국의 법률구조제도 발간 - 한국등 11개국 법률구조제도 소개</li>
	<li>08. 17 ∼ 23 괌 KAL기 추락사고 유족지원 무료법률 상담 실시- 장소 : 정부합동대책반(괌) 및 유족대책위원회</li>
	<li>07. 01 천리안을 통안 CUG(기업통신서비스)운용- 본부 각 부서와 지부 ·출장소간의 업무연락 및 문서 발신 업무</li>
	<li>06. 16 천리안 PC통신 직접 상담 확대 실시- GO LQA→SOS 법률상담코너</li>
	<li>05. 01 '132'상담전화 확대 실시 - 대전, 대구, 부산, 광주</li>
	<li>02. 01 법생활화 강연자료집 발간-법생활화 강연시 주제선정 자료 활용 목적</li>
	<li>01. 13 인삼협과 인삼경작인 무료법률구조사업 협약 체결</li>
</ul>

<h4>1996</h4>

<ul>
	<li>09. 01 평택출장소 신설</li>
	<li>08. 28 축협과 축산인무료법률구조사업 협약 체결 - 기금 마련을 위한 축산사랑통장 개발</li>
	<li>07. 01 농 어민무료법률구조사업 실시</li>
	<li>06. 01 형사법률구조사업 실시
		<ul>
			<li>대상사건 : 공판절차에 회부된 사건, 소년부에 송치된 사건</li>
			<li>대 상 자 : 농어민, 장애인, 생활보호대상자, 국가보훈대상자, 소년 소녀가장, 기타 생활이 어려운 근로자 및 영세상인 등</li>
		</ul>
	</li>
	<li>04. 01 '132'법률상담전용전화 개통(서울)</li>
	<li>03. 30 직제개편(2실 4부 10과) - 포항, 평택출장소 신설, 상담부 신설 등</li>
	<li>02. 14 수협과 어민무료법률구조사업 협약 체결 - 기금 마련을 위한 어민사랑통장 개발</li>
	<li>01. 19 농협과 농민무료법률구조사업 협약 체결 - 기금 마련을 위한 농민사랑통장 개발</li>
</ul>

<h4>1995</h4>

<ul>
	<li>08. 01 차량이동상담 실시 - 서울역, 청량리역, 고속버스터미널 등</li>
	<li>07. 10 법률상담사례집 제3권 발행 - 상담사례 524건 수록</li>
	<li>05. 20 공익법무관 배치(15명)</li>
	<li>03. 22 직제개편(2실 3부 8과) - 부천(출) 신설, 홍보실→홍보과, 조사연구실→법무관리실,감사실→감사과, 업무관리과 폐지</li>
	<li>01. 01 법률구조대상자 범위 확대 - 월수입 70만원이하 근로자 → 100만원이하 근로자로 확대</li>
</ul>

<h4>1994</h4>

<ul>
	<li>12. 31 공익법무관에관한법률 제정 공포(법률 제4836호) 법률구조법 개정- 공익법무관 관련규정 신설</li>
	<li>09. 22 제4대 김현철 이사장 취임</li>
	<li>06. 30 '한국법률구조사' 발행</li>
</ul>

<h4>1993</h4>

<ul>
	<li>10. 01 소송비용상환 면제범위 확대 - 승소가액 300만원 이하 → 500만원 이하</li>
	<li>06. 08 컴퓨터통신을 이용한 법률정보서비스 실시 - 천리안, 포스서브, 하이텔, 행정종합전산망 등</li>
	<li>05. 01 전화자동법률상담 실시(700-2080)</li>
	<li>01. 01 법률구조대상자 범위 확대 -월수입 50만원이하 근로자 → 70만원이하 근로자로 확대</li>
</ul>

<h4>1992</h4>

<ul>
	<li>11. 30 직제개편(3부 4실 7과) - 조사연구실 신설</li>
	<li>09. 24 ∼25 창설 5주년기념 국제강연회 개최
		<ul>
			<li>주 제 : 법률구조제도의 발전방향</li>
			<li>참가국 : 한국, 미국, 독일, 필리핀</li>
		</ul>
	</li>
	<li>09. 01 법률상담사례집 제2권 - 상담사례 326건, 소송구조사례 10건</li>
	<li>04. 03 직제개편(3부 3실 7과) - 홍보실 신설</li>
	<li>03. 02 출장상담 실시(동작 양천구청)</li>
	<li>02. 15 본부 청사이전 - 강남구 도곡동 411-2 제일빌딩</li>
</ul>

<h4>1991-1990</h4>

<ul>
	<li>1991. 12. 30 '법률구조' 계간지 창간, 발행부수 : 매회 3,000부</li>
	<li>1991. 10. 01 본부 야간 휴일상담 실시</li>
	<li>1991. 09. 01 직제개편(3부 2실 6과)</li>
	<li>1991. 07. 15 제3대 김동철이사장 취임</li>
	<li>1990. 06. 04 법률구조대상자 범위 확대 -월수입 40만원이하 근로자 → 50만원이하 근로자로 확대</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>