<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<p>국민과 함께하는 대한법률구조공단의 희망과 행복 창조의 정신을 표현한 CI입니다.</p>

<h2>CI소개</h2>

<ul>
	<li>심볼 및 로고</li>
	<li>시그니쳐</li>
	<li>응용CI</li>
</ul>

<h3>심볼 및 로고</h3>

<ul>
	<li>자유로운 사람과 희망을 나타내는 빛 이미지</li>
	<li>사람을 감싸안은 모습의 대한법률구조공단</li>
	<li>대한법률구조공단 KOREA LEGAL AID CORPORATION</li>
	<li>푸른색의 정의와 신뢰, 노란색의 빛과 희망, 자유로운 사람등에서 발전적이고 희망적인 의미를 담고 있다.</li>
	<li>전체적으로 부드러운 원의 이미지로 권위적이고 보수적인 태도를 지양하고 보다 친근하고 편안함을 느끼게 하는 법률서비스 기관이 되겠다는 것을 나타낸다.</li>
	<li>DOWNLOAD AI</li>
	<li>DOWNLOAD GIF</li>
</ul>

<h4>칼라시스템</h4>

<h5>법과 정의 신뢰를 상징</h5>

<ul>
	<li>Deep Blue(C96 + M92)
		<ul>
			<li>안정감, 평화, 청아함, 진한파랑(Deep Blue)은 깊은 신뢰감과 세련됨</li>
		</ul>
	</li>
	<li>Sky Blue(C68)
		<ul>
			<li>진실, 순수</li>
		</ul>
	</li>
</ul>

<h5>빛과 희망을 상징</h5>

<ul>
	<li>Vermilion(C3 + M62 + Y95)
		<ul>
			<li>활기찬 에너지, 따듯함, 미래지향적</li>
		</ul>
	</li>
	<li>Yellow(C3 + M2 + Y50)
		<ul>
			<li>긍적적, 밝음, 생기 태양과 빛을 상징(기쁨과 풍요로움)</li>
		</ul>
	</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>