<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<p>윤리경영 공공기관의 경영활동에 있어서 지켜야 할 '윤리'를 최우선의 가치로 법적&middot;경제적 책임은 물론 사회 통념상 기대되는 윤리적 책임을 다함으로써 고객에게 신뢰를 얻을 수 있도록 경영하는 것을 의미합니다. 대한법률구조공단은 윤리경영의 실천으로 깨끗하고 투명한 기관 만들기에 최신을 다하고 있습니다.</p>

<h2>윤리경영</h2>

<ul>
	<li>윤리경영철학</li>
	<li>윤리규범</li>
	<li>윤리경영메뉴얼</li>
	<li>윤리경영자료실</li>
	<li>추진활동</li>
</ul>

<h3>윤리경영 추진체계</h3>

<ul>
	<li>국민들이 만족하고 신뢰하는 투명하고 부조리 없는 선진법률복지기관 지향</li>
	<li>윤리경영실천</li>
	<li>윤리경영 인프라구축
		<ul>
			<li>윤리경영 추진체계 구성</li>
			<li>윤리헌장 행동강령</li>
			<li>부조리 클린, 내부공익신고센터 설치</li>
			<li>청렴서약제 실시</li>
			<li>윤리경영 문화조성</li>
		</ul>
	</li>
	<li>윤리경영실천을 위한 업무과정 혁신
		<ul>
			<li>행동강령 실천강화 및 클린신고센터 등 활성화</li>
			<li>모니터링 및 감시기능 강화</li>
			<li>경영공시 강화</li>
			<li>윤리경영 평가 및 보상체계 운영</li>
		</ul>
	</li>
	<li>윤리경영 역량확보
		<ul>
			<li>윤리경영 실천교육 체계확립</li>
			<li>윤리경영 사례 발굴 및 확산</li>
			<li>홈페이지 윤리경영 사이트 구축</li>
		</ul>
	</li>
	<li>전사적인 사회 공헌활동 전개
		<ul>
			<li>CEO솔선수범</li>
			<li>소외지역 및 계층을 위한 출장상담</li>
			<li>이웃과 함께하는 자원봉사단 운영</li>
			<li>사랑의 생명 나눔운동 참여</li>
			<li>전직원 자원봉사제 실시</li>
		</ul>
	</li>
</ul>

<h3>윤리경영 추진조직도</h3>

<ul>
	<li>윤리경영위원회
		<ul>
			<li>위원장: 이사장</li>
			<li>위원: 사무총장, 본부 각 부(실)장</li>
		</ul>
	</li>
	<li>사무국</li>
	<li>윤리경영전담관</li>
	<li>감사실</li>
</ul>

<h3>윤리경영 추진기구 및 역할</h3>

<table width="100%" cellpadding="0" cellspacing="0" summary="윤리경영 추진기구, 수행역할, 비고">
<caption></caption>
	<thead>
		<tr>
			<th>기구</th>
			<th>수행역할</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>윤리경영위원회</td>
			<td>
				<ul>
					<li>윤리경영 중요정책 결정</li>
					<li>윤리경영방침 재개정 등의 심의 의결</li>
				</ul>
			</td>
			<td>비상설</td>
		</tr>
		<tr>
			<td>사무국</td>
			<td>
				<ul>
					<li>윤리경영추진계획 수립</li>
					<li>윤리경영위원회 운영</li>
					<li>윤리경영체제 구축, 윤리경영교육 등</li>
				</ul>
			</td>
			<td>감사실 겸무</td>
		</tr>
		<tr>
			<td>윤리경영 전담관</td>
			<td>
				<ul>
					<li>부서, 지부별 윤리경영 실행</li>
					<li>추진과제 발굴 및 이행실적 정리 등</li>
				</ul>
			</td>
			<td>본부 팀장, 지부 고객지원부(팀)장</td>
		</tr>
		<tr>
			<td>감사실</td>
			<td>
				<ul>
					<li>부조리 클린, 내부공익신고센터 운영</li>
					<li>윤리헌장 및 행동강령 이행실태 점검 운영</li>
				</ul>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>