<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<p>윤리경영 공공기관의 경영활동에 있어서 지켜야 할 '윤리'를 최우선의 가치로 법적&middot;경제적 책임은 물론 사회 통념상 기대되는 윤리적 책임을 다함으로써 고객에게 신뢰를 얻을 수 있도록 경영하는 것을 의미합니다. 대한법률구조공단은 윤리경영의 실천으로 깨끗하고 투명한 기관 만들기에 최신을 다하고 있습니다.</p>

<h2>윤리경영</h2>

<ul>
	<li>윤리경영철학</li>
	<li>윤리규범</li>
	<li>윤리경영메뉴얼</li>
	<li>윤리경영자료실</li>
	<li>추진활동
		<ul>
			<li>클린신고</li>
			<li>부조리신고</li>
			<li>내부공익신고</li>
			<li>청렴서약제</li>
			<li>클린행정협조문</li>
			<li>기타추진실적</li>
		</ul>
	</li>
</ul>

<h3>추진활동</h3>

<h4>청렴서약제</h4>

<p>청약서약제 시행을 통해 투명한 행정을 구현합니다.</p>

<h5>Ⅰ. 목적</h5>

<p>공사, 임대차, 물품·용역 등 각종 계약과 관련한 부패로 인하여 예산 낭비가 초래되므로 계약과정에서부터 계약당사자인 해당계약담당직원 및 업체에 대하여 청렴서약서를 징구함으로써 부패와 부조리를 근절할 수 있는 환경 조성을 통한 투명행정 구현</p>

<h5>Ⅱ. 운영방법</h5>

<h6>주요내용</h6>

<ul>
	<li>①관계 직원은 금품, 향응 등을 수수하지 않겠다는 서약서 제출</li>
	<li>②업체는 금품, 향응 등을 제공하지 않겠다는 서약서 제출</li>
	<li>③입찰공고 조건 및 계약 조건에 삽입하여 엄격하게 시행</li>
	<li>④청렴서약 위반시 계약담당직원 및 업체는 관계법령 및 규정에 따라 제재</li>
	<li>⑤계약담당직원 및 직상급자, 차상급자까지 연대책임 부과</li>
	<li>⑦해당업체는 부정당업자로 일정기간 입찰참가자격 등 제한</li>
	<li>⑧임대차, 물품구매과정, 입찰과정 등 정보를 투명하게 공개</li>
</ul>

<h6>적용대상 및 시행시기</h6>

<ul>
	<li>2002. 11. 1.부터 3,000만원 이상의 공사, 물품, 용역, 임대차 등의 계약에 적용</li>
	<li>2005. 3. 8.부터 1,000만원 이상의 계약으로 적용대상 확대 실시</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>