<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>연혁</h2>

<ul>
	<li>2000년-현재</li>
	<li>1990년</li>
	<li>1980년-1979년</li>
</ul>

<h3>2000-현대</h3>

<h4>2008</h4>

<ul>
	<li>07. 01 법률구조대상자 확대- 월평균수입 260만원 이하의 국민 및 국내거주 외국인</li>
	<li>03. 01 법률구조대상자 확대- 13세 미만 남아 성폭력·가정폭력 피해자</li>
	<li>01. 01 선원법상의 임금·퇴직금 체불 및 재해보상 사고와 관련된 피해선원에 대한 무료법률구조 실시</li>
</ul>

<h4>2007</h4>

<ul>
	<li>11. 07 난민소송 관련 워크숍 개최- 강사 Rodger Haines(뉴질랜드 난민지위항소법원 부원장)</li>
	<li>10. 26 법률상담사례집『알아두면 힘이되는 생활법률』 2007년 개정증보판 발간</li>
	<li>09. 19.~ 11. 26 로스쿨 관련 업무협약 체결- 연세대학교 등 11개교</li>
	<li>09. 01 공단창설 20주년- 법률상담 4천 2백여만명, 법률구조 72만 8천여건</li>
	<li>06. 01 콜센터『132법률상담센터』 구축으로 전화상담 통합 운영 실시</li>
	<li>05. 10 일본 법무성 사무차관 오즈 히로스(小津 博司) 등 4명 방문</li>
	<li>04. 25 방송인 임성훈 명예 홍보대상 위촉</li>
	<li>04. 25 허진호 이사장 국민훈장 모란장 수상</li>
	<li>04. 16 생활법률 자동계산 프로그램 개발</li>
	<li>03. 19 행정정보공동이용시스템 도입- 주민등록표등본 등 법률구조 필요서류 전자 열람·출력 가능</li>
	<li>03. 01 본부 기획부 정보전략팀 신설 대구지부 서부출장소 신설</li>
	<li>02. 01 무료법률구조대상자 확대-한부모가족(모 · 부자가정, 미혼모 · 부가족, 기타 한부모가족, 조부모 가족)</li>
	<li>01. 29 여성가족부와 '한부모가족 무료법률구조사업' 협약 체결</li>
	<li>01. 24 한국사회복지사협회와 '복지인권 네트워크' 협약 체결</li>
	<li>01. 09 농협중앙회로부터 농업인 무료법률구조사업 10주년 기념 감사패 수상</li>
	<li>01. 08 여성가족부와 '성폭력피해여성 무료법률구조사업' 협약 체결</li>
	<li>01. 01 법률구조대상자 확대- 월평균수입 240만원 이하의 국민 및 국내거주 외국인</li>
</ul>

<h4>2006</h4>

<ul>
	<li>12. 13 '농촌사랑 1사 1촌 자매결연' 체결(경기 가평 대보1리)</li>
	<li>12. 01 윤리경영위원회 및 사무국 설치, 윤리경영전담관 지정</li>
	<li>11. 22 신용대상 공로상 수상(주관 : 문화일보 · 사회연대은행 등) 농협, 농업인 무료법률구조적립금 13억원 출연</li>
	<li>11. 14 수협, 어업인 무료법률구조적립금 4천 5백만원 출연</li>
	<li>11. 02 신한은행, 도시영세민 무료법률구조적립금 50억원 출연</li>
	<li>10. 31 전략적 성과관리(BSC) 시스템 구축</li>
	<li>10. 18 상호협력방안 모색을 위한 시만사회단체와의 간담회 개최</li>
	<li>10. 17 법률구조수기집「마음으로 여는 따뜻한 법률구조」발간</li>
	<li>09. 28 일본 히로시마변호사회 소속변호사 일행 공단 방문 직원 휴양시설(콘도미니엄) 마련</li>
	<li>09. 19 개방형 직위 · 직위공모제 도입 및 시행</li>
	<li>09. 06 고객만족(CS) 전담부서 신설</li>
	<li>09. 01 공단 창설 19주년- 법률상담 3천 8백여만명, 법률구조 62만여건 실시 윤리헌장 제정, 윤리경영 선포식 및 실천다짐대회 개최</li>
	<li>08. 29 베트남 법무부 따띠밍리(Ta Thi Mihn Ly) 법률구조국장 공단 방문</li>
	<li>07. 01 무료법률구조대상자 확대
		<ul>
			<li>영세담배소매인(월평균 담배판매 수입금액 220만원 이하)</li>
			<li>소상공자영업자에 대한 대상사건 및 소송비용 지원범위 확대</li>
		</ul>
	</li>

	<li>05. 11 중소기업 경영자문사업 업무협약 체결</li>
	<li>05. 08 「개인회생 · 파산 지원센터 」프로그램 대국민 서비스 개시</li>
	<li>05. 01 법률구조대상자 확대
		<ul>
			<li>5 · 18 민주유공자</li>
			<li>개인회생 · 파산 · 면책신청 대상자 법률구조위원 위촉 및 법률구조사업 지원</li>
			<li>외부변호사 128명 위촉</li>
		</ul>
	</li>

	<li>04. 04 일본 변호사연합회 소속변호사 일행 공단 방문</li>
	<li>01. 09 개인파산 · 파산 지원을 위한 공개강연 및 상담 실시- 서울중앙지부 주관 매주 수요일</li>
	<li>01. 06 일본 스기우라 세이켄(彬浦正建) 법무대신 공단 방문</li>
	<li>01. 02 법률구조대상자 확대- 범죄피해자 무료법률구조사업 실시(복원위원회, 복권기금 31억 3천    8백만원 출연)</li>
	<li>01. 01 법률구조대상자 확대
		<ul>
			<li>월평균수입 220만원 이하의 국민 및 국내거주 외국인</li>
			<li>참전유공자</li>
			<li>법원이 공단 소속변호사 또는 공익법무관을 개인회생 · 파산사건의    소송구조 지정변호사로 지정한 사건의 청구인</li>
		</ul>
	</li>
</ul>

<h4>2005</h4>

<ul>
	<li>12. 29 수협, 어업인 무료법률구조적립금 4천 5백만원 출연</li>
	<li>12. 26 체불임금근로자 지원을 위한 공개강연 및 상담 실시- 서울중앙지부 주관, 매주 월요일 실시</li>
	<li>12. 06 베트남 국회의원 공단 방문- 응유엔 띠 박 베트남 법률위원회 부위원장 등 6명</li>
	<li>11. 23 외국인근로자를 위한 영문안내책자 발간</li>
	<li>10. 20 하반기 상호협력방안 모색을 위한 시민사회단체와의 간담회 개최- 경실련, 참여연대, 흥사단 등 29개 단체 참석</li>
	<li>10. 19 농협, 농업인 무료법률구조적립금 13억원 출연</li>
	<li>10. 01 포털사이트 네이버를 통해 무료법률정보 서비스 실시- 법률서식, 법률상담사례 등 5,400여건 제공</li>
	<li>09. 23 파산, 개인회생 지원을 위한 전담팀 운영- 서울중앙지부 등 7개 지부 실시</li>
	<li>09. 01 공단 창설 18주년
		<ul>
			<li>- 법률상담 3천3백여만명, 법률구조 54만여건 실시</li>
			<li>- 소상공자영업자에 대한 법률구조사업 실시</li>
			<li>- 중소기업청과 소상공자영업자를 위한 법률구조협약 체결</li>
		</ul>
	</li>
	<li>08. 18 몽골 공무원 및 NGO 활동가 공단 방문- 몽크 제렐 몽골국 법률내무부 차관보, 다바슈렌 엥크쟈갈 몽골국민폭력방지센터 소장 등 6명</li>
	<li>07. 01 무료법률구조대상자 확대- 임금체불 피해근로자, 북한이탈주민, 독립유공자, 저소득여성가장, 탈성매매여성</li>
	<li>06. 16 시민사회단체와의 상호연계방안 모색을 위한 간담회 개최- 공단 대구지부 주최, 경실련 등 14개 단체</li>
	<li>06. 15 노인학대 전문상담원을 위한 공단안내 및 간담회 개최</li>
	<li>06. 14 홈페이지 개편- 나의사건검색, 홍보동영상, 무료법률구조종합정보 등 컨텐츠 강화</li>
	<li>06. 02 한국소비자보호원과 소비자 피해구조를 위한 업무협약 체결</li>
	<li>05. 13 조흥은행, 도시영세민 무료법률구조적립금 50억원 출연</li>
	<li>04. 21 상반기 상호협력방안 모색을 위한 시민사회단체와의 간담회 개최- 경실련, 대한YWCA연합회, 한국여성의전화연합 등 19개 단체 참석</li>
	<li>04. 06 팀제 도입을 위한 직제 개편- 본부 및 서울중앙지부에 혁신행정팀 등 12팀 설치</li>
	<li>04. 01 외부기관위탁 고객만족도 조사- 조사기관 : 현대리서치, 조사기간: 4월 ~ 5월</li>
	<li>03. 2. 공단 C.I. 재정립- 공모를 통한 심볼마크 및 로고 개정</li>
	<li>01. 20 정영덕 이사, 장동완 감사 선임</li>
	<li>01. 01 법률구조대상자 확대
		<ul>
			<li>- 월평균 수입 200만원 이하의 국민(국내거주 외국인 포함)</li>
			<li>- 국내거주 북한이탈주민에 대한 법률구조확대</li>
		</ul>
	</li>
</ul>


<h4>2004</h4>

<ul>
	<li>11. 24 수협, 어업인 무료법률구조적립금 4천 5백만원 출연</li>
	<li>10. 25 농협, 농업인 무료법률구조적립금 13억원 출연</li>
	<li>10. 21 홍보용 공단안내 영상물 발간(시디 2,000매, 비디오 500개)</li>
	<li>10. 09 허진호이사장 취임</li>
	<li>09. 01 창설 17주년- 2,822만명 법률상담, 47만여 건의 법률구조</li>
	<li>07. 30 이사장 공개모집 설명회 개최</li>
	<li>05. 14 영문안내책자 발간(1,000부)</li>
	<li>05. 07 조흥은행 도시영세민 무료법률구조적립금 50억원 출연</li>
	<li>04. 26 권오덕 사무총장 제41회 법의 날 국민훈장 모란장 수상</li>
	<li>02. 01 직제개편(본부, 18개 지부, 37개 출장소)(서울지부를 서울중앙지부로 하고 구조부내 2개과를 구조1,2,3과로 분과, 서울지부 관할 5개 출장소를 지부로 승격, 고양출장소는 의정부지부 관할로 변경)</li>
	<li>01. 01 월평균수입 170만원 이하의 국민으로 대상자 확대
		<ul>
			<li>- 월평균수입 170만원 이하의 국내거주 외국인에 대해서도 내국인과 동일한 수준으로 법률구조 확대 실시</li>
			<li>- 형사사건 중 재심사건, 법률구조 대상사건에 행정심판 사건까지 확대 (단, 행정심판사건은 국무총리행정심판위원회 및 각 시, 도 행정심판위원회 사건)</li>
		</ul>
	</li>
</ul>

<h4>2003</h4>

<ul>
	<li>12. 06  	 	초고속국가정보통신망 가입 및 설치</li>
	<li>09. 25 	농협, 농업인 무료법률구조기금 13억원 출연</li>
	<li>09. 01 	- 창설 16주년(2,200만명 법률상담, 35만여 건의 법률구조)
		<ul>
			<li>- 소년원, 분류심사원 등 출장상담 확대 실시(소년원 등 19개 기관)</li>
			<li>- 상담사례집 제6권 「알아두면 힘이되는 생활법률」전정판 발행</li>
			<li>(전체 12편, 법률상담사례 2,033건 수록)</li>
		</ul>
	</li>
	<li>07. 07 	권오덕 사무총장 연임</li>
	<li>06. 19 	저소득 부자가정에 대한 무료법률구조사업 실시</li>
	<li>06. 16 	교도소 등 수용시설 44개 기관에 대한 출장상담 실시</li>
	<li>05. 17 	일본 자민당 사법제도조사회 소속 국회의원 등 9명 공단 방문</li>
	<li>05. 14 	수협, 어업인 무료법률구조기금 4,500만원 출연</li>
	<li>04. 15 	월평균 수입 150만원 이하의 국내거주 외국인에 대한 민· 가사 등 법률구조 확대 실시</li>
	<li>04. 14 	조흥은행, 도시영세민 무료법률구조기금 50억원 출연</li>
	<li>04. 01 	사이버상담실 확대(공익법무관 13명 → 19명 전담)</li>
	<li>03. 01 	고양출장소 개소(13개 지부, 42개 출장소)</li>
	<li>02. 21 	일본 법률부조협회 심사위원회 위원 공단 견학</li>
	<li>01. 01 	가정폭력 성폭력 성매매 피해여성에 대한 무료법률구조확대
		<ul>
			<li>- 대상자 : 가정폭력, 성폭력, 성매매 피해여성(국내거주 외국인 포함)</li>
			<li>- 대상사건 : 민, 가사 사건, 형사사건</li>
		</ul>
	</li>
</ul>


<h4>2002</h4>

<ul>
	<li>12. 23 여성부와 여성폭력 피해여성을 위한 무료법률구조 사업 협약 체결</li>
	<li>12. 07 ∼08 소속변호사 세미나 개최- 주제 : 기획소송 실시에 따른 문제점 및 시행방안 외 1</li>
	<li>12. 04 일본 대판지검 형사국 기타오카 검사 공단 견학</li>
	<li>09. 05 농협, 농업인 무료법률구조기금 13억원 출연 (민사사건 등 법률구조 20,540건, 형사무료변호 3,776건)</li>
	<li>09. 01 공단 창설 15주년(1,600만 명 법률상담, 30만여 건의 법률구조)- 안산출장소 개소(수원지검 안산지청내)</li>
	<li>08. 24 주 5일 근무제 시험 실시(매월 4번째 토요일, 월1회)</li>
	<li>08. 15 민사사건 대상자에 민사소송법에 의하여 법원으로부터 소송구조결정을 받은 사건의 피구조자</li>
	<li>08. 15 행정사건 중 당사자소송사건, 민중소송사건 및 기관소송사건까지 대상사건 확대</li>
	<li>04.20 ∼ 5.26 중국여객기 추락사고 유족들에 대한 법률상담 실시</li>
	<li>04. 15 조흥은행, 도시영세민무료법률구조기금 전달(기금 50억원)(16,424건의 민사사건 등 분쟁해결, 9,060명의 형사무료변호)</li>
	<li>04. 02 수협, 어업인 무료법률구조기금 전달 (기금 4,500만원) (786건의 민사사건 등의 분쟁해결, 261명의 형사무료변호)</li>
	<li>04. 01 모자가정에 대한 무료법률구조사업 실시</li>
	<li>04. 01 사이버상담실 확대(전담 공익법무관 10명→13명)</li>
	<li>03.14 ~ 03.16 2002 중소기업 금융박람회 무료법률상담 지원</li>
	<li>01.02 홈페이지 개편(법률상담사례 등 법률정보 5,200여건 게재 등)</li>
</ul>

<h4>2001</h4>

<ul>
	<li>11. 06 ∼ 07  	 	베트남 법률구조기관장 공단본부 방문 및 수원지부 견학</li>
	<li>10. 09 	제6대 최신석 이사장 취임</li>
	<li>09. 01 	공단 창설 14주년
		<ul>
			<li>- 8월말까지 1,260만명 국민에게 법률상담 및 정보제공</li>
			<li>- 28만여건의 민사, 가사, 행정, 헌법소원사건 법률구조</li>
			<li>- 형사법률구조사업이 시작된 1996. 6.부터 28,000여명의 무료변호</li>
		</ul>
	</li>
	<li>05. 24 	일본 오쯔지검 후쿠하라 미치오 검사 견학</li>
	<li>05.02∼26 	KBS TV 공익광고(공단 및 법률구조제도 소개)</li>
	<li>04. 01 	대한법률구조공단발전연구기획단 발족
		<ul>
			<li>기획단장 : 구조부장, 연구원 : 공익법무관 2인</li>
			<li>44개 시 군법원 소재지 주민들에 대한 출장 상담실시</li>
			<li>사이버상담실 확대(전담 공익법무관 7명→10명)</li>
		</ul>
	</li>
	<li>01. 01 	소송비용 하향조정 - 대국민 법률복지 증진을 위하여 변호사보수비용을 평균 50% 하향조정</li>
</ul>

<h4>2000</h4>

<ul>
	<li>12. 01  	 	사이버 상담실 본격 가동(7인 공익법무관 전담)</li>
	<li>09. 22 	전화상담전용전화『132』서비스지역 전국 확대, 권오덕 이사장 직무대행 체제</li>
	<li>08. 01 	상담사례집 제5권『알아두면 힘이되는 생활법률』발행 - 상담사례 1,036사례 수록</li>
	<li>07. 07 	사무총장 권오덕 사무총장 취임</li>
	<li>07. 01 	행정소송·헌법소원사건 확대 실시</li>
	<li>06. 01 	인터넷 홈페이지 법률상담 실시</li>
	<li>05. 04 	민원사건이 소장등 서류작성을 통해 사건처리가 가능할 경우 검찰청 파견 공익법무관이 직접 처리하는 신속한 법률구조 실시</li>
	<li>05. 01 	모든 형사법률구조대상자에 대하여 기소전 구속사건까지 형사법률구조 대상사건 확대, 1,000만원 이하인 사건에 대해 소장등 서류 작성, 법률구조 『132』ARS 법률정보 서비스 지역 대전, 대구, 부산, 광주 지역까지 확대</li>
	<li>04. 01 	검찰 고소·고발사건에 대한 민사법률구조 병행처리제 실시, 월평균 150만원 이하의 국내거주 외국인을 민사법률구조대상자에 포함 무료법률구조 대상자 범위 확대 (장애인 1∼6급, 월평균 수입 150만원 이하이고 재산세 미과세대상자 중 주택임대차보호법에서 정한 소액임차인에 해당하는자, 도시영세민, 담배소매인 사건의 경우 무료법률 구조대상사건 범위를 승소가액이 5,000만원이하인 사건에서 승소가액 2억원 이하인 사건으로 대폭 확대)</li>
	<li>03. 25 	본부 및 서울지부 청사 이전 - 서울 서초구 서초동 1703-10, 대한법률구조공단 빌딩</li>
	<li>02. 18 	직제규칙개정 - 정부의 경영혁신방침에 따라 본부조직 축소(4부 4실 7과→ 3부 2실 6과) - 서울지부 독립 - 정원을 현원 수준으로 감축(558명→515명)</li>
	<li>01. 01 	법률구조대상자를 월평균수입 130만원→150만원으로 상향 구조대상자가 아닌 경우에도 공동으로 소송을 수행할 필요가 인정되는 경우 구조대상자로 포함.</li>
</ul>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>