<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h2>공단포토</h2>

<ul>
	<li>2000년-현재</li>
	<li>1990년대</li>
	<li>1980년대</li>
</ul>

<h3>1990년대</h3>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>