<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/klac/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/klac/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		<!-- #include virtual = /klac/common/comm/skip.vm-->
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			<!-- #include virtual = /klac/common/include/header.vm -->			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				<!-- #include virtual = /klac/common/include/leftMenu_xxx.vm -->				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<p>공단은 국민으로부터 받은 신뢰와 사랑을 되돌려 드리고 함께하는 사회를 만들기 위해 지속적인 '사랑나눔 실천운동'을 펼치고 있습니다.</p>

<h2>사회공헌</h2>

<ul>
	<li>사회공헌소개</li>
	<li>추진활동</li>
</ul>

<form id="" method="" action="" onsubmit="return ">
	<fieldset>
		<legend>추진활동</legend>
		<label for="p_colum">SEARCH</label>
		<select name="p_colum" id="p_colum">
			<option value="WS215_title">제 목</option>
			<option value="WS215_cntnt">내 용</option>
		</select>
		<input type="text" value="" name="" />
		<input type="image" src="" alt="겸색하기" />
</form>
<table>
	<thead>
		<tr>
			<th>번호</th>
			<th>파일</th>
			<th>제목</th>
			<th>날짜</th>
			<th>조회</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>22</td>
			<td></td>
			<td>공단, 농촌 일손 돕기 행사 실시</td>
			<td>2008-11-21</td>
			<td>123</td>
		</tr>
	</tbody>
</table>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			<!-- #include virtual = /klac/common/comm/quickMenu.vm -->			
		</div>		
	</div>
</body>
</html>