<h1>기획부</h1>

<table summary="">
	<thead>
		<tr>
			<th>성명</th>
			<th>직위</th>
			<th>전화번호</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>권의곤</td>
			<td>기획부장</td>
			<td>02)3482-0636</td>		
		</tr>
	</tbody>
</table>

<p>
	<span><a href="" title="인쇄하기">print</a></span>
	<span><a href="" title="팝업창 닫기">close</a></span>
</p>