<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr"/>
	<meta name="description" content="KOREA LEGAL AID CORPORATION" />
	<meta name="keyword" content="법률구조공단" />
	<title>법률구조공단 &gt; </title>
	<link rel="stylesheet" type="text/css" href="/css/kl_xxx.css" />

	<script type="text/javascript" language="javascript" src="/jscript/common.js"></script>
	
</head>

<body>
	<div id="skipMenu">
		#include("/common/comm/skip.vm")
	</div>

	<div id="wrapper">
		<div id="header">
		<!-- header	   -->
			#include("/common/include/header.vm")			
		</div>

		<div id="contentWrapper">
		<!-- contentWrapper -->
			<!-- subvisual -->
			<p class="subVisual"></p>
		
			<div id="leftMenu">
			<!-- leftmenu -->
				#include("/common/include/leftMenu_xxx.vm")				
			</div>

			<div id="content" class="content-type2">
			<!-- content -->
				<div id="pageLocation">
					<!-- include -->
				</div>
				<h1>page title</h1>

<h1>홈페이지 개선의견</h1>

<p>공단 홈페이지를 이용하시면서 느끼셨던 불편한 사항이나 개선의견이 있으시면 아래 내용을 작성하여 보내세요. 보내주신 소중한 의견은 우리 공단 홈페이지의 개선을 위해 적극 반영하겠습니다.</p>

<form id="formID" method="post" action="" onsubmit="return ">
	<fieldset>
		<legend>부조리 신고하기</legend>

		<ul>
			<li>
				<dl>
					<dt><label for="p_name">작성자</label></dt>
					<dd><input type="text" maxlength="40" name="p_name" id="p_name"/></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><label for="p_email">이메일</label></dt>
					<dd><input type="text" maxlength="100" name="p_email" id="p_email"/></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><label for="p_title">제목</label></dt>
					<dd><input type="text" maxlength="100" name="p_title" id="p_title"/></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><label for="p_cont">개선의견</label></dt>
					<dd><textarea rows="15" name="p_cont" id="p_cont"></textarea></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><label for="upfile">파일첨부</label></dt>
					<dd><input type="file" maxlength="100" name="upfile" id="upfile"/></dd>
				</dl>
			</li>
		</ul>

		<ul>
			<li><input type="image" alt="의견쓰기"/></li>
			<li><input type="image" alt="취소하기" onclick="return jsWriteCancel('formID',event);" onkeypress="return jsWriteCancel('formID',event);"/></li>
		</ul>

	</fieldset>
</form>

			</div>
		</div>

		<div id="footer">
		<!-- footer -->		
		</div>

		<div id="quickMenu">
		<!-- quick menu -->
			#include("/common/comm/quickMenu.vm")			
		</div>		
	</div>
</body>
</html>